    <div class="sidebar-nav">
    <ul>
    <li><a href="index.php" class="nav-header"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a></li>
    <li><a href="inscriptions.php?course=11" class="nav-header"><i class="fa fa-fw fa-pencil"></i> Inscriptions 11km</a></li>        
    <li><a href="inscriptions.php?course=21" class="nav-header"><i class="fa fa-fw fa-pencil"></i> Inscriptions 21km</a></li>    
    <li><a href="attributions.php" class="hidden nav-header"><i class="fa fa-fw fa-pencil"></i> Dossards</a></li>					
	<li><a href="depart.php" class="hidden nav-header"><i class="fa fa-fw fa-clock-o"></i> Départs</a></li>
	<li><a href="arrivee.php?course=15" class="hidden nav-header"><i class="fa fa-fw fa-users"></i> Arrivées</a></li>
	<li><a href="classement.php?course=15" class="hidden nav-header" target="_blank"><i class="fa fa-fw fa-navicon"></i> Classements</a></li>
	</ul>
    </div>