.group {
  zoom: 1;
}
.group:before,
.group:after {
  content: " ";
  display: table;
}
.group:after {
  clear: both;
}
.wpcf7-form .wpcf7-number,
.wpcf7-form .wpcf7-quiz,
.wpcf7-form .wpcf7-text,
.wpcf7-form textarea {
  float: none !important;
  width: 100% !important;
  box-sizing: border-box;
}
.wpcf7-form .wpcf7-captchar,
.wpcf7-form .wpcf7-date,
.wpcf7-form .wpcf7-number,
.wpcf7-form .wpcf7-quiz,
.wpcf7-form .wpcf7-text {
  border: 1px solid #d2d2d2;
  font-size: 13px;
  color: #747474;
  padding: 8px 15px;
  float: none;
  width: 100%;
  margin-right: 0;
  box-sizing: border-box;
}
.wpcf7-form input[type="submit"] {
  padding: 5px 15px;
  font-weight: bold;
}
.wpcf7-form .wpcf7-captchar,
.wpcf7-form .wpcf7-date {
  width: 100%;
  margin-right: 0;
}
.wpcf7-form input {
  float: none;
}
.wpcf7-form textarea {
  border: 1px solid #d2d2d2;
  width: 100% !important;
  height: 150px;
  padding: 8px 15px;
  box-sizing: border-box;
  margin-right: 0;
  background-color: var(--form_bg_color);
  font-size: var(--form_text_size, 13px);
  color: var(--form_text_color, #747474);
  border-width: var(--form_border_width);
  border-color: var(--form_border_color);
  border-radius: var(--form_border_radius);
}
.wpcf7-form textarea::-moz-input-placeholder {
  color: var(--form_text_color);
}
.wpcf7-form textarea::-webkit-input-placeholder {
  color: var(--form_text_color);
}
.wpcf7-form textarea::-ms-input-placeholder {
  color: var(--form_text_color);
}
.wpcf7-form textarea:focus {
  border-color: var(--form_focus_border_color);
}
.wpcf7-form input[type="submit"] {
  font-weight: bold;
  cursor: pointer;
}
.wpcf7-form input[type="submit"]:not(.fusion-button-span-yes) {
  width: auto;
}
.wpcf7-form .wpcf7-not-valid-tip {
  display: inline;
}
.wpcf7-form .wpcf7-response-output {
  margin-left: 0;
  margin-right: 0;
  padding: 25px;
}
.wpcf7-form .wpcf7-mail-sent-ng,
.wpcf7-form .wpcf7-validation-errors {
  background-color: #f2dede;
  border: 1px solid #b94a48;
  color: #b94a48;
}
.wpcf7-form .wpcf7-mail-sent-ok {
  background-color: #dff0d8;
  border: 1px solid #468847;
  color: #468847;
}
.sidebar .wpcf7-form .wpcf7-number,
.sidebar .wpcf7-form .wpcf7-quiz,
.sidebar .wpcf7-form .wpcf7-text {
  width: 100%;
  margin-right: 0;
}
.wpcf7-select-parent {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.wpcf7-select-parent .select-arrow {
  width: 35px;
  height: 33px;
  line-height: 33px;
  border-left: 1px solid var(--form_border_color, #dadada);
  position: absolute;
  top: 1px;
  right: 1px;
  background: var(--form_bg_color, #fff);
  pointer-events: none;
  z-index: 10;
  font-family: 'icomoon';
  text-align: center;
  font-size: var(--form_text_size, 9px);
  color: var(--form_text_color);
  border-width: var(--form_border_width);
  border-color: var(--form_border_color);
  border-radius: var(--form_border_radius);
}
.wpcf7-select-parent .select-arrow:focus {
  border-color: var(--form_focus_border_color);
}
.wpcf7-select-parent .wpcf7-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-overflow: '';
  background: #fbfaf9;
  border: 1px solid #dadada;
  color: #333333;
  cursor: pointer;
  display: block;
  font-size: 13px;
  outline: none;
  height: auto;
  width: 100%;
  padding: 8px 15px;
  position: relative;
  text-indent: 0.01px;
  vertical-align: middle;
  z-index: 5;
  margin: 0;
  border-radius: 0;
}
.wpcf7-captchar,
.wpcf7-form .wpcf7-date,
.wpcf7-form .wpcf7-number,
.wpcf7-form .wpcf7-quiz,
.wpcf7-form .wpcf7-select,
.wpcf7-form .wpcf7-text {
  padding-top: 0;
  padding-bottom: 0;
  height: var(--form_input_height);
  background-color: var(--form_bg_color);
  font-size: var(--form_text_size, 13px);
  color: var(--form_text_color, #747474);
  border-width: var(--form_border_width);
  border-color: var(--form_border_color);
  border-radius: var(--form_border_radius);
}
.wpcf7-captchar:focus,
.wpcf7-form .wpcf7-date:focus,
.wpcf7-form .wpcf7-number:focus,
.wpcf7-form .wpcf7-quiz:focus,
.wpcf7-form .wpcf7-select:focus,
.wpcf7-form .wpcf7-text:focus {
  border-color: var(--form_focus_border_color);
}
/*# sourceMappingURL=contactform7.css.map */