/* iLightbox css */
/* Reset Styles */
.ilightbox-overlay,
.ilightbox-loader,
.ilightbox-loader *,
.ilightbox-holder,
.ilightbox-holder .ilightbox-container,
.ilightbox-holder .ilightbox-container img.ilightbox-image,
.ilightbox-holder .ilightbox-container .ilightbox-caption,
.ilightbox-toolbar,
.ilightbox-toolbar *,
.ilightbox-thumbnails,
.ilightbox-thumbnails *,
.ilightbox-holder .ilightbox-container .ilightbox-social,
.ilightbox-holder .ilightbox-container .ilightbox-social * {
  float: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  line-height: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.fusion-disable-outline .ilightbox-overlay,
.fusion-disable-outline .ilightbox-loader,
.fusion-disable-outline .ilightbox-loader *,
.fusion-disable-outline .ilightbox-holder,
.fusion-disable-outline .ilightbox-holder .ilightbox-container,
.fusion-disable-outline .ilightbox-holder .ilightbox-container img.ilightbox-image,
.fusion-disable-outline .ilightbox-holder .ilightbox-container .ilightbox-caption,
.fusion-disable-outline .ilightbox-toolbar,
.fusion-disable-outline .ilightbox-toolbar *,
.fusion-disable-outline .ilightbox-thumbnails,
.fusion-disable-outline .ilightbox-thumbnails *,
.fusion-disable-outline .ilightbox-holder .ilightbox-container .ilightbox-social,
.fusion-disable-outline .ilightbox-holder .ilightbox-container .ilightbox-social * {
  outline: 0;
}
.ilightbox-overlay,
.ilightbox-loader,
.ilightbox-loader *,
.ilightbox-holder .ilightbox-container .ilightbox-caption,
.ilightbox-toolbar,
.ilightbox-thumbnails,
.ilightbox-thumbnails *,
.ilightbox-holder .ilightbox-container .ilightbox-social {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
}
/* Disable & Hide Scrollbar */
.ilightbox-noscroll {
  overflow: hidden;
}
.ilightbox-closedhand * {
  cursor: url(../../assets/images/iLightbox/closedhand.cur), default !important;
}
.ilightbox-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;
}
.ilightbox-loader {
  position: fixed;
  z-index: 100005;
  top: 45%;
  left: -192px;
  padding-left: 30px;
  opacity: 0.9;
  filter: alpha(opacity=90);
  border-radius: 0 100px 100px 0;
}
.ilightbox-loader div {
  width: 72px;
  height: 72px;
  border-radius: 0 100px 100px 0;
}
.ilightbox-loader.horizontal {
  left: 45%;
  top: -192px;
  padding: 0;
  padding-top: 30px;
  border-radius: 0 0 100px 100px;
}
.ilightbox-loader.horizontal div {
  border-radius: 0 0 100px 100px;
}
.ilightbox-toolbar {
  display: none;
  position: fixed;
  z-index: 100010;
}
.ilightbox-toolbar a {
  float: left;
  cursor: pointer;
}
.ilightbox-toolbar .ilightbox-prev-button,
.ilightbox-toolbar .ilightbox-next-button {
  display: none;
}
.ilightbox-thumbnails {
  display: block;
  position: fixed;
  z-index: 100009;
}
.ilightbox-thumbnails.ilightbox-horizontal {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}
.ilightbox-thumbnails.ilightbox-vertical {
  top: 0;
  right: 0;
  width: 140px;
  height: 100%;
  overflow: hidden;
}
.ilightbox-thumbnails .ilightbox-thumbnails-container {
  display: block;
  position: relative;
}
.ilightbox-thumbnails.ilightbox-horizontal .ilightbox-thumbnails-container {
  width: 100%;
  height: 100px;
}
.ilightbox-thumbnails.ilightbox-vertical .ilightbox-thumbnails-container {
  width: 140px;
  height: 100%;
}
.ilightbox-thumbnails .ilightbox-thumbnails-grid {
  display: block;
  position: absolute;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
}
.ilightbox-thumbnails .ilightbox-thumbnails-grid .ilightbox-thumbnail {
  display: block;
  cursor: pointer;
  padding: 0px;
  margin: 5px;
  position: relative;
}
.ilightbox-thumbnails .ilightbox-thumbnails-grid .ilightbox-thumbnail img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}
.ilightbox-thumbnails .ilightbox-thumbnails-grid .ilightbox-thumbnail .ilightbox-thumbnail-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .7;
}
.ilightbox-thumbnails .ilightbox-thumbnails-grid .ilightbox-thumbnail .ilightbox-thumbnail-icon:hover {
  opacity: 1;
}
.ilightbox-holder {
  display: none;
  position: fixed;
  z-index: 100003;
  -webkit-transform: none;
  -moz-transform: none;
}
.ilightbox-holder.ilightbox-next,
.ilightbox-holder.ilightbox-prev {
  cursor: pointer;
}
.ilightbox-holder div.ilightbox-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.ilightbox-holder.supportTouch div.ilightbox-container {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.ilightbox-holder img.ilightbox-image {
  width: 100%;
  height: 100%;
}
.ilightbox-holder .ilightbox-container .ilightbox-caption {
  display: none;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 0;
  max-width: 100%;
  padding: 5px 10px;
  margin: 0 auto;
  font-size: 12px;
  line-height: 150%;
  word-wrap: break-word;
  z-index: 20003;
  box-sizing: border-box;
  border-radius: 3px 3px 0 0;
}
.ilightbox-holder .ilightbox-container .ilightbox-social {
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px;
  padding-left: 0;
  z-index: 20003;
  height: 26px;
}
.ilightbox-holder .ilightbox-container .ilightbox-social ul {
  float: left;
  list-style: none;
  height: 26px;
}
.ilightbox-holder .ilightbox-container .ilightbox-social ul li {
  display: inline;
}
.ilightbox-holder .ilightbox-container .ilightbox-social ul li a {
  float: left;
  margin-left: 5px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: 50%;
}
.ilightbox-holder .ilightbox-container .ilightbox-social ul li.facebook a {
  background-image: url(../../assets/images/iLightbox/social_icons/facebook_16.png);
}
.ilightbox-holder .ilightbox-container .ilightbox-social ul li.digg a {
  background-image: url(../../assets/images/iLightbox/social_icons/digg_16.png);
}
.ilightbox-holder .ilightbox-container .ilightbox-social ul li.twitter a {
  background-image: url(../../assets/images/iLightbox/social_icons/twitter_16.png);
}
.ilightbox-holder .ilightbox-container .ilightbox-social ul li.delicious a {
  background-image: url(../../assets/images/iLightbox/social_icons/delicious_16.png);
}
.ilightbox-holder .ilightbox-container .ilightbox-social ul li.reddit a {
  background-image: url(../../assets/images/iLightbox/social_icons/reddit_16.png);
}
.ilightbox-holder .ilightbox-container .ilightbox-social ul li.googleplus a {
  background-image: url(../../assets/images/iLightbox/social_icons/google_plus_16.png);
}
.ilightbox-holder .ilightbox-alert {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  padding-top: 100px;
  margin: auto;
  width: 300px;
  height: 50px;
}
.ilightbox-holder .ilightbox-wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.ilightbox-holder .ilightbox-inner-toolbar {
  position: relative;
  z-index: 100;
}
.ilightbox-holder .ilightbox-inner-toolbar .ilightbox-toolbar {
  position: absolute;
}
/* Style arrow buttons */
.ilightbox-button {
  position: fixed;
  z-index: 100008;
  cursor: pointer;
}
.ilightbox-button.ilightbox-next-button.disabled,
.ilightbox-button.ilightbox-prev-button.disabled {
  visibility: hidden;
  opacity: 0;
}
/* Style mobile devices */
.isMobile .ilightbox-button,
.isMobile .ilightbox-thumbnails {
  display: none !important;
}
.isMobile .ilightbox-toolbar .ilightbox-prev-button,
.isMobile .ilightbox-toolbar .ilightbox-next-button {
  display: block;
}
.ilightbox-title {
  line-height: 20px;
}
/* iLightbox dark skin */
.ilightbox-overlay.dark {
  background: #000;
}
.ilightbox-loader.dark {
  box-shadow: black 0px 0px 85px, black 0px 0px 85px;
}
.ilightbox-loader.dark div {
  background: #000 url(../../assets/images/iLightbox/dark-skin/preloader.gif) no-repeat center;
}
.ilightbox-holder.dark {
  padding: 5px;
  background: #000;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}
.ilightbox-holder.dark .ilightbox-container .ilightbox-caption {
  background: url(../../assets/images/iLightbox/dark-skin/caption-bg.png);
  color: #FFF;
  text-shadow: 0 1px black;
}
.ilightbox-holder.dark .ilightbox-container .ilightbox-social {
  background: url(../../assets/images/iLightbox/dark-skin/caption-bg.png);
  border-radius: 2px;
}
.ilightbox-holder.dark .ilightbox-alert {
  background: url(../../assets/images/iLightbox/dark-skin/alert.png) no-repeat center top;
  color: #555;
}
/* Style toolbar */
.ilightbox-toolbar.dark {
  top: 11px;
  left: 10px;
}
.ilightbox-toolbar.dark a {
  width: 25px;
  height: 23px;
  background: black url(../../assets/images/iLightbox/dark-skin/buttons.png) no-repeat 7px 6px;
}
.ilightbox-toolbar.dark a.disabled {
  opacity: 0.2;
  filter: alpha(opacity=20);
  cursor: default;
  background-color: #000 !important;
}
.ilightbox-toolbar.dark a:first-of-type {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.ilightbox-toolbar.dark a:last-of-type {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.ilightbox-toolbar.dark a.ilightbox-close:hover {
  background-position: -32px 6px;
}
.ilightbox-toolbar.dark a.ilightbox-fullscreen {
  background-position: 6px -33px;
  right: 35px;
}
.ilightbox-toolbar.dark a.ilightbox-fullscreen:hover {
  background-position: -31px -33px;
}
.ilightbox-toolbar.dark a.ilightbox-play {
  background-position: 8px -57px;
}
.ilightbox-toolbar.dark a.ilightbox-play:hover {
  background-position: -32px -57px;
}
.ilightbox-toolbar.dark a.ilightbox-pause {
  background-position: 8px -83px;
}
.ilightbox-toolbar.dark a.ilightbox-pause:hover {
  background-position: -32px -83px;
}
.isMobile .ilightbox-toolbar.dark {
  background: #000;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
}
.isMobile .ilightbox-toolbar.dark a {
  display: inline-block;
  float: none;
  width: 50px;
  height: 40px;
  background-size: 50%;
  background-position: 50% !important;
}
.isMobile .ilightbox-toolbar.dark a:hover {
  background-color: #111;
}
.isMobile .ilightbox-toolbar.dark a.ilightbox-fullscreen {
  background-image: url(../../assets/images/iLightbox/dark-skin/fullscreen-icon-64.png);
}
.isMobile .ilightbox-toolbar.dark a.ilightbox-close {
  background-image: url(../../assets/images/iLightbox/dark-skin/x-mark-icon-64.png);
}
.isMobile .ilightbox-toolbar.dark a.ilightbox-next-button {
  background-image: url(../../assets/images/iLightbox/dark-skin/arrow-next-icon-64.png);
  background-position: 52% 50%;
}
.isMobile .ilightbox-toolbar.dark a.ilightbox-prev-button {
  background-image: url(../../assets/images/iLightbox/dark-skin/arrow-prev-icon-64.png);
  background-position: 48% 50%;
}
.isMobile .ilightbox-toolbar.dark a.ilightbox-play {
  background-image: url(../../assets/images/iLightbox/dark-skin/play-icon-64.png);
}
.isMobile .ilightbox-toolbar.dark a.ilightbox-pause {
  background-image: url(../../assets/images/iLightbox/dark-skin/pause-icon-64.png);
}
.ilightbox-holder.dark .ilightbox-inner-toolbar .ilightbox-title {
  font-size: 18px;
  padding: 10px 8px;
  padding-right: 60px;
  color: #FFF;
}
.ilightbox-holder.dark .ilightbox-inner-toolbar .ilightbox-toolbar {
  left: auto;
  top: 5px;
  right: 5px;
}
.ilightbox-holder.dark .ilightbox-inner-toolbar .ilightbox-toolbar a {
  border-radius: 0;
  float: right;
}
.ilightbox-holder.dark .ilightbox-inner-toolbar .ilightbox-toolbar a:first-of-type {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.ilightbox-holder.dark .ilightbox-inner-toolbar .ilightbox-toolbar a:last-of-type {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
/* Style thumbnails */
.ilightbox-thumbnails.dark .ilightbox-thumbnails-grid .ilightbox-thumbnail img {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.9);
}
.ilightbox-thumbnails.dark .ilightbox-thumbnails-grid .ilightbox-thumbnail .ilightbox-thumbnail-video {
  background: url(../../assets/images/iLightbox/dark-skin/thumb-overlay-play.png) no-repeat center;
}
/* Configure arrow buttons */
.ilightbox-button.dark.disabled {
  opacity: 0.1;
  cursor: default;
  background-color: #000 !important;
}
.ilightbox-button.dark span {
  display: block;
  width: 100%;
  height: 100%;
}
.ilightbox-button.dark {
  bottom: 0;
  right: 0;
  left: 0;
  width: 95px;
  height: 75px;
  margin: auto;
  background: url(../../assets/images/iLightbox/dark-skin/arrow-next-vertical-icon-64.png) no-repeat 50% 65%;
  background-color: #000;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.ilightbox-button.ilightbox-button.dark:hover {
  background-color: #111;
}
.ilightbox-button.ilightbox-prev-button.dark {
  top: 0;
  bottom: auto;
  background-image: url(../../assets/images/iLightbox/dark-skin/arrow-prev-vertical-icon-64.png);
  background-position: 50% 35%;
  border-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.ilightbox-button.dark.horizontal {
  right: 0;
  left: auto;
  top: 0;
  bottom: 0;
  width: 75px;
  height: 95px;
  background-image: url(../../assets/images/iLightbox/dark-skin/arrow-next-icon-64.png);
  background-position: 65% 50%;
  border-radius: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.ilightbox-button.ilightbox-prev-button.dark.horizontal {
  right: auto;
  left: 0;
  background-image: url(../../assets/images/iLightbox/dark-skin/arrow-prev-icon-64.png);
  background-position: 35% 50%;
  border-radius: 0;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
/* iLightbox light skin */
.ilightbox-overlay.light {
  background: #FFF;
}
.ilightbox-loader.light {
  box-shadow: #dacffc 0px 0px 85px, #dacffc 0px 0px 85px;
}
.ilightbox-loader.light div {
  background: #FFF url(../../assets/images/iLightbox/light-skin/preloader.gif) no-repeat center;
}
.ilightbox-holder.light {
  padding: 10px;
  background: #FFF;
  box-shadow: 0 0 15px #dacffc;
}
.ilightbox-holder.light .ilightbox-container .ilightbox-caption {
  background: url(../../assets/images/iLightbox/light-skin/caption-bg.png);
  color: #000;
  text-shadow: 0 1px #FFF;
}
.ilightbox-holder.light .ilightbox-container .ilightbox-social {
  background: url(../../assets/images/iLightbox/light-skin/caption-bg.png);
  border-radius: 2px;
}
.ilightbox-holder.light .ilightbox-alert {
  background: url(../../assets/images/iLightbox/light-skin/alert.png) no-repeat center top;
  color: #89949B;
}
/* Style toolbar */
.ilightbox-toolbar.light {
  top: 8px;
  left: 8px;
  height: 23px;
  box-shadow: 0 0 7px #dacffc;
  border-radius: 3px;
}
.ilightbox-toolbar.light a {
  width: 25px;
  height: 23px;
  background: white url(../../assets/images/iLightbox/light-skin/buttons.png) no-repeat 7px 6px;
}
.ilightbox-toolbar.light a.disabled {
  opacity: 0.2;
  filter: alpha(opacity=20);
  cursor: default;
  background-color: #FFF;
}
.ilightbox-toolbar.light a:first-of-type {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.ilightbox-toolbar.light a:last-of-type {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.ilightbox-toolbar.light a.ilightbox-close:hover {
  background-position: -32px 6px;
}
.ilightbox-toolbar.light a.ilightbox-fullscreen {
  background-position: 6px -33px;
}
.ilightbox-toolbar.light a.ilightbox-fullscreen:hover {
  background-position: -31px -33px;
}
.ilightbox-toolbar.light a.ilightbox-play {
  background-position: 8px -57px;
}
.ilightbox-toolbar.light a.ilightbox-play:hover {
  background-position: -32px -57px;
}
.ilightbox-toolbar.light a.ilightbox-pause {
  background-position: 8px -83px;
}
.ilightbox-toolbar.light a.ilightbox-pause:hover {
  background-position: -32px -83px;
}
.isMobile .ilightbox-toolbar.light {
  background: #FFF;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  box-shadow: 0 0 25px #dacffc;
}
.isMobile .ilightbox-toolbar.light a {
  display: inline-block;
  float: none;
  width: 50px;
  height: 40px;
  background-size: 50%;
  background-position: 50% !important;
}
.isMobile .ilightbox-toolbar.light a:hover {
  background-color: #f6f3ff;
}
.isMobile .ilightbox-toolbar.light a.ilightbox-fullscreen {
  background-image: url(../../assets/images/iLightbox/light-skin/fullscreen-icon-64.png);
}
.isMobile .ilightbox-toolbar.light a.ilightbox-close {
  background-image: url(../../assets/images/iLightbox/light-skin/x-mark-icon-64.png);
}
.isMobile .ilightbox-toolbar.light a.ilightbox-next-button {
  background-image: url(../../assets/images/iLightbox/light-skin/arrow-next-icon-64.png);
  background-position: 52% 50%;
}
.isMobile .ilightbox-toolbar.light a.ilightbox-prev-button {
  background-image: url(../../assets/images/iLightbox/light-skin/arrow-prev-icon-64.png);
  background-position: 48% 50%;
}
.isMobile .ilightbox-toolbar.light a.ilightbox-play {
  background-image: url(../../assets/images/iLightbox/light-skin/play-icon-64.png);
}
.isMobile .ilightbox-toolbar.light a.ilightbox-pause {
  background-image: url(../../assets/images/iLightbox/light-skin/pause-icon-64.png);
}
/* Style thumbnails */
.ilightbox-thumbnails.light .ilightbox-thumbnails-grid .ilightbox-thumbnail img {
  box-shadow: 0 0 6px #dacffc;
}
.ilightbox-thumbnails.light .ilightbox-thumbnails-grid .ilightbox-thumbnail .ilightbox-thumbnail-video {
  background: url(../../assets/images/iLightbox/light-skin/thumb-overlay-play.png) no-repeat center;
}
.ilightbox-holder.light .ilightbox-inner-toolbar .ilightbox-title {
  font-size: 18px;
  padding: 10px 8px;
  padding-right: 60px;
  color: #000;
}
.ilightbox-holder.light .ilightbox-inner-toolbar .ilightbox-toolbar {
  left: auto;
  top: 5px;
  right: 5px;
}
.ilightbox-holder.light .ilightbox-inner-toolbar .ilightbox-toolbar a {
  float: right;
}
.ilightbox-holder.light .ilightbox-inner-toolbar .ilightbox-toolbar a:first-of-type {
  border-radius: 0;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.ilightbox-holder.light .ilightbox-inner-toolbar .ilightbox-toolbar a:last-of-type {
  border-radius: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
/* Configure arrow buttons */
.ilightbox-button.light.disabled {
  opacity: 0.3;
  filter: alpha(opacity=30);
  /* IE7-8 */
  cursor: default;
  background-color: #FFF !important;
}
.ilightbox-button.light span {
  display: block;
  width: 100%;
  height: 100%;
}
.ilightbox-button.ilightbox-next-button.light,
.ilightbox-button.ilightbox-prev-button.light {
  bottom: 0;
  right: 0;
  left: 0;
  width: 95px;
  height: 75px;
  margin: auto;
  background: url(../../assets/images/iLightbox/light-skin/arrow-next-vertical-icon-64.png) no-repeat 50% 65%;
  background-color: #FFF;
  box-shadow: 0 0 15px #dacffc;
}
.ilightbox-button.ilightbox-button.light:hover {
  background-color: #f6f3ff;
}
.ilightbox-button.ilightbox-prev-button.light {
  top: 0;
  bottom: auto;
  background-image: url(../../assets/images/iLightbox/light-skin/arrow-prev-vertical-icon-64.png);
  background-position: 50% 35%;
}
.ilightbox-button.ilightbox-next-button.light.horizontal,
.ilightbox-button.ilightbox-prev-button.light.horizontal {
  right: 0;
  left: auto;
  top: 0;
  bottom: 0;
  width: 75px;
  height: 95px;
  background-image: url(../../assets/images/iLightbox/light-skin/arrow-next-icon-64.png);
  background-position: 65% 50%;
  border-radius: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.ilightbox-button.ilightbox-prev-button.light.horizontal {
  right: auto;
  left: 0;
  background-image: url(../../assets/images/iLightbox/light-skin/arrow-prev-icon-64.png);
  background-position: 35% 50%;
  border-radius: 0;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.ilightbox-overlay.mac {
  background: #2B2B2B;
}
.ilightbox-loader.mac {
  box-shadow: black 0px 0px 85px, black 0px 0px 85px;
}
.ilightbox-loader.mac div {
  background: #141414 url(../../assets/images/iLightbox/mac-skin/preloader.gif) no-repeat center;
}
.ilightbox-holder.mac {
  padding: 2px;
  background: rgba(35, 35, 35, 0.9);
  box-shadow: 0 38px 30px -18px rgba(0, 0, 0, 0.6);
}
.ilightbox-holder.mac .ilightbox-container .ilightbox-caption {
  background: url(../../assets/images/iLightbox/mac-skin/caption-bg.png);
  color: #FFF;
  bottom: 15px;
  left: 15px;
  right: 15px;
  border: rgba(255, 255, 255, 0.8) 1px solid;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}
.ilightbox-holder.mac .ilightbox-container .ilightbox-social {
  background: #FFF;
}
.ilightbox-holder.mac .ilightbox-alert {
  background: url(../../assets/images/iLightbox/mac-skin/alert.png) no-repeat center top;
  color: #555;
}
/* Style toolbar */
.ilightbox-toolbar.mac {
  top: 15px;
  left: 15px;
  background: linear-gradient(to bottom, #414141 0%, #414141 40%, #323232 60%, #323232 100%);
  /* W3C */
  border: rgba(30, 30, 30, 0.6) 1px solid;
  overflow: hidden;
  border-radius: 3px;
}
.ilightbox-toolbar.mac a {
  width: 28px;
  height: 28px;
  background: no-repeat 50%;
}
.ilightbox-toolbar.mac a.disabled {
  opacity: 0.2;
  filter: alpha(opacity=20);
  /* IE7-8 */
  cursor: default;
  background-color: transparent !important;
}
.ilightbox-toolbar.mac a:hover {
  background-color: #4B4B4B;
}
.ilightbox-toolbar.mac a.ilightbox-close {
  background-image: url(../../assets/images/iLightbox/mac-skin/close-25.png);
}
.ilightbox-toolbar.mac a.ilightbox-fullscreen {
  background-image: url(../../assets/images/iLightbox/mac-skin/resize-25.png);
  right: 35px;
}
.ilightbox-toolbar.mac a.ilightbox-play {
  background-image: url(../../assets/images/iLightbox/mac-skin/play-25.png);
  right: 35px;
}
.ilightbox-toolbar.mac a.ilightbox-pause {
  background-image: url(../../assets/images/iLightbox/mac-skin/pause-25.png);
  right: 35px;
}
.isMobile .ilightbox-toolbar.mac {
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(to bottom, #414141 0%, #414141 40%, #323232 60%, #323232 100%);
  /* W3C */
  border: 0;
  border-top: rgba(30, 30, 30, 0.6) 1px solid;
  overflow: hidden;
  text-align: center;
  border-radius: 3px;
}
.isMobile .ilightbox-toolbar.mac a {
  display: inline-block;
  float: none;
  width: 50px;
  height: 40px;
  background-size: 50%;
  background-position: 50% !important;
}
.isMobile .ilightbox-toolbar.mac a.ilightbox-fullscreen {
  background-image: url(../../assets/images/iLightbox/mac-skin/resize-50.png);
}
.isMobile .ilightbox-toolbar.mac a.ilightbox-close {
  background-image: url(../../assets/images/iLightbox/mac-skin/close-50.png);
}
.isMobile .ilightbox-toolbar.mac a.ilightbox-next-button {
  background-image: url(../../assets/images/iLightbox/mac-skin/forward-50.png);
  background-position: 52% 50% !important;
}
.isMobile .ilightbox-toolbar.mac a.ilightbox-prev-button {
  background-image: url(../../assets/images/iLightbox/mac-skin/back-50.png);
  background-position: 48% 50% !important;
}
.isMobile .ilightbox-toolbar.mac a.ilightbox-play {
  background-image: url(../../assets/images/iLightbox/mac-skin/play-50.png);
  background-size: 80%;
  background-position: 70% 50% !important;
}
.isMobile .ilightbox-toolbar.mac a.ilightbox-pause {
  background-image: url(../../assets/images/iLightbox/mac-skin/pause-50.png);
  background-size: 80%;
}
.ilightbox-holder.mac .ilightbox-inner-toolbar .ilightbox-title {
  font-size: 18px;
  padding: 10px 8px;
  color: #000;
}
.ilightbox-holder.mac .ilightbox-inner-toolbar .ilightbox-toolbar {
  display: inline-block;
  left: -15px;
  top: -15px;
}
.ilightbox-holder.mac .ilightbox-inner-toolbar .ilightbox-toolbar a {
  float: left;
  border-radius: 0;
}
/* Style thumbnails */
.ilightbox-thumbnails.mac .ilightbox-thumbnails-grid .ilightbox-thumbnail img {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.9);
  border-radius: 0;
}
.ilightbox-thumbnails.mac .ilightbox-thumbnails-grid .ilightbox-thumbnail .ilightbox-thumbnail-video {
  background: url(../../assets/images/iLightbox/mac-skin/thumb-overlay-play.png) no-repeat center;
}
/* Configure arrow buttons */
.ilightbox-button.mac.disabled {
  opacity: 0.2;
  filter: alpha(opacity=20);
  /* IE7-8 */
  cursor: default;
  background: #3b3b3b !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#414141', endColorstr='#323232', GradientType=0);
  /* IE7-9 */
}
.ilightbox-button.mac span {
  display: block;
  width: 100%;
  height: 100%;
}
.ilightbox-button.mac {
  bottom: 0;
  right: 0;
  left: 0;
  width: 95px;
  height: 55px;
  margin: auto;
  background: linear-gradient(to bottom, #414141 0%, #414141 40%, #323232 60%, #323232 100%);
  /* W3C */
  border: rgba(30, 30, 30, 0.6) 1px solid;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.ilightbox-button.ilightbox-button.mac:hover {
  background: linear-gradient(to bottom, #4b4b4b 0%, #4b4b4b 40%, #3c3c3c 60%, #3c3c3c 100%);
  /* W3C */
}
.ilightbox-button.ilightbox-prev-button.mac {
  top: 0;
  bottom: auto;
  border-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.ilightbox-button.ilightbox-next-button.mac span {
  background: url(../../assets/images/iLightbox/mac-skin/forward-vertical-50.png) no-repeat 50% 75%;
}
.ilightbox-button.ilightbox-prev-button.mac span {
  background: url(../../assets/images/iLightbox/mac-skin/back-vertical-50.png) no-repeat 50% 25%;
}
.ilightbox-button.ilightbox-next-button.mac.horizontal,
.ilightbox-button.ilightbox-prev-button.mac.horizontal {
  right: 0;
  left: auto;
  top: 0;
  bottom: 0;
  width: 55px;
  height: 95px;
  border-radius: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.ilightbox-button.ilightbox-prev-button.mac.horizontal {
  right: auto;
  left: 0;
  border-radius: 0;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.ilightbox-button.ilightbox-next-button.mac.horizontal span {
  background: url(../../assets/images/iLightbox/mac-skin/forward-50.png) no-repeat 75% 50%;
}
.ilightbox-button.ilightbox-prev-button.mac.horizontal span {
  background: url(../../assets/images/iLightbox/mac-skin/back-50.png) no-repeat 25% 50%;
}
.ilightbox-overlay.metro-black {
  background: #000;
}
.ilightbox-loader.metro-black {
  box-shadow: #000000 0px 0px 55px, rgba(0, 0, 0, 0.3) 0px 0px 55px;
}
.ilightbox-loader.metro-black div {
  background: #000 url(../../assets/images/iLightbox/metro-black-skin/preloader.gif) no-repeat center;
}
.ilightbox-holder.metro-black {
  padding: 3px;
  background: #000;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.8);
}
.ilightbox-holder.metro-black .ilightbox-container .ilightbox-caption {
  background: url(../../assets/images/iLightbox/metro-black-skin/caption-bg.png) repeat-x bottom;
  background-size: 100% 100%;
  left: 0;
  right: 0;
  color: #FFF;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
  padding-top: 15px;
}
.ilightbox-holder.metro-black .ilightbox-container .ilightbox-social {
  background: url(../../assets/images/iLightbox/metro-black-skin/social-bg.png);
  border-radius: 2px;
}
.ilightbox-holder.metro-black .ilightbox-alert {
  background: url(../../assets/images/iLightbox/metro-black-skin/alert.png) no-repeat center top;
  color: #555;
}
/* Style toolbar */
.ilightbox-toolbar.metro-black {
  top: 8px;
  left: 8px;
  height: 25px;
}
.ilightbox-toolbar.metro-black a {
  width: 27px;
  height: 25px;
  background: #000 url(../../assets/images/iLightbox/metro-black-skin/buttons.png) no-repeat 7px 6px;
}
.ilightbox-toolbar.metro-black a:hover {
  background-color: #51b7ff;
}
.ilightbox-toolbar.metro-black a.ilightbox-close:hover {
  background-color: #d94947;
}
.ilightbox-toolbar.metro-black a.disabled {
  opacity: 0.2;
  filter: alpha(opacity=20);
  cursor: default;
  background-color: #000;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
}
.ilightbox-toolbar.metro-black a.ilightbox-fullscreen {
  background-position: 6px -31px;
}
.ilightbox-toolbar.metro-black a.ilightbox-play {
  background-position: 8px -55px;
}
.ilightbox-toolbar.metro-black a.ilightbox-pause {
  background-position: 8px -81px;
}
.isMobile .ilightbox-toolbar.metro-black {
  background: #000;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  text-align: center;
}
.isMobile .ilightbox-toolbar.metro-black a {
  display: inline-block;
  float: none;
  width: 50px;
  height: 40px;
  background-size: 50%;
  background-position: 50%;
}
.isMobile .ilightbox-toolbar.metro-black a.ilightbox-fullscreen {
  background-image: url(../../assets/images/iLightbox/metro-black-skin/fullscreen-icon-64.png);
}
.isMobile .ilightbox-toolbar.metro-black a.ilightbox-close {
  background-image: url(../../assets/images/iLightbox/metro-black-skin/x-mark-icon-64.png);
}
.isMobile .ilightbox-toolbar.metro-black a.ilightbox-next-button {
  background-image: url(../../assets/images/iLightbox/metro-black-skin/arrow-next-icon-64.png);
  background-position: 52% 50%;
}
.isMobile .ilightbox-toolbar.metro-black a.ilightbox-prev-button {
  background-image: url(../../assets/images/iLightbox/metro-black-skin/arrow-prev-icon-64.png);
  background-position: 48% 50%;
}
.isMobile .ilightbox-toolbar.metro-black a.ilightbox-play {
  background-image: url(../../assets/images/iLightbox/metro-black-skin/play-icon-64.png);
}
.isMobile .ilightbox-toolbar.metro-black a.ilightbox-pause {
  background-image: url(../../assets/images/iLightbox/metro-black-skin/pause-icon-64.png);
}
.ilightbox-holder.metro-black .ilightbox-inner-toolbar .ilightbox-title {
  font-size: 18px;
  padding: 10px 12px;
  padding-right: 60px;
  color: #acacad;
}
.ilightbox-holder.metro-black .ilightbox-inner-toolbar .ilightbox-toolbar {
  left: auto;
  top: 5px;
  right: 5px;
}
.ilightbox-holder.metro-black .ilightbox-inner-toolbar .ilightbox-toolbar a {
  float: right;
}
/* Style thumbnails */
.ilightbox-thumbnails.metro-black.ilightbox-horizontal {
  height: 104px;
}
.ilightbox-thumbnails.metro-black.ilightbox-horizontal .ilightbox-thumbnails-container {
  height: 104px;
}
.ilightbox-thumbnails.metro-black.ilightbox-vertical {
  width: 144px;
}
.ilightbox-thumbnails.metro-black.ilightbox-vertical .ilightbox-thumbnails-container {
  width: 144px;
}
.ilightbox-thumbnails.metro-black .ilightbox-thumbnails-grid .ilightbox-thumbnail img {
  border: 2px solid #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  border-radius: 0;
}
.ilightbox-thumbnails.metro-black .ilightbox-thumbnails-grid .ilightbox-thumbnail .ilightbox-thumbnail-video {
  background: url(../../assets/images/iLightbox/metro-black-skin/thumb-overlay-play.png) no-repeat center;
}
/* Configure arrow buttons */
.ilightbox-button.metro-black.disabled {
  opacity: 0.1;
  filter: alpha(opacity=10);
  cursor: default;
}
.ilightbox-button.metro-black span {
  display: block;
  width: 100%;
  height: 100%;
}
.ilightbox-button.ilightbox-next-button.metro-black,
.ilightbox-button.ilightbox-prev-button.metro-black {
  bottom: 0;
  right: 0;
  left: 0;
  width: 30%;
  height: 100px;
  margin: auto;
  background: url(../../assets/images/iLightbox/metro-black-skin/arrows_vertical.png) no-repeat 50% -100px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5);
}
.ilightbox-button.ilightbox-prev-button.metro-black {
  top: 0;
  bottom: auto;
  background-position: 50% 0;
}
.ilightbox-button.ilightbox-next-button.metro-black.horizontal,
.ilightbox-button.ilightbox-prev-button.metro-black.horizontal {
  right: 0;
  left: auto;
  top: 0;
  bottom: 0;
  width: 100px;
  height: 30%;
  background-image: url(../../assets/images/iLightbox/metro-black-skin/arrows_horizontal.png);
  background-position: -93px 50%;
}
.ilightbox-button.ilightbox-prev-button.metro-black.horizontal {
  right: auto;
  left: 0;
  background-position: -7px 50%;
}
.ilightbox-overlay.metro-white {
  background: #FFF;
}
.ilightbox-loader.metro-white {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 55px;
}
.ilightbox-loader.metro-white div {
  background: #FFF url(../../assets/images/iLightbox/metro-white-skin/preloader.gif) no-repeat center;
}
.ilightbox-holder.metro-white {
  padding: 3px;
  background: #FFF;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
}
.ilightbox-holder.metro-white .ilightbox-container .ilightbox-caption {
  background: url(../../assets/images/iLightbox/metro-white-skin/caption-bg.png) repeat-x bottom;
  background-size: 100% 100%;
  left: 0;
  right: 0;
  color: #000;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  padding-top: 15px;
}
.ilightbox-holder.metro-white .ilightbox-container .ilightbox-social {
  background: url(../../assets/images/iLightbox/metro-white-skin/social-bg.png);
  border-radius: 2px;
}
.ilightbox-holder.metro-white .ilightbox-alert {
  background: url(../../assets/images/iLightbox/metro-white-skin/alert.png) no-repeat center top;
  color: #89949B;
}
/* Style toolbar */
.ilightbox-toolbar.metro-white {
  top: 8px;
  left: 8px;
  height: 25px;
}
.ilightbox-toolbar.metro-white a {
  width: 27px;
  height: 25px;
  background: white url(../../assets/images/iLightbox/metro-white-skin/buttons.png) no-repeat 7px 6px;
}
.ilightbox-toolbar.metro-white a:hover {
  background-color: #51b7ff;
}
.ilightbox-toolbar.metro-white a.disabled {
  opacity: 0.2;
  filter: alpha(opacity=20);
  cursor: default;
  background-color: #FFF;
}
.ilightbox-toolbar.metro-white a.ilightbox-close:hover {
  background-color: #d94947;
  background-position: -30px 6px;
}
.ilightbox-toolbar.metro-white a.ilightbox-fullscreen {
  background-position: 6px -31px;
}
.ilightbox-toolbar.metro-white a.ilightbox-fullscreen:hover {
  background-position: -29px -31px;
}
.ilightbox-toolbar.metro-white a.ilightbox-play {
  background-position: 8px -55px;
}
.ilightbox-toolbar.metro-white a.ilightbox-play:hover {
  background-position: -30px -55px;
}
.ilightbox-toolbar.metro-white a.ilightbox-pause {
  background-position: 8px -81px;
}
.ilightbox-toolbar.metro-white a.ilightbox-pause:hover {
  background-position: -30px -81px;
}
.isMobile .ilightbox-toolbar.metro-white {
  background: #FFF;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}
.isMobile .ilightbox-toolbar.metro-white a,
.isMobile .ilightbox-toolbar.metro-white a:hover {
  display: inline-block;
  float: none;
  width: 50px;
  height: 40px;
  background-size: 50%;
  background-position: 50%;
}
.isMobile .ilightbox-toolbar.metro-white a.ilightbox-fullscreen {
  background-image: url(../../assets/images/iLightbox/metro-white-skin/fullscreen-icon-64.png);
}
.isMobile .ilightbox-toolbar.metro-white a.ilightbox-fullscreen:hover {
  background-image: url(../../assets/images/iLightbox/metro-white-skin/fullscreen-hover-icon-64.png);
}
.isMobile .ilightbox-toolbar.metro-white a.ilightbox-close {
  background-image: url(../../assets/images/iLightbox/metro-white-skin/x-mark-icon-64.png);
}
.isMobile .ilightbox-toolbar.metro-white a.ilightbox-close:hover {
  background-image: url(../../assets/images/iLightbox/metro-white-skin/x-mark-hover-icon-64.png);
}
.isMobile .ilightbox-toolbar.metro-white a.ilightbox-next-button {
  background-image: url(../../assets/images/iLightbox/metro-white-skin/arrow-next-icon-64.png);
  background-position: 52% 50%;
}
.isMobile .ilightbox-toolbar.metro-white a.ilightbox-next-button:hover {
  background-image: url(../../assets/images/iLightbox/metro-white-skin/arrow-next-hover-icon-64.png);
}
.isMobile .ilightbox-toolbar.metro-white a.ilightbox-next-button.disabled {
  background-image: url(../../assets/images/iLightbox/metro-white-skin/arrow-next-icon-64.png);
  background-position: 52% 50%;
}
.isMobile .ilightbox-toolbar.metro-white a.ilightbox-prev-button {
  background-image: url(../../assets/images/iLightbox/metro-white-skin/arrow-prev-icon-64.png);
  background-position: 48% 50%;
}
.isMobile .ilightbox-toolbar.metro-white a.ilightbox-prev-button:hover {
  background-image: url(../../assets/images/iLightbox/metro-white-skin/arrow-prev-hover-icon-64.png);
}
.isMobile .ilightbox-toolbar.metro-white a.ilightbox-prev-button.disabled {
  background-image: url(../../assets/images/iLightbox/metro-white-skin/arrow-prev-icon-64.png);
  background-position: 48% 50%;
}
.isMobile .ilightbox-toolbar.metro-white a.ilightbox-play {
  background-image: url(../../assets/images/iLightbox/metro-white-skin/play-icon-64.png);
}
.isMobile .ilightbox-toolbar.metro-white a.ilightbox-play:hover {
  background-image: url(../../assets/images/iLightbox/metro-white-skin/play-hover-icon-64.png);
}
.isMobile .ilightbox-toolbar.metro-white a.ilightbox-pause {
  background-image: url(../../assets/images/iLightbox/metro-white-skin/pause-icon-64.png);
}
.isMobile .ilightbox-toolbar.metro-white a.ilightbox-pause:hover {
  background-image: url(../../assets/images/iLightbox/metro-white-skin/pause-hover-icon-64.png);
}
/* Style thumbnails */
.ilightbox-thumbnails.metro-white.ilightbox-horizontal {
  height: 104px;
}
.ilightbox-thumbnails.metro-white.ilightbox-horizontal .ilightbox-thumbnails-container {
  height: 104px;
}
.ilightbox-thumbnails.metro-white.ilightbox-vertical {
  width: 144px;
}
.ilightbox-thumbnails.metro-white.ilightbox-vertical .ilightbox-thumbnails-container {
  width: 144px;
}
.ilightbox-thumbnails.metro-white .ilightbox-thumbnails-grid .ilightbox-thumbnail img {
  border: 2px solid #FFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 0;
}
.ilightbox-thumbnails.metro-white .ilightbox-thumbnails-grid .ilightbox-thumbnail .ilightbox-thumbnail-video {
  background: url(../../assets/images/iLightbox/metro-white-skin/thumb-overlay-play.png) no-repeat center;
}
.ilightbox-holder.metro-white .ilightbox-inner-toolbar .ilightbox-title {
  font-size: 18px;
  padding: 10px 12px;
  padding-right: 60px;
  color: #535352;
}
.ilightbox-holder.metro-white .ilightbox-inner-toolbar .ilightbox-toolbar {
  left: auto;
  top: 5px;
  right: 5px;
}
.ilightbox-holder.metro-white .ilightbox-inner-toolbar .ilightbox-toolbar a {
  float: right;
}
/* Configure arrow buttons */
.ilightbox-button.metro-white.disabled {
  opacity: 0.1;
  filter: alpha(opacity=10);
  cursor: default;
}
.ilightbox-button.metro-white span {
  display: block;
  width: 100%;
  height: 100%;
}
.ilightbox-button.ilightbox-next-button.metro-white,
.ilightbox-button.ilightbox-prev-button.metro-white {
  bottom: 0;
  right: 0;
  left: 0;
  width: 30%;
  height: 100px;
  margin: auto;
  background: url(../../assets/images/iLightbox/metro-white-skin/arrows_vertical.png) no-repeat 50% -100px;
  background-color: #FFF;
  background-color: rgba(255, 255, 255, 0.6);
}
.ilightbox-button.ilightbox-prev-button.metro-white {
  top: 0;
  bottom: auto;
  background-position: 50% 0;
}
.ilightbox-button.ilightbox-next-button.metro-white.horizontal,
.ilightbox-button.ilightbox-prev-button.metro-white.horizontal {
  right: 0;
  left: auto;
  top: 0;
  bottom: 0;
  width: 100px;
  height: 30%;
  background-image: url(../../assets/images/iLightbox/metro-white-skin/arrows_horizontal.png);
  background-position: -93px 50%;
}
.ilightbox-button.ilightbox-prev-button.metro-white.horizontal {
  right: auto;
  left: 0;
  background-position: -7px 50%;
}
.ilightbox-overlay.parade {
  background: #333 url(../../assets/images/iLightbox/parade-skin/pattern.png);
}
.ilightbox-loader.parade {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
}
.ilightbox-loader.parade div {
  background: white url(../../assets/images/iLightbox/parade-skin/preloader.gif) no-repeat center;
}
.ilightbox-holder.parade {
  padding: 10px;
  background: #333;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.ilightbox-holder.parade .ilightbox-container {
  background: #FFF;
}
.ilightbox-holder.parade .ilightbox-container .ilightbox-caption {
  background: url(../../assets/images/iLightbox/parade-skin/caption-bg.png);
  color: #FFF;
  text-shadow: 0 1px black;
}
.ilightbox-holder.parade .ilightbox-container .ilightbox-social {
  background: url(../../assets/images/iLightbox/parade-skin/caption-bg.png);
  border-radius: 2px;
}
.ilightbox-holder.parade .ilightbox-alert {
  background: url(../../assets/images/iLightbox/parade-skin/alert.png) no-repeat center top;
  color: #555;
}
.ilightbox-toolbar.parade {
  top: 11px;
  left: 10px;
  padding: 3px;
  background: #333;
  background: rgba(0, 0, 0, 0.25);
}
.ilightbox-toolbar.parade a {
  width: 29px;
  height: 25px;
  background: #FFF url(../../assets/images/iLightbox/parade-skin/buttons.png) no-repeat 8px 6px;
}
.ilightbox-toolbar.parade a:hover {
  background-color: #f5f5f5;
}
.ilightbox-toolbar.parade a.ilightbox-close:hover {
  background-position: -29px 6px;
}
.ilightbox-toolbar.parade a.ilightbox-fullscreen {
  background-position: 8px -33px;
  right: 35px;
}
.ilightbox-toolbar.parade a.ilightbox-fullscreen:hover {
  background-position: -29px -33px;
}
.ilightbox-thumbnails.parade .ilightbox-thumbnails-grid .ilightbox-thumbnail img {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.9);
}
.ilightbox-thumbnails.parade .ilightbox-thumbnails-grid .ilightbox-thumbnail .ilightbox-thumbnail-video {
  background: url(../../assets/images/iLightbox/parade-skin/thumb-overlay-play.png) no-repeat center;
}
.ilightbox-holder.parade .ilightbox-inner-toolbar .ilightbox-title {
  font-size: 18px;
  padding: 10px 8px;
  padding-right: 60px;
  color: #FFF;
}
.ilightbox-holder.parade .ilightbox-inner-toolbar .ilightbox-toolbar {
  left: auto;
  top: 5px;
  right: 5px;
}
.ilightbox-holder.parade .ilightbox-inner-toolbar .ilightbox-toolbar a {
  float: right;
}
.ilightbox-overlay.smooth {
  background: #0F0F0F;
}
.ilightbox-loader.smooth {
  box-shadow: #000000 0px 0px 55px, rgba(0, 0, 0, 0.3) 0px 0px 55px;
}
.ilightbox-loader.smooth div {
  background: #000 url(../../assets/images/iLightbox/smooth-skin/preloader.gif) no-repeat center;
}
.ilightbox-holder.smooth {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.9);
}
.ilightbox-holder.smooth .ilightbox-container > * {
  pointer-events: all;
}
.ilightbox-holder.smooth .ilightbox-container:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.11);
}
.ilightbox-holder.smooth .ilightbox-container .ilightbox-caption {
  background: url(../../assets/images/iLightbox/smooth-skin/caption-bg.png);
  border: 1px solid rgba(0, 0, 0, 0.2);
  left: 1px;
  right: 1px;
  bottom: 1px;
  color: #FFF;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
  border-radius: 0;
}
.ilightbox-holder.smooth .ilightbox-container .ilightbox-social {
  background: url(../../assets/images/iLightbox/smooth-skin/caption-bg.png);
  border: 1px solid rgba(0, 0, 0, 0.2);
  left: 1px;
  top: 1px;
  border-radius: 0;
}
.ilightbox-holder.smooth .ilightbox-alert {
  background: url(../../assets/images/iLightbox/smooth-skin/alert.png) no-repeat center top;
  color: #555;
}
/* Style toolbar */
.ilightbox-toolbar.smooth {
  top: 8px;
  left: 8px;
  height: 25px;
}
.ilightbox-toolbar.smooth a {
  width: 27px;
  height: 25px;
  background: #000 url(../../assets/images/iLightbox/smooth-skin/buttons.png) no-repeat 7px 6px;
}
.ilightbox-toolbar.smooth a:hover {
  background-color: #51b7ff;
}
.ilightbox-toolbar.smooth a.ilightbox-close:hover {
  background-color: #d94947;
}
.ilightbox-toolbar.smooth a.disabled {
  opacity: 0.2;
  filter: alpha(opacity=20);
  cursor: default;
  background-color: #000;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
}
.ilightbox-toolbar.smooth a.ilightbox-fullscreen {
  background-position: 6px -31px;
}
.ilightbox-toolbar.smooth a.ilightbox-play {
  background-position: 8px -55px;
}
.ilightbox-toolbar.smooth a.ilightbox-pause {
  background-position: 8px -81px;
}
.isMobile .ilightbox-toolbar.smooth {
  background: #000;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  text-align: center;
}
.isMobile .ilightbox-toolbar.smooth a {
  display: inline-block;
  float: none;
  width: 50px;
  height: 40px;
  background-size: 50%;
  background-position: 50%;
}
.isMobile .ilightbox-toolbar.smooth a.ilightbox-fullscreen {
  background-image: url(../../assets/images/iLightbox/smooth-skin/fullscreen-icon-64.png);
}
.isMobile .ilightbox-toolbar.smooth a.ilightbox-close {
  background-image: url(../../assets/images/iLightbox/smooth-skin/x-mark-icon-64.png);
}
.isMobile .ilightbox-toolbar.smooth a.ilightbox-next-button {
  background-image: url(../../assets/images/iLightbox/smooth-skin/arrow-next-icon-64.png);
  background-position: 52% 50%;
}
.isMobile .ilightbox-toolbar.smooth a.ilightbox-prev-button {
  background-image: url(../../assets/images/iLightbox/smooth-skin/arrow-prev-icon-64.png);
  background-position: 48% 50%;
}
.isMobile .ilightbox-toolbar.smooth a.ilightbox-play {
  background-image: url(../../assets/images/iLightbox/smooth-skin/play-icon-64.png);
}
.isMobile .ilightbox-toolbar.smooth a.ilightbox-pause {
  background-image: url(../../assets/images/iLightbox/smooth-skin/pause-icon-64.png);
}
.ilightbox-holder.smooth .ilightbox-inner-toolbar .ilightbox-title {
  font-size: 18px;
  padding: 10px 12px;
  padding-right: 60px;
  color: #acacad;
}
.ilightbox-holder.smooth .ilightbox-inner-toolbar .ilightbox-toolbar {
  left: auto;
  top: 5px;
  right: 5px;
}
.ilightbox-holder.smooth .ilightbox-inner-toolbar .ilightbox-toolbar a {
  float: right;
}
/* Style thumbnails */
.ilightbox-thumbnails.smooth.ilightbox-horizontal {
  height: 100px;
}
.ilightbox-thumbnails.smooth.ilightbox-horizontal .ilightbox-thumbnails-container {
  height: 100px;
}
.ilightbox-thumbnails.smooth.ilightbox-vertical {
  width: 140px;
}
.ilightbox-thumbnails.smooth.ilightbox-vertical .ilightbox-thumbnails-container {
  width: 140px;
}
.ilightbox-thumbnails.smooth .ilightbox-thumbnails-grid .ilightbox-thumbnail {
  padding: 10px;
}
.ilightbox-thumbnails.smooth .ilightbox-thumbnails-grid .ilightbox-thumbnail img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  border-radius: 0;
}
.ilightbox-thumbnails.smooth .ilightbox-thumbnails-grid .ilightbox-thumbnail:after {
  display: block;
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  margin: auto;
  pointer-events: none;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.11);
}
.ilightbox-thumbnails.smooth.ilightbox-vertical .ilightbox-thumbnails-grid .ilightbox-thumbnail {
  margin-bottom: -10px;
}
.ilightbox-thumbnails.smooth.ilightbox-horizontal .ilightbox-thumbnails-grid .ilightbox-thumbnail {
  margin-right: -10px;
}
.ilightbox-thumbnails.smooth .ilightbox-thumbnails-grid .ilightbox-thumbnail .ilightbox-thumbnail-video {
  background: url(../../assets/images/iLightbox/smooth-skin/thumb-overlay-play.png) no-repeat center;
}
/* Configure arrow buttons */
.ilightbox-button.smooth.disabled {
  opacity: 0.1;
  filter: alpha(opacity=10);
  cursor: default;
}
.ilightbox-button.smooth span {
  display: block;
  width: 100%;
  height: 100%;
}
.ilightbox-button.smooth {
  bottom: 0;
  right: 0;
  left: 0;
  width: 120px;
  height: 70px;
  margin: auto;
  background: url(../../assets/images/iLightbox/smooth-skin/arrows_vertical.png) no-repeat 50% -110px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5);
  border: rgba(255, 255, 255, 0.2) 1px solid;
}
.ilightbox-button.ilightbox-next-button.smooth {
  border-bottom: 0;
}
.ilightbox-button.ilightbox-prev-button.smooth {
  top: 0;
  bottom: auto;
  background-position: 50% -15px;
  border-top: 0;
}
.ilightbox-button.smooth.horizontal {
  right: 0;
  left: auto;
  top: 0;
  bottom: 0;
  width: 70px;
  height: 120px;
  background-image: url(../../assets/images/iLightbox/smooth-skin/arrows_horizontal.png);
  background-position: -110px 50%;
  border: rgba(255, 255, 255, 0.2) 1px solid;
}
.ilightbox-button.ilightbox-next-button.smooth.horizontal {
  border-right: 0;
}
.ilightbox-button.ilightbox-prev-button.smooth.horizontal {
  right: auto;
  left: 0;
  background-position: -18px 50%;
  border-left: 0;
}
/*# sourceMappingURL=ilightbox.css.map */