.fusion-builder-panel-main {
  font-family: "Noto Sans", Roboto, "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
}
.fusion-builder-panel-main:not(.expanded) #customize-controls .ui-resizable-e {
  display: none !important;
}
.fusion-builder-panel-main #customize-controls a {
  text-decoration: none;
}
.fusion-builder-panel-main #customize-controls[data-editor="false"] .fusion-builder-toggles a[href="#fusion-builder-sections-eo"],
.fusion-builder-panel-main #customize-controls[data-dialog="true"] .fusion-builder-toggles a[href="#fusion-builder-sections-eo"],
.fusion-builder-panel-main #customize-controls[data-editor="false"] #fusion-builder-sections-eo,
.fusion-builder-panel-main #customize-controls[data-dialog="true"] #fusion-builder-sections-eo {
  display: none;
}
.fusion-builder-panel-main #customize-controls[data-archive="true"] .fusion-po-only {
  display: none !important;
}
.fusion-builder-panel-main #customize-controls:not([data-archive="true"]) .fusion-tax-only {
  display: none !important;
}
.fusion-builder-panel-main.expanded #customize-preview {
  transition-delay: 0.1s;
}
.fusion-builder-panel-main.expanded #customize-controls {
  left: 0;
  z-index: 99;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
.fusion-builder-panel-main.expanded #customize-controls a img {
  max-width: 100%;
}
.fusion-builder-panel-main.expanded #customize-controls .fusion-builder-toggles .fusion-page-options,
.fusion-builder-panel-main.expanded #customize-controls .fusion-builder-toggles .fusion-page-settings {
  display: none;
}
.fusion-builder-panel-main.expanded #customize-controls .fusion-builder-toggles .label.hidden {
  display: none;
}
.fusion-builder-panel-main.expanded #customize-controls[data-context="page-settings"] .fusion-page-options,
.fusion-builder-panel-main.expanded #customize-controls[data-context="page-settings"] .fusion-page-settings {
  display: -ms-flexbox;
  display: flex;
}
.fusion-builder-panel-main.expanded #customize-controls[data-context="page-settings"] .fusion-theme-options,
.fusion-builder-panel-main.expanded #customize-controls[data-context="page-settings"] .fusion-elements-options {
  display: none;
}
.fusion-builder-panel-main .fusion-builder-option.switch .option-field .switch-label {
  font-size: .85em;
}
.fusion-builder-panel-main .fusion-builder-option.switch .option-field .switch-label:before {
  right: 15px;
}
.fusion-builder-panel-main .fusion-builder-option.switch .option-field .switch-label:after {
  left: 15px;
}
.fusion-builder-panel-main .fusion-builder-option.info {
  background: #f2f3f5 !important;
  color: #616970;
  height: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.fusion-builder-panel-main .fusion-builder-option.info h3 {
  margin: 0;
  font-size: 12px;
}
#customizer-content {
  max-width: 100%;
  height: 100%;
  overflow: hidden;
}
.sidebar-right #customize-controls {
  transition: right 0.25s ease;
}
#customize-preview.fusion-overlay-mode {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
#customize-preview.fusion-overlay-mode #customize-controls {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
#customize-preview.fusion-overlay-mode #fb-preview-loader {
  width: 100% !important;
}
#customize-controls {
  height: calc(100vh - 54px);
  min-width: 320px;
  position: fixed;
  top: 0;
  background: white;
  overflow: visible;
  margin-top: 54px;
  transition: left 0.25s ease;
}
#customize-controls .fusion-empty-section {
  display: none;
  padding: 24px 20px;
  font-size: 13px;
  font-weight: 400;
  color: #444;
  line-height: 1.6em;
}
#customize-controls .fusion-empty-section:first-child:last-child {
  display: block;
}
#customize-controls #fusion-builder-sections-eo .fusion-child-sortables h3 {
  margin: 12px 0;
}
#customize-controls #fusion-builder-sections-eo .ui-dialog-titlebar {
  position: relative;
  font-size: 18px;
  padding: 15px 20px;
  font-family: "Noto Sans", Roboto, "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  border-bottom: 1px solid #f2f3f5;
  background: #fff;
}
#customize-controls #fusion-builder-sections-eo .ui-dialog-titlebar .fusion-builder-section-name {
  background: #fff;
  color: #000;
  border-color: transparent;
}
#customize-controls #fusion-builder-sections-eo .ui-dialog-titlebar .fusion-builder-section-name:hover,
#customize-controls #fusion-builder-sections-eo .ui-dialog-titlebar .fusion-builder-section-name:focus {
  border-color: #f2f3f5;
  outline: none;
}
#customize-controls #fusion-builder-sections-eo .ui-dialog-titlebar h2 {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  font-weight: 600;
  margin: .1em 0;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
#customize-controls #fusion-builder-sections-eo .ui-dialog-titlebar h2 .fusion-builder-go-back {
  text-decoration: none;
  display: inline-block;
  color: #93999f;
  text-align: center;
  padding-right: 20px;
}
#customize-controls #fusion-builder-sections-eo .ui-dialog-titlebar .fusion-utility-menu-wrap {
  font-size: 18px;
  cursor: pointer;
  margin-right: 9px;
  position: relative;
  top: auto;
  right: auto;
  transform: none;
}
#customize-controls #fusion-builder-sections-eo .ui-dialog-titlebar > button {
  font-size: 14px;
  border: none;
  width: auto;
  height: auto;
  margin: 0;
  margin-left: auto;
  padding: 0;
  cursor: pointer;
  outline: none;
  background: none;
}
#customize-controls #fusion-builder-sections-eo .fusion-builder-modal-top-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 12;
}
#customize-controls #fusion-builder-sections-eo .fusion-builder-modal-top-container .fusion-tabs-menu {
  background: #198fd9;
  padding: 0;
  list-style: none;
  clear: both;
  margin: 0;
  display: -ms-flexbox;
  display: flex;
}
#customize-controls #fusion-builder-sections-eo .fusion-builder-modal-top-container .fusion-tabs-menu li {
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
}
#customize-controls #fusion-builder-sections-eo .fusion-builder-modal-top-container .fusion-tabs-menu li a {
  display: block;
  padding: 11px 20px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: "Noto Sans", Roboto, "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  text-decoration: none;
  transition: background-color 0.1s ease;
}
#customize-controls #fusion-builder-sections-eo .fusion-builder-modal-top-container .fusion-tabs-menu li a:focus {
  outline: none;
}
#customize-controls #fusion-builder-sections-eo .fusion-builder-modal-top-container .fusion-tabs-menu li a:hover {
  background: #0e7abd;
}
#customize-controls #fusion-builder-sections-eo .fusion-builder-modal-top-container .fusion-tabs-menu li a[href="#bg"] {
  text-transform: uppercase;
}
#customize-controls #fusion-builder-sections-eo .fusion-builder-modal-top-container .fusion-tabs-menu li.current a {
  background: #0e7abd;
}
#customize-controls #fusion-builder-sections-eo .fusion-empty-section {
  display: none;
  height: calc(100% - 54px);
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
}
#customize-controls #fusion-builder-sections-eo .fusion-empty-section:first-child:last-child {
  display: -ms-flexbox;
  display: flex;
}
#customize-controls #fusion-builder-sections-eo .fusion-empty-section i {
  background: #198fd9;
  padding: 15px;
  font-size: 18px;
  border-radius: 4px;
  color: white;
  margin: 0 auto;
  display: inline-block;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.08);
}
#customize-controls .ui-resizable-e {
  cursor: ew-resize !important;
  pointer-events: auto;
  z-index: 9999 !important;
  width: 8px !important;
  right: -4px !important;
  background: transparent;
}
.collapsed-toolbar #customize-controls {
  margin-top: 0;
}
#customize-controls .fusion-panel-section-header-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  background: #fff;
  height: 62px;
  border-bottom: 1px solid #f2f3f5;
  padding: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}
#customize-controls .fusion-panel-section-header-wrapper .fusion-builder-go-back {
  display: inline-block;
  color: #93999f;
  text-align: center;
  padding-right: 10px;
}
#customize-controls .fusion-panel-section-header-wrapper .fusion-builder-tab-section-title {
  text-align: center;
  font-size: 16px;
  line-height: 38px;
  font-weight: bold;
  padding: 0 10px;
  color: #2a3035;
}
#customize-controls .fusion-builder-toggles {
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  border-bottom: 1px solid #f2f3f5;
}
#customize-controls .fusion-builder-toggles a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  background: #fff;
  padding: 10px 0;
  color: #222;
  height: 54px;
  width: 62px;
  border: none;
  border-left: 1px solid #e8e9eb;
}
#customize-controls .fusion-builder-toggles a:first-child {
  border-left: none;
}
#customize-controls .fusion-builder-toggles a .icon {
  font-size: 16px;
  display: inline-block;
  height: 54px;
  width: 62px;
  padding: 19px 22px;
  background: #f2f3f5;
  color: #63686e;
  transition: all 0.1s ease;
}
#customize-controls .fusion-builder-toggles a .label {
  display: none;
  width: 100%;
  max-width: 0;
  overflow: hidden;
  font-weight: 600;
  padding-left: 22px;
  padding-right: 22px;
}
#customize-controls .fusion-builder-toggles a.fusion-active {
  width: 100%;
  border-bottom-color: transparent;
}
#customize-controls .fusion-builder-toggles a.fusion-active .label {
  display: inline-block;
  color: #198fd9;
  max-width: 320px;
}
#customize-controls .fusion-builder-toggles a.fusion-active .icon {
  display: none;
}
#customize-controls .fusion-builder-toggles a:hover .icon {
  background: #198fd9;
  color: #fff;
}
#customize-controls #fusion-builder-sections-to[data-context="TO"] .fusion-panel-section-header-wrapper[data-context="FBE"],
#customize-controls #fusion-builder-sections-to[data-context="TO"] .fusion-builder-custom-panel[data-context="FBE"],
#customize-controls #fusion-builder-sections-to[data-context="TO"] .fusion-panel-section-header-wrapper[data-context="FBAO"],
#customize-controls #fusion-builder-sections-to[data-context="TO"] .fusion-builder-custom-panel[data-context="FBAO"] {
  display: none !important;
}
#customize-controls #fusion-builder-sections-to[data-context="FBE"] .fusion-panel-section-header-wrapper[data-context="TO"],
#customize-controls #fusion-builder-sections-to[data-context="FBE"] .fusion-builder-custom-panel[data-context="TO"],
#customize-controls #fusion-builder-sections-to[data-context="FBE"] .fusion-panel-section-header-wrapper[data-context="FBAO"],
#customize-controls #fusion-builder-sections-to[data-context="FBE"] .fusion-builder-custom-panel[data-context="FBAO"] {
  display: none !important;
}
#customize-controls #fusion-builder-sections-to[data-context="FBAO"] .fusion-panel-section-header-wrapper[data-context="FBE"],
#customize-controls #fusion-builder-sections-to[data-context="FBAO"] .fusion-builder-custom-panel[data-context="FBE"],
#customize-controls #fusion-builder-sections-to[data-context="FBAO"] .fusion-panel-section-header-wrapper[data-context="TO"],
#customize-controls #fusion-builder-sections-to[data-context="FBAO"] .fusion-builder-custom-panel[data-context="TO"] {
  display: none !important;
}
.fusion-sidebar-section {
  height: calc(100% - 54px);
  overflow-x: hidden;
  overflow-y: scroll;
}
.fusion-sidebar-section .fusion-builder-custom-panel ul {
  margin: 0;
  padding: 0;
}
.fusion-sidebar-section .fusion-builder-custom-panel ul a {
  transition: all 0.1ms ease;
}
.fusion-sidebar-section .fusion-builder-custom-panel ul .fusion-panel-link {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-size: 14px;
  padding: 16px 18px;
  color: #333;
  border-left: 5px solid transparent;
  font-weight: 600;
}
.fusion-sidebar-section .fusion-builder-custom-panel ul .fusion-panel-link > i {
  width: 14px;
  display: inline-block;
  margin-right: 15px;
}
.fusion-sidebar-section .fusion-builder-custom-panel ul .fusion-panel-link:hover,
.fusion-sidebar-section .fusion-builder-custom-panel ul .fusion-panel-link[aria-expanded="true"] {
  background-color: rgba(25, 143, 217, 0.07);
  color: #198fd9;
  border-left-color: #198fd9;
}
.fusion-sidebar-section .fusion-builder-custom-panel ul > li {
  list-style: none;
  list-style-type: none;
  padding-left: 30px;
}
.fusion-sidebar-section .fusion-builder-custom-panel ul > li .fusion-sub-section-link {
  display: block;
  padding: 12px 23px;
  font-weight: 400;
  color: #616970;
  font-size: 14px;
}
.fusion-sidebar-section .fusion-builder-custom-panel ul > li .fusion-sub-section-link:hover {
  color: #198fd9;
}
.fusion-builder-search-wrapper .fusion-builder-search {
  border-right: 0;
  width: 100%;
  box-shadow: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #f2f3f5;
  min-height: 54px;
  padding: 8px 15px 8px 50px;
  margin: 0;
  background-color: #fff;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="rgba(147,153,159,1)" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg>');
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 21px 20px;
  font-size: 14px;
}
.fusion-builder-validation {
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
}
.fusion-builder-validation.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
/*# sourceMappingURL=panel.css.map */