.fusion-load-more-button.fusion-blog-button {
  background-color: var(--blog_load_more_posts_button_bg_color);
  color: var(--blog_load_more_posts_button_bg_color-text-color);
}
.fusion-load-more-button.fusion-blog-button:hover {
  background-color: var(--blog_load_more_posts_button_bg_color-hover-bg);
  color: var(--blog_load_more_posts_button_bg_color-text-color);
}
body:not(.search-results) #posts-container .fusion-blog-layout-grid {
  margin-top: calc((var(--blog_archive_grid_column_spacing)) / -2);
  margin-right: calc((var(--blog_archive_grid_column_spacing)) / -2);
  margin-left: calc((var(--blog_archive_grid_column_spacing)) / -2);
  margin-bottom: 0;
}
body:not(.search-results) #posts-container .fusion-blog-layout-grid .fusion-post-grid {
  padding: calc((var(--blog_archive_grid_column_spacing)) / 2);
}
.avada-blog-layout-grid .fusion-blog-archive .fusion-blog-layout-grid .post .fusion-post-content-wrapper,
.avada-blog-archive-layout-grid .fusion-blog-archive .fusion-blog-layout-grid .post .fusion-post-content-wrapper,
.avada-blog-layout-timeline .fusion-blog-archive .fusion-blog-layout-timeline .post .fusion-post-content-wrapper,
.avada-blog-archive-layout-timeline .fusion-blog-archive .fusion-blog-layout-timeline .post .fusion-post-content-wrapper,
.avada-blog-layout-masonry .fusion-blog-archive .fusion-blog-layout-masonry .post .fusion-post-content-wrapper,
.avada-blog-archive-layout-masonry .fusion-blog-archive .fusion-blog-layout-masonry .post .fusion-post-content-wrapper {
  padding: var(--blog_archive_grid_padding-top) var(--blog_archive_grid_padding-right) var(--blog_archive_grid_padding-bottom) var(--blog_archive_grid_padding-left);
}
.fusion-image-wrapper .fusion-rollover .fusion-rollover-content .fusion-rollover-categories,
.fusion-image-wrapper .fusion-rollover .fusion-rollover-content .fusion-rollover-categories a,
.fusion-recent-posts .columns .column .meta,
.fusion-carousel-meta,
.fusion-single-line-meta,
#wrapper .fusion-events-shortcode .fusion-events-meta h4,
.fusion-meta,
.fusion-meta-info,
.fusion-recent-posts .columns .column .meta,
.post .single-line-meta,
.fusion-carousel-meta,
.widget_recent_entries .post-date {
  font-size: var(--meta_font_size);
}
/*# sourceMappingURL=blog.css.map */