.event-is-recurring:hover,
#tribe-events .tribe-events-list .tribe-event-featured a:hover,
#tribe-events .tribe-events-list .tribe-event-featured a:active,
.tribe-events-gmap:hover:before,
.tribe-events-gmap:hover:after,
.tribe-events-nav-previous a:hover:before,
.tribe-events-nav-previous a:hover:after,
.tribe-events-nav-next a:hover:before,
.tribe-events-nav-next a:hover:after,
#tribe-events-content .tribe-events-sub-nav li a:hover,
.widget .tribe-mini-calendar-event .list-date .list-dayname,
#tribe_events_filters_wrapper .tribe_events_slider_val,
.tribe-events-tickets .tickets_price .amount,
.page-tribe-attendee-registration .tribe-block__tickets__registration__back__to__cart:hover,
.tribe-block__tickets__registration__back__to__cart:hover:before,
.single-tribe_events .fusion-content-widget-area a:hover,
.single-tribe_events .fusion-content-widget-area a:hover:before,
.single-tribe_events .fusion-content-widget-area a:hover:after,
.single-tribe_events .fusion-content-widget-area .widget li a:hover,
.single-tribe_events .fusion-content-widget-area .widget li a:hover:before,
.single-tribe_events .fusion-content-widget-area .widget li a:hover:after,
.tribe-events-viewmore > a:hover:after,
.rtl .tribe-events-viewmore > a:hover:before {
  color: var(--primary_color);
}
.tribe-grid-header,
.tribe-events-grid .tribe-grid-header .tribe-grid-content-wrap .column,
.tribe-grid-allday .tribe-event-featured.tribe-events-week-allday-single,
.fusion-body .tribe-grid-body div[id*="tribe-events-event-"],
.fusion-body .tribe-grid-body div[id*="tribe-events-event-"]:hover,
.tribe-grid-allday .tribe-event-featured.tribe-events-week-hourly-single,
.tribe-grid-body .tribe-event-featured.tribe-events-week-allday-single,
.tribe-grid-body .tribe-event-featured.tribe-events-week-hourly-single {
  border-color: var(--primary_color);
}
.tribe-events-calendar thead th,
body #wrapper .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-],
#tribe-events-content table.tribe-events-calendar .type-tribe_events.tribe-event-featured,
body #wrapper #tribe-events-content .tribe-events-calendar td.tribe-events-present.mobile-active:hover,
body #wrapper #tribe-events-content .tribe-events-calendar .mobile-active:hover,
body #wrapper .tribe-events-calendar .mobile-active div[id*=tribe-events-daynum-],
#tribe-events-content .tribe-events-tooltip .entry-title,
#tribe-events-content .tribe-events-tooltip .tribe-event-title,
.tribe-events-list-separator-month,
.fusion-body .tribe-mini-calendar-event .list-date,
.tribe-grid-allday .tribe-event-featured.tribe-events-week-allday-single,
.tribe-grid-allday .tribe-event-featured.tribe-events-week-hourly-single,
.tribe-grid-body .tribe-event-featured.tribe-events-week-allday-single,
.tribe-grid-body .tribe-event-featured.tribe-events-week-hourly-single,
.tribe-grid-allday .tribe-event-featured.tribe-events-week-allday-single:hover,
.tribe-grid-allday .tribe-event-featured.tribe-events-week-hourly-single:hover,
.tribe-grid-body .tribe-event-featured.tribe-events-week-allday-single:hover,
.tribe-grid-body .tribe-event-featured.tribe-events-week-hourly-single:hover,
.tribe-events-list .tribe-events-event-cost,
.tribe-events-list .tribe-events-event-cost span,
.fusion-tribe-events-headline,
#tribe-events .tribe-events-day .tribe-events-day-time-slot .tribe-events-day-time-slot-heading,
.tribe-mobile-day-date,
.tribe-mobile-day .tribe-mobile-day-heading,
.datepicker.dropdown-menu table thead tr:nth-child(2),
.datepicker.dropdown-menu table thead tr:nth-child(2) th:hover,
.datepicker.dropdown-menu .datepicker-days table tr td.active,
.datepicker.dropdown-menu .datepicker-days table tr td:hover,
.tribe-grid-header,
.datepicker.dropdown-menu table tr td span.month.active,
.datepicker.dropdown-menu table tr td span.month:hover,
.fusion-body .tribe-grid-body div[id*="tribe-events-event-"]:hover,
.tribe-events-venue-widget .tribe-venue-widget-venue-name,
.tribe-mini-calendar .tribe-mini-calendar-nav td,
.tribe-mini-calendar div[id*='daynum-'] a:hover,
.tribe-mini-calendar td.tribe-events-has-events:hover a,
.fusion-body .tribe-mini-calendar td.tribe-events-has-events:hover a:hover,
.fusion-body .tribe-mini-calendar td.tribe-events-has-events a:hover,
.tribe-mini-calendar td.tribe-events-has-events.tribe-events-present a:hover,
.tribe-mini-calendar td.tribe-events-has-events.tribe-mini-calendar-today a:hover,
.tribe-mini-calendar .tribe-mini-calendar-today div[id*='daynum-'] a,
.tribe-mini-calendar .tribe-mini-calendar-today div[id*='daynum-'] a {
  background-color: var(--primary_color);
}
.tribe-grid-allday .tribe-events-week-allday-single,
.tribe-grid-allday .tribe-events-week-allday-single:hover,
.tribe-grid-body .tribe-events-week-hourly-single,
.datepicker.dropdown-menu .datepicker-days table tr td.active:hover {
  background-color: var(--primary_color-7a);
}
body .fusion-tribe-primary-info .tribe-events-list-event-title a,
body .fusion-events-single-title-content,
body .fusion-tribe-primary-info .tribe-events-list-event-title a,
body .datepicker.dropdown-menu table tr td.day,
body .datepicker.dropdown-menu table tr td span.month,
body .tribe-events-venue-widget .tribe-venue-widget-thumbnail .tribe-venue-widget-venue-name,
body .tribe-mini-calendar div[id*='daynum-'] a,
body .tribe-mini-calendar div[id*='daynum-'] span {
  background-color: var(--primary_color-85a);
}
.tribe-events-month .tribe-events-tooltip.tribe-events-tooltip-flipdown:before,
.tribe-events-month .tribe-events-right .tribe-events-tooltip.tribe-events-tooltip-flipdown:before {
  border-bottom-color: var(--primary_color);
}
.tribe-events-calendar thead th,
.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-],
.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-] > a,
.tribe-events-calendar div[id*=tribe-events-daynum-],
.tribe-events-calendar div[id*=tribe-events-daynum-] a,
.tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-],
.tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-] > a,
#tribe-events-content .tribe-events-tooltip .entry-title,
#tribe-events-content .tribe-events-tooltip .tribe-event-title,
.tribe-events-list-separator-month span,
.fusion-tribe-primary-info .tribe-events-list-event-title,
.fusion-tribe-primary-info .tribe-events-list-event-title a,
.tribe-events-list .tribe-events-event-cost,
#tribe-events .fusion-tribe-events-headline h3,
#tribe-events .fusion-tribe-events-headline h3 a,
#tribe-events .tribe-events-day .tribe-events-day-time-slot .tribe-events-day-time-slot-heading,
.tribe-mobile-day .tribe-mobile-day-date,
.tribe-mobile-day .tribe-mobile-day-heading,
.datepicker.dropdown-menu table thead tr:nth-child(2),
.datepicker.dropdown-menu table tr td.day,
body .fusion-events-single-title-content h2,
body .fusion-events-single-title-content h3,
body .fusion-events-single-title-content span,
.tribe-grid-header,
.fusion-body .tribe-grid-body div[id*="tribe-events-event-"] .entry-title a,
.fusion-body .tribe-grid-body div[id*="tribe-events-event-"]:hover .entry-title a,
.tribe-grid-body .tribe-events-week-hourly-single,
.tribe-grid-body .tribe-events-week-hourly-single:hover,
.datepicker.dropdown-menu .datepicker-days table tr td.active:hover,
.datepicker.dropdown-menu table tr td span.month,
.datepicker.dropdown-menu table tr td span.month.active:hover,
.recurringinfo,
.fusion-events-featured-image .event-is-recurring,
.fusion-events-featured-image .event-is-recurring:hover,
.fusion-events-featured-image .event-is-recurring a,
.single-tribe_events .fusion-events-featured-image .recurringinfo .tribe-events-divider,
.tribe-events-venue-widget .tribe-venue-widget-venue-name,
.tribe-events-venue-widget .tribe-venue-widget-venue-name a,
#slidingbar-area .tribe-events-venue-widget .tribe-venue-widget-venue-name a,
.tribe-events-venue-widget .tribe-venue-widget-venue-name,
.tribe-events-venue-widget .tribe-venue-widget-venue-name a:hover,
#slidingbar-area .tribe-events-venue-widget .tribe-venue-widget-venue-name a:hover,
.tribe-mini-calendar .tribe-mini-calendar-nav td,
.tribe-mini-calendar div[id*='daynum-'] a,
.tribe-mini-calendar div[id*='daynum-'] span,
#slidingbar-area .tribe-mini-calendar div[id*='daynum-'] a,
.tribe-mini-calendar div[id*='daynum-'] a:hover,
.tribe-mini-calendar .tribe-events-has-events:hover,
.tribe-mini-calendar .tribe-events-has-events:hover a,
.tribe-mini-calendar .tribe-events-has-events:hover a:hover,
.tribe-mini-calendar .tribe-events-has-events a:hover,
.tribe-mini-calendar .tribe-events-has-events.tribe-events-present a:hover,
.tribe-mini-calendar td.tribe-events-has-events.tribe-mini-calendar-today a:hover,
.tribe-mini-calendar .tribe-events-has-events.tribe-mini-calendar-today a,
.tribe-mini-calendar .tribe-events-has-events.tribe-mini-calendar-today a,
.tribe-mini-calendar .tribe-events-othermonth.tribe-mini-calendar-today div[id*='daynum-'] a {
  color: var(--primary_overlay_text_color);
}
.tribe-bar-views-inner,
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a,
#tribe_events_filters_wrapper .tribe-events-filters-group-heading,
#tribe-bar-views .tribe-bar-views-list,
.tribe-block__tickets__registration__event .tribe-block__tickets__registration__toggle__handler,
.tribe-block__tickets__registration__event .tribe-block__tickets__item__attendee__fields {
  background-color: var(--ec_bar_bg_color);
}
#tribe_events_filters_wrapper .tribe-events-filters-group-heading,
.tribe-events-filter-group,
.tribe-events-filter-group:after,
#tribe_events_filters_wrapper .tribe-events-filter-group label,
.tribe-events-filters-horizontal .tribe-events-filter-group:before,
.tribe-events-filters-horizontal .tribe-events-filter-group:after {
  border-bottom-color: var(--ec_bar_bg_color-25l);
}
#tribe-bar-form,
#tribe-events-bar:before,
#tribe-events-bar:after,
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal:before,
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal:after,
#tribe-bar-collapse-toggle,
#tribe-bar-collapse-toggle:hover,
#tribe-bar-collapse-toggle:focus,
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a:hover,
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a:hover,
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal,
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-vertical .tribe-events-filters-content,
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-vertical .tribe_events_filter_control,
#tribe-events-content-wrapper #tribe_events_filters_wrapper:before,
#tribe-events-content-wrapper #tribe_events_filters_wrapper:after,
.tribe-events-filter-group.tribe-events-filter-autocomplete,
.tribe-events-filter-group.tribe-events-filter-multiselect,
.tribe-events-filter-group.tribe-events-filter-range,
.tribe-events-filter-group.tribe-events-filter-select,
#tribe_events_filters_wrapper .tribe-events-filters-group-heading:hover,
#tribe_events_filters_wrapper .tribe-events-filter-group li,
#tribe_events_filters_wrapper .closed .tribe-events-filters-group-heading:hover {
  background-color: var(--ec_bar_bg_color-1l);
}
.tribe-events-filters-horizontal .tribe-events-filter-group {
  border-color: var(--ec_bar_bg_color-25l);
}
.tribe-events-filter-group:after {
  border-bottom-color: var(--ec_bar_bg_color-1l);
}
#tribe-bar-form label,
.tribe-bar-disabled #tribe-bar-form label,
#tribe-events-bar #tribe-bar-views .tribe-bar-views-toggle,
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option,
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a,
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a:hover,
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a:hover,
#tribe_events_filters_wrapper .tribe-events-filters-label,
#tribe_events_filters_wrapper .tribe-events-filters-group-heading,
#tribe_events_filters_wrapper .tribe-events-filters-group-heading:after,
#tribe_events_filters_wrapper .tribe-events-filters-content > label,
#tribe_events_filters_wrapper label span,
.tribe-block__tickets__registration__event .tribe-block__tickets__registration__toggle__handler {
  color: var(--ec_bar_text_color);
}
.tribe-events-calendar div[id*=tribe-events-daynum-],
.tribe-events-calendar div[id*=tribe-events-daynum-] a,
.tribe-events-grid .tribe-grid-header .tribe-week-today {
  background-color: var(--ec_calendar_heading_bg_color);
}
#tribe-events-content .tribe-events-calendar td.tribe-events-othermonth,
.tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-],
.tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-] > a {
  background-color: var(--ec_calendar_heading_bg_color-4l);
}
#tribe-events-content .tribe-events-calendar td {
  background-color: var(--ec_calendar_bg_color);
}
#tribe-events-content .tribe-events-calendar td.tribe-events-othermonth {
  background-color: var(--ec_calendar_bg_color-8l);
}
#tribe-events-content .tribe-events-calendar td:hover,
.tribe-week-today {
  background-color: var(--ec_calendar_bg_color-6l);
}
.tribe-grid-allday,
.tribe-week-grid-hours {
  background-color: var(--ec_calendar_bg_color-7l);
}
.recurring-info-tooltip,
#tribe-events-content .tribe-events-tooltip {
  background-color: var(--ec_tooltip_bg_color);
}
.tribe-events-month .tribe-events-tooltip:after {
  border-top-color: var(--ec_tooltip_bg_color);
}
#tribe-events-content .tribe-events-tooltip {
  color: var(--ec_tooltip_body_color);
}
.tribe-events-single .related-posts .fusion-title .title-sep,
#tribe-events .tribe-events-list .tribe-events-event-meta .author > div,
.fusion-body #tribe-events .tribe-events-list .tribe-events-event-meta .author > div:last-child,
.events-list #tribe-events-footer,
.single-tribe_events #tribe-events-footer,
#tribe-events #tribe-events-footer,
.tribe-grid-allday,
.tribe-events-grid,
.tribe-events-grid .tribe-scroller,
.tribe-events-grid .tribe-grid-content-wrap .column,
.tribe-week-grid-block div,
#tribe-events #tribe-geo-results .type-tribe_events:last-child,
.events-archive.events-gridview #tribe-events-content table .type-tribe_events,
.tribe-events-viewmore,
.fusion-events-before-title .tribe-events-page-title,
.fusion-events-before-title .fusion-events-title-above:before,
.fusion-events-before-title .fusion-events-title-above:after,
#tribe-events .tribe-events-list .type-tribe_events,
#tribe-events .tribe-events-list-separator-month + .type-tribe_events.tribe-events-first,
#tribe-events-content .tribe-events-calendar td,
#tribe-events-content table.tribe-events-calendar {
  border-color: var(--ec_border_color);
}
#wrapper .tribe-events-list .tribe-events-list-separator-month,
#wrapper .tribe-events-list .tribe-events-day-time-slot-heading {
  font-size: var(--ec_sep_heading_font_size);
}
.single-tribe_events #content {
  width: 100%;
}
.avada-ec-not-100-width.avada-ec-meta-layout-sidebar.single-tribe_events #main .sidebar {
  width: var(--ec_sidebar_width);
}
.avada-ec-not-100-width.avada-ec-meta-layout-sidebar.single-tribe_events #content {
  width: calc(100% - var(--ec_sidebar_width) - var(--sidebar_gutter));
}
body.has-sidebar.single-tribe_events #main .sidebar {
  width: var(--ec_sidebar_width);
}
body.has-sidebar.single-tribe_events #content {
  width: calc(100% - var(--ec_sidebar_width) - var(--sidebar_gutter));
}
body.has-sidebar.single-tribe_events.double-sidebars #content {
  width: calc(100% - var(--ec_sidebar_2_1_width) - var(--ec_sidebar_2_2_width) - var(--dual_sidebar_gutter) - var(--dual_sidebar_gutter));
  margin-left: calc(var(--ec_sidebar_2_1_width) + var(--dual_sidebar_gutter));
}
body.has-sidebar.single-tribe_events.double-sidebars #main #sidebar {
  width: var(--ec_sidebar_2_1_width);
  margin-left: calc(var(--dual_sidebar_gutter) - 100% + var(--ec_sidebar_2_2_width));
}
body.has-sidebar.single-tribe_events.double-sidebars #main #sidebar-2 {
  width: var(--ec_sidebar_2_2_width);
}
.single-tribe_events #main .fusion-content-widget-area:not(.fusion-sticky-sidebar),
.single-tribe_events #main .fusion-sticky-sidebar .fusion-sidebar-inner-content {
  background-color: var(--ec_sidebar_bg_color);
}
.single-tribe_events #main .fusion-content-widget-area {
  padding: var(--ec_sidebar_padding);
}
.single-tribe_events .fusion-content-widget-area {
  font-size: var(--ec_text_font_size);
  color: var(--ec_sidebar_text_color);
}
.single-tribe_events .fusion-content-widget-area .widget .widget-title,
.single-tribe_events .fusion-content-widget-area .tribe-events-single-section-title,
.single-tribe_events .fusion-content-widget-area .tribe-events-tickets-title {
  font-size: var(--ec_sidew_font_size);
  background-color: var(--ec_sidebar_widget_bg_color);
}
.single-tribe_events .fusion-content-widget-area .widget .heading .widget-title {
  background-color: var(--ec_sidebar_widget_bg_color);
}
.single-tribe_events .fusion-content-widget-area .widget .widget-title,
.single-tribe_events .fusion-content-widget-area .widget .heading h4,
.single-tribe_events .fusion-content-widget-area .tribe-events-single-section-title,
.single-tribe_events .fusion-content-widget-area .tribe-events-tickets-title {
  color: var(--ec_sidebar_heading_color);
}
.single-tribe_events .fusion-content-widget-area a,
.single-tribe_events .fusion-content-widget-area a:before,
.single-tribe_events .fusion-content-widget-area a:after,
.single-tribe_events .fusion-content-widget-area .widget li a,
.single-tribe_events .fusion-content-widget-area .widget li a:before,
.single-tribe_events .fusion-content-widget-area .widget li a:after {
  color: var(--ec_sidebar_link_color);
}
.single-tribe_events .fusion-content-widget-area .widget_nav_menu li,
.single-tribe_events .fusion-content-widget-area .widget_meta li,
.single-tribe_events .fusion-content-widget-area .widget_recent_entries li,
.single-tribe_events .fusion-content-widget-area .widget_archive li,
.single-tribe_events .fusion-content-widget-area .widget_pages li,
.single-tribe_events .fusion-content-widget-area .widget_links li,
.single-tribe_events .fusion-content-widget-area .widget li a,
.single-tribe_events .fusion-content-widget-area .widget .recentcomments,
.single-tribe_events .fusion-content-widget-area .widget_categories li,
.single-tribe_events .fusion-content-widget-area .fusion-tabs-widget .fusion-tabs-classic,
.single-tribe_events .fusion-content-widget-area .fusion-tabs-widget .fusion-tabs-widget-content .fusion-tabs-widget-items li,
.single-tribe_events .fusion-content-widget-area .tagcloud a,
.single-tribe_events .fusion-content-widget-area .tribe-events-meta-group dd,
.single-tribe_events .fusion-content-widget-area .tribe-mini-calendar-event,
.single-tribe_events .fusion-content-widget-area .tribe-events-list-widget ol li,
.single-tribe_events .fusion-content-widget-area .tribe-events-venue-widget li,
.single-tribe_events .fusion-content-widget-area .tribe-events-tickets td {
  border-color: var(--ec_sidebar_divider_color);
}
.single-tribe_events .tribe-events-event-meta {
  font-size: var(--ec_text_font_size);
}
.single-tribe_events #main .sidebar.fusion-sticky-sidebar .fusion-sidebar-inner-content {
  padding: var(--ec_sidebar_padding-no-vw);
}
.single-tribe_events .sidebar .widget .widget-title,
.single-tribe_events .sidebar .widget .heading .widget-title,
.single-tribe_events .sidebar .tribe-events-single-section-title,
.single-tribe_events .sidebar .tribe-events-tickets-title {
  padding: var(--ec_sidebar_widget_bg_color-opaque-padding);
}
#tribe-bar-form input[type=text],
.tribe-bar-disabled #tribe-bar-form .tribe-bar-filters input[type=text],
.page-tribe-attendee-registration .tribe-block__tickets__item__attendee__fields input[type=text],
.page-tribe-attendee-registration .tribe-block__tickets__item__attendee__fields input[type=text]:focus,
.page-tribe-attendee-registration .tribe-block__tickets__item__attendee__fields select,
.page-tribe-attendee-registration .tribe-block__tickets__item__attendee__fields select:focus {
  height: var(--form_input_height);
  background-color: var(--form_bg_color);
  font-size: var(--form_text_size);
  color: var(--form_text_color);
  border-width: var(--form_border_width);
  border-color: var(--form_border_color);
  border-radius: var(--form_border_radius);
}
#tribe-bar-form input[type=text]:focus,
.tribe-bar-disabled #tribe-bar-form .tribe-bar-filters input[type=text]:focus,
.page-tribe-attendee-registration .tribe-block__tickets__item__attendee__fields input[type=text]:focus,
.page-tribe-attendee-registration .tribe-block__tickets__item__attendee__fields input[type=text]:focus:focus,
.page-tribe-attendee-registration .tribe-block__tickets__item__attendee__fields select:focus,
.page-tribe-attendee-registration .tribe-block__tickets__item__attendee__fields select:focus:focus {
  border-color: var(--form_focus_border_color);
}
.page-tribe-attendee-registration .tribe-block__tickets__item__attendee__fields input[type=text] {
  height: var(--form_input_height);
  background-color: var(--form_bg_color);
}
#tribe-bar-form input[type=text]::-moz-placeholder,
.tribe-bar-disabled #tribe-bar-form .tribe-bar-filters input[type=text]::-moz-placeholder,
.page-tribe-attendee-registration .tribe-block__tickets__item__attendee__fields input[type=text]::-moz-placeholder {
  color: var(--form_text_color);
}
#tribe-bar-form input[type=text]::-webkit-input-placeholder,
.tribe-bar-disabled #tribe-bar-form .tribe-bar-filters input[type=text]::-webkit-input-placeholder,
.page-tribe-attendee-registration .tribe-block__tickets__item__attendee__fields input[type=text]::-webkit-input-placeholder {
  color: var(--form_text_color);
}
#tribe-bar-form input[type=text]::-ms-input-placeholder,
.tribe-bar-disabled #tribe-bar-form .tribe-bar-filters input[type=text]::-ms-input-placeholder,
.page-tribe-attendee-registration .tribe-block__tickets__item__attendee__fields input[type=text]::-ms-input-placeholder {
  color: var(--form_text_color);
}
.fusion-body .tribe-events-tickets .quantity {
  border-radius: var(--form_border_radius);
}
.fusion-body .tribe-events-tickets .quantity,
.quantity .tribe-ticket-quantity {
  border-width: var(--form_border_width);
}
.fusion-footer-widget-area .tribe-mini-calendar-event,
.fusion-footer-widget-area .tribe-events-list-widget ol li,
.fusion-footer-widget-area .tribe-events-venue-widget li {
  border-color: var(--footer_divider_color);
}
body.has-sidebar.double-sidebars.single-tribe_events #main #sidebar-2 {
  margin-left: var(--dual_sidebar_gutter);
}
#tribe-events-content .tribe-events-sub-nav li a,
.event-is-recurring,
.page-tribe-attendee-registration .tribe-block__tickets__registration__back__to__cart {
  color: var(--link_color);
}
.tribe-mobile #main {
  padding-top: var(--main_padding-top-or-55px);
}
#tribe-bar-views-toggle:focus,
#tribe-bar-views-toggle:hover,
#tribe-bar-views .tribe-bar-views-option.tribe-bar-active,
#tribe-bar-views .tribe-bar-views-option:hover,
#tribe-events-content-wrapper #tribe_events_filters_wrapper .tribe-events-filter-group li:hover {
  background-color: var(--ec_bar_bg_color-15l);
}
#tribe-bar-form.tribe-bar-collapse {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#tribe-bar-form.tribe-bar-collapse:before,
#tribe-bar-form.tribe-bar-collapse:after,
#tribe-bar-form.tribe-bar-collapse .tribe-clearfix:before,
#tribe-bar-form.tribe-bar-collapse .tribe-clearfix:after {
  display: none;
}
#tribe-bar-form.tribe-bar-collapse #tribe-bar-filters-wrap {
  width: 100%;
}
#tribe-bar-form.tribe-bar-collapse #tribe-bar-collapse-toggle {
  padding: 15px;
  margin: 0;
}
#tribe-bar-form.tribe-bar-collapse #tribe-bar-collapse-toggle:hover,
#tribe-bar-form.tribe-bar-collapse #tribe-bar-collapse-toggle:focus {
  color: #333;
}
#tribe-bar-form.tribe-bar-collapse #tribe-bar-views {
  margin-top: 0;
  width: 100%;
}
#tribe-bar-form.tribe-bar-collapse #tribe-bar-views .tribe-bar-views-inner {
  padding: 10px 0 7px;
}
#tribe-bar-form.tribe-bar-collapse #tribe-bar-views .tribe-bar-views-option,
#tribe-bar-form.tribe-bar-collapse #tribe-bar-views .tribe-bar-views-toggle {
  padding: 8px 15px;
}
#tribe-bar-form.tribe-bar-collapse #tribe-bar-views .tribe-bar-views-toggle:after {
  right: 15px;
  border-width: 8px;
}
#tribe-bar-form.tribe-bar-collapse .tribe-bar-filters {
  padding: 10px 0;
  box-shadow: none;
}
body:not(.has-sidebar) #tribe-bar-form.tribe-bar-collapse .tribe-bar-filters {
  margin: 0;
}
#tribe-bar-form.tribe-bar-collapse .tribe-bar-filters-inner {
  display: block;
}
#tribe-events-bar #tribe-bar-form.tribe-bar-collapse .tribe-bar-filters-inner > div {
  padding: 15px 15px 5px 15px;
  width: 100%;
}
#tribe-bar-form.tribe-bar-collapse .tribe-bar-filters-inner .tribe-bar-submit {
  float: right;
  padding-top: 10px;
}
/*# sourceMappingURL=ec.css.map */