.ei-slider {
  width: var(--tfes_dimensions-width);
  height: var(--tfes_dimensions-height);
}
.ei-slider h2 {
  font-size: var(--es_title_font_size);
  color: var(--es_title_color);
}
.ei-slider h3 {
  font-size: var(--es_caption_font_size);
  color: var(--es_caption_color);
}
/*# sourceMappingURL=elastic-slider.css.map */