.widget .tribe-mini-calendar-event .list-date .list-dayname,
#wrapper .fusion-date-and-formats .fusion-format-box,
.tribe-mini-calendar-event .list-date .list-dayname {
  background-color: var(--dates_box_color);
}
.fusion-menu-item-button .menu-text {
  border-color: var(--button_border_color);
}
.fusion-menu-item-button:hover .menu-text {
  border-color: var(--button_border_hover_color, var(--button_border_color));
}
/*# sourceMappingURL=fb.css.map */