.fusion-footer-widget-area {
  background-image: var(--footerw_bg_image);
  background-repeat: var(--footerw_bg_repeat);
  background-position: var(--footerw_bg_pos);
  padding-top: var(--footer_area_padding-top);
  padding-bottom: var(--footer_area_padding-bottom);
  background-color: var(--footer_bg_color);
  border-top-width: var(--footer_border_size);
  border-color: var(--footer_border_color);
  background-size: var(--footerw_bg_full-size);
  background-position: var(--footerw_bg_full-position);
  color: var(--footer_text_color);
}
.fusion-footer-widget-area .fusion-tabs-clean .fusion-tabs-nav ul {
  border: 1px solid var(--footer_divider_color);
}
.fusion-footer-widget-area .fusion-tabs-widget .fusion-tabs-nav ul li {
  border-color: var(--footer_bg_color);
}
.fusion-footer-widget-area .widget_nav_menu li,
.fusion-footer-widget-area .widget_categories li,
.fusion-footer-widget-area .widget_product_categories li,
.fusion-footer-widget-area .widget_meta li,
.fusion-footer-widget-area .widget li.recentcomments,
.fusion-footer-widget-area .widget_recent_entries li,
.fusion-footer-widget-area .widget_archive li,
.fusion-footer-widget-area .widget_pages li,
.fusion-footer-widget-area .widget_links li,
.fusion-footer-widget-area .widget_layered_nav li {
  border-color: var(--footer_divider_color);
  color: var(--footer_text_color);
}
.fusion-footer-widget-area ul li,
.fusion-footer-widget-area .tagcloud a,
.fusion-footer-widget-area .fusion-tabs-widget .fusion-tabs-classic,
.fusion-footer-widget-area .fusion-tabs-widget .fusion-tabs-widget-content .fusion-tabs-widget-items li,
.fusion-footer-widget-area .fusion-accordian .fusion-panel,
.fusion-footer-widget-area .fusion-tabs-widget .fusion-tabs-clean .fusion-tabs-nav ul li,
.fusion-footer-widget-area .product_list_widget li {
  border-color: var(--footer_divider_color);
}
.fusion-footer-widget-area .widget_layered_nav li,
.fusion-footer-widget-area article.col,
.fusion-footer-widget-area .jtwt,
.fusion-footer-widget-area .jtwt .jtwt_tweet {
  color: var(--footer_text_color);
}
.fusion-footer-widget-area > .fusion-row {
  padding-left: var(--footer_area_padding-left);
  padding-right: var(--footer_area_padding-right);
}
.fusion-footer-widget-area a,
.fusion-footer-widget-area .widget li a:before,
.fusion-footer-widget-area .jtwt .jtwt_tweet a,
.fusion-footer-widget-area .fusion-tabs-widget .fusion-tabs-nav ul li a,
.fusion-footer-widget-area .fusion-tabs-widget .fusion-tabs-widget-content .fusion-date-box,
.fusion-footer-widget-area .fusion-tabs-widget .fusion-tabs-widget-content .post-holder a,
.fusion-footer-widget-area .fusion-accordian .panel-title a,
.fusion-footer-widget-area .fusion-vertical-menu-widget ul.menu li a {
  color: var(--footer_link_color);
}
.fusion-footer-widget-area .tagcloud a:hover {
  background-color: var(--footer_link_color_hover);
}
.fusion-footer-widget-area .fusion-accordian .panel-title a:hover .fa-fusion-box {
  background-color: var(--footer_link_color_hover) !important;
}
.fusion-footer-copyright-area {
  padding-top: var(--copyright_padding-top);
  padding-bottom: var(--copyright_padding-bottom);
  background-color: var(--copyright_bg_color);
  border-top-width: var(--copyright_border_size);
  border-color: var(--copyright_border_color);
}
.fusion-footer-copyright-area > .fusion-row {
  padding-left: var(--footer_area_padding-left);
  padding-right: var(--footer_area_padding-right);
}
.fusion-footer-copyright-area a:hover {
  color: var(--copyright_link_color_hover);
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .avada-footer-fx-parallax-effect.avada-has-footer-widget-bg-image .fusion-body #wrapper,
  .avada-footer-fx-bg-parallax.avada-has-footer-widget-bg-image .fusion-body #wrapper,
  .avada-footer-fx-sticky-with-parallax-bg-image.avada-has-footer-widget-bg-image .fusion-body #wrapper,
  .avada-footer-fx-no-height-parallax-effect.avada-has-footer-widget-bg-image .fusion-body #wrapper,
  .avada-footer-fx-no-height-bg-parallax.avada-has-footer-widget-bg-image .fusion-body #wrapper,
  .avada-footer-fx-no-height-sticky-with-parallax-bg-image.avada-has-footer-widget-bg-image .fusion-body #wrapper {
    background-color: transparent;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .avada-footer-fx-parallax-effect.avada-has-footer-widget-bg-image .fusion-body #wrapper,
  .avada-footer-fx-bg-parallax.avada-has-footer-widget-bg-image .fusion-body #wrapper,
  .avada-footer-fx-sticky-with-parallax-bg-image.avada-has-footer-widget-bg-image .fusion-body #wrapper,
  .avada-footer-fx-no-height-parallax-effect.avada-has-footer-widget-bg-image .fusion-body #wrapper,
  .avada-footer-fx-no-height-bg-parallax.avada-has-footer-widget-bg-image .fusion-body #wrapper,
  .avada-footer-fx-no-height-sticky-with-parallax-bg-image.avada-has-footer-widget-bg-image .fusion-body #wrapper {
    background-color: transparent;
  }
}
.layout-wide-mode.avada-has-100-footer .fusion-footer-widget-area > .fusion-row,
.layout-wide-mode.avada-has-100-footer .fusion-footer-copyright-area > .fusion-row {
  max-width: 100% !important;
}
.fusion-footer footer .fusion-row .fusion-columns {
  display: var(--footer_divider_line-flex);
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}
.fusion-footer footer .fusion-columns {
  margin: 0 calc((var(--footer_widgets_padding)) * -1);
}
.fusion-footer footer .fusion-columns .fusion-column {
  padding-left: var(--footer_widgets_padding);
  padding-right: var(--footer_widgets_padding);
}
.fusion-footer-widget-area .fusion-tabs-widget .fusion-tabs-clean .fusion-tabs-nav ul,
.fusion-footer footer .fusion-columns .fusion-column.fusion-has-widgets {
  border-color: var(--footer_divider_color);
}
.fusion-footer-widget-area h3,
.fusion-footer-widget-area .widget-title,
#slidingbar-area h3,
#slidingbar-area .widget-title,
.fusion-privacy-bar-full .column-title {
  font-family: var(--footer_headings_typography-font-family);
  font-size: var(--footer_headings_typography-font-size);
  font-weight: var(--footer_headings_typography-font-weight);
  line-height: var(--footer_headings_typography-line-height);
  letter-spacing: var(--footer_headings_typography-letter-spacing);
  font-style: var(--footer_headings_typography-font-style, normal);
  color: var(--footer_headings_typography-color);
}
.fusion-footer-widget-column .product-title {
  color: var(--footer_headings_typography-color);
}
.fusion-footer-widget-area ul li a:hover,
.fusion-footer-widget-area .widget a:hover,
.fusion-footer-widget-area .fusion-tabs-widget .fusion-tabs-widget-content .post-holder a:hover,
.fusion-footer-widget-area .fusion-accordian .panel-title a:hover,
#wrapper .fusion-footer-widget-area .jtwt .jtwt_tweet a:hover {
  color: var(--footer_link_color_hover);
}
.fusion-footer-widget-area .widget li a:hover:before,
.fusion-footer-widget-area .widget li.recentcomments:hover:before {
  color: var(--footer_link_color_hover);
}
#wrapper .fusion-footer-widget-area .fusion-vertical-menu-widget .menu li.current-menu-item > a,
#wrapper .fusion-footer-widget-area .fusion-vertical-menu-widget .menu li.current_page_ancestor > a,
#wrapper .fusion-footer-widget-area .current-menu-item > a,
#wrapper .fusion-footer-widget-area .current-menu-item > a:before,
#wrapper .fusion-footer-widget-area .current_page_item > a,
#wrapper .fusion-footer-widget-area .current_page_item > a:before {
  color: var(--footer_link_color_hover);
}
.fusion-footer-widget-area .fusion-tabs-widget .fusion-tabs-nav ul li.active a,
#wrapper .fusion-footer-widget-area .fusion-tabs.classic .nav-tabs > li.active .tab-link,
#wrapper .fusion-footer-widget-area .fusion-tabs.classic .nav-tabs > li.active .tab-link:focus,
#wrapper .fusion-footer-widget-area .fusion-tabs.classic .nav-tabs > li.active .tab-link:hover,
#wrapper .fusion-footer-widget-area .fusion-tabs.vertical-tabs.classic .nav-tabs > li.active .tab-link {
  border-color: var(--footer_link_color_hover);
}
.fusion-copyright-notice {
  color: var(--copyright_text_color);
  font-size: var(--copyright_font_size);
}
.fusion-copyright-notice a {
  color: var(--copyright_link_color);
}
/*# sourceMappingURL=footer.css.map */