#side-header,
#side-header .side-header-background-image,
#side-header .side-header-background-color,
#side-header .side-header-border {
  width: var(--side_header_width);
}
body.side-header-left #side-header .fusion-main-menu > ul > li > ul,
body.side-header-left #side-header .fusion-main-menu .fusion-custom-menu-item-contents {
  left: calc(var(--side_header_width) - 1px);
}
body.side-header-left #side-header #nav > ul > li > ul,
body.side-header-left #side-header #nav .login-box,
body.side-header-left #side-header #nav .main-nav-search-form,
body.side-header-left #side-header #nav .cart-contents {
  left: calc(var(--side_header_width) - 1px);
}
body.side-header-left.layout-boxed-mode #side-header {
  left: auto;
  margin-left: calc((var(--side_header_width)) * -1);
}
body.side-header-left #wrapper,
.side-header-left .fusion-footer-parallax {
  margin-left: var(--side_header_width);
}
.rtl.avada-footer-fx-sticky.side-header-left.layout-boxed-mode #boxed-wrapper #side-header {
  margin-left: calc((var(--side_header_width)) / -2);
}
.side-header-left.layout-boxed-mode .fusion-footer-parallax {
  padding-left: var(--side_header_width);
}
.side-header-right .layout-boxed-mode .fusion-footer-parallax {
  padding-right: var(--side_header_width);
}
.header_border_color_stroke {
  stroke: var(--header_border_color);
}
.fusion-header-v2 .fusion-header,
.fusion-header-v3 .fusion-header,
.fusion-header-v4 .fusion-header,
.fusion-header-v5 .fusion-header,
.fusion-secondary-header,
.fusion-secondary-main-menu,
.fusion-mobile-menu-sep,
.fusion-mobile-menu-design-modern .fusion-secondary-header .fusion-alignleft,
#side-header .fusion-main-menu > ul > li > a {
  border-bottom-color: var(--header_border_color);
}
#side-header .fusion-secondary-menu-search-inner,
.fusion-mobile-menu-design-modern .fusion-secondary-header .fusion-alignleft,
#side-header .fusion-main-menu > ul > li > a {
  border-top-color: var(--header_border_color);
}
#side-header .side-header-border {
  border-color: var(--header_border_color);
}
.fusion-secondary-header {
  background-color: var(--header_top_bg_color);
}
.fusion-header-tagline {
  font-size: var(--tagline_font_size);
  color: var(--tagline_font_color);
}
.fusion-is-sticky .fusion-arrow-svg svg path {
  fill: var(--header_sticky_bg_color);
}
.fusion-body .fusion-is-sticky.fusion-header-wrapper .fusion-header,
.fusion-body .fusion-is-sticky.fusion-header-wrapper .fusion-secondary-main-menu {
  background-color: var(--header_sticky_bg_color);
}
.fusion-is-sticky .fusion-main-menu .fusion-main-menu-icon:after,
.fusion-is-sticky .fusion-main-menu .fusion-widget-cart-counter > a:before,
.fusion-is-sticky .fusion-main-menu > ul > li > a,
.fusion-is-sticky .fusion-main-menu > ul > li > a .fusion-menu-description {
  color: var(--header_sticky_menu_color);
}
body.side-header-right #wrapper,
.side-header-right .fusion-footer-parallax {
  margin-right: var(--side_header_width);
}
.fusion-header-wrapper .fusion-row,
#side-header .side-header-content,
#side-header .fusion-main-menu > ul > li > a {
  padding-left: var(--header_padding-left);
  padding-right: var(--header_padding-right);
}
.fusion-header .fusion-row,
.side-header-wrapper {
  padding-top: var(--header_padding-top);
  padding-bottom: var(--header_padding-bottom);
}
.side-header-left .fusion-main-menu > ul > li > a > .fusion-caret {
  right: var(--header_padding-right);
}
.side-header-right .fusion-main-menu > ul > li > a > .fusion-caret {
  left: var(--header_padding-left);
}
.avada-header-shadow-no .fusion-is-sticky:before,
.avada-header-shadow-no .fusion-is-sticky:after {
  display: none;
}
.layout-wide-mode.avada-has-pagetitle-100-width.avada-has-header-100-width .fusion-page-title-row {
  padding-left: var(--header_padding-left);
  padding-right: var(--header_padding-right);
}
.layout-wide-mode.avada-has-header-100-width .fusion-header-wrapper .fusion-row {
  max-width: 100%;
}
.avada-menu-highlight-style-arrow.fusion-top-header .fusion-arrow-highlight .fusion-arrow-svg {
  bottom: calc((var(--menu_arrow_size-height, 12px)) * -1);
}
.avada-menu-highlight-style-arrow.fusion-top-header.fusion-header-layout-v2:not(.avada-header-border-color-full-transparent) .fusion-arrow-svg svg,
.avada-menu-highlight-style-arrow.fusion-top-header.fusion-header-layout-v3:not(.avada-header-border-color-full-transparent) .fusion-arrow-svg svg,
.avada-menu-highlight-style-arrow.fusion-top-header.fusion-header-layout-v4:not(.avada-header-border-color-full-transparent) .fusion-arrow-svg svg,
.avada-menu-highlight-style-arrow.fusion-top-header.fusion-header-layout-v5:not(.avada-header-border-color-full-transparent) .fusion-arrow-svg svg {
  margin-top: -1px;
  display: block;
}
.avada-menu-highlight-style-arrow.fusion-top-header.fusion-header-layout-v2.avada-header-border-color-full-transparent .fusion-arrow-svg svg,
.avada-menu-highlight-style-arrow.fusion-top-header.fusion-header-layout-v3.avada-header-border-color-full-transparent .fusion-arrow-svg svg,
.avada-menu-highlight-style-arrow.fusion-top-header.fusion-header-layout-v4.avada-header-border-color-full-transparent .fusion-arrow-svg svg,
.avada-menu-highlight-style-arrow.fusion-top-header.fusion-header-layout-v5.avada-header-border-color-full-transparent .fusion-arrow-svg svg {
  margin-top: 1px;
}
.avada-menu-highlight-style-arrow.fusion-top-header.fusion-header-layout-v2.avada-header-border-color-full-transparent.avada-sticky-shrinkage .fusion-is-sticky .fusion-arrow-svg svg,
.avada-menu-highlight-style-arrow.fusion-top-header.fusion-header-layout-v3.avada-header-border-color-full-transparent.avada-sticky-shrinkage .fusion-is-sticky .fusion-arrow-svg svg,
.avada-menu-highlight-style-arrow.fusion-top-header.fusion-header-layout-v4.avada-header-border-color-full-transparent.avada-sticky-shrinkage .fusion-is-sticky .fusion-arrow-svg svg,
.avada-menu-highlight-style-arrow.fusion-top-header.fusion-header-layout-v5.avada-header-border-color-full-transparent.avada-sticky-shrinkage .fusion-is-sticky .fusion-arrow-svg svg {
  margin-top: 0;
}
.avada-header-color-not-opaque .avada-menu-highlight-style-arrow.fusion-top-header.fusion-header-layout-v4:not(.avada-header-border-color-full-transparent) .fusion-arrow-svg svg,
.avada-header-color-not-opaque .avada-menu-highlight-style-arrow.fusion-top-header.fusion-header-layout-v5:not(.avada-header-border-color-full-transparent) .fusion-arrow-svg svg {
  margin-top: -1px;
  display: block;
}
.avada-menu-highlight-style-background:not(.fusion-header-layout-v6) .fusion-is-sticky .fusion-main-menu > ul > li > a {
  padding-left: calc((var(--header_sticky_nav_padding)) / 2);
  padding-right: calc((var(--header_sticky_nav_padding)) / 2);
}
body:not(.avada-menu-highlight-style-background) .fusion-is-sticky .fusion-main-menu > ul > li:not(:last-child) {
  padding-right: var(--header_sticky_nav_padding);
}
.rtl .fusion-is-sticky .fusion-header-v1 .fusion-main-menu > ul > li,
.rtl .fusion-is-sticky .fusion-header-v2 .fusion-main-menu > ul > li,
.rtl .fusion-is-sticky .fusion-header-v3 .fusion-main-menu > ul > li,
.rtl .fusion-is-sticky .fusion-header-v7 .fusion-main-menu > ul > li {
  padding-left: var(--header_sticky_nav_padding);
}
.rtl:not(.avada-menu-highlight-style-background) .fusion-is-sticky .fusion-main-menu > ul > li:not(:first-child) {
  padding-left: var(--header_sticky_nav_padding);
}
.avada-responsive.avada-has-logo-background.fusion-top-header.fusion-header-layout-v7:not(.avada-menu-highlight-style-background) .fusion-is-sticky .fusion-header .fusion-logo-background {
  margin-right: var(--header_sticky_nav_padding);
}
.avada-menu-icon-position-left.avada-sticky-shrinkage .fusion-is-sticky .fusion-main-menu > ul > li > a > .fusion-megamenu-icon,
.avada-menu-icon-position-right.avada-sticky-shrinkage .fusion-is-sticky .fusion-main-menu > ul > li > a > .fusion-megamenu-icon {
  font-size: var(--header_sticky_nav_font_size);
}
.avada-menu-icon-position-top.avada-sticky-shrinkage .fusion-is-sticky .fusion-main-menu > ul > li > a .fusion-megamenu-icon,
.avada-menu-icon-position-bottom.avada-sticky-shrinkage .fusion-is-sticky .fusion-main-menu > ul > li > a .fusion-megamenu-icon {
  display: none;
}
.avada-menu-icon-position-top:not(.fusion-top-header) .fusion-main-menu .fusion-flex-link,
.avada-menu-icon-position-bottom:not(.fusion-top-header) .fusion-main-menu .fusion-flex-link {
  line-height: 1;
}
body:not(.fusion-header-layout-v6) .fusion-is-sticky .fusion-main-menu > ul > li > a {
  font-size: var(--header_sticky_nav_font_size);
}
.side-header-left #side-header .fusion-main-menu > ul > li.current-menu-ancestor > a,
.side-header-left #side-header .fusion-main-menu > ul > li.current-menu-item > a {
  border-right-width: 0;
}
.side-header-right #side-header .fusion-main-menu > ul > li.current-menu-ancestor > a,
.side-header-right #side-header .fusion-main-menu > ul > li.current-menu-item > a {
  border-left-width: 0;
}
.avada-menu-highlight-style-bar:not(.fusion-header-layout-v6).side-header-left #side-header .fusion-main-menu > ul > li.current-menu-ancestor > a,
.avada-menu-highlight-style-bottombar:not(.fusion-header-layout-v6).side-header-left #side-header .fusion-main-menu > ul > li.current-menu-ancestor > a,
.avada-menu-highlight-style-bar:not(.fusion-header-layout-v6).side-header-left #side-header .fusion-main-menu > ul > li.current-menu-item > a,
.avada-menu-highlight-style-bottombar:not(.fusion-header-layout-v6).side-header-left #side-header .fusion-main-menu > ul > li.current-menu-item > a {
  border-right-width: var(--nav_highlight_border);
}
.avada-menu-highlight-style-bar:not(.fusion-header-layout-v6).side-header-right #side-header .fusion-main-menu > ul > li.current-menu-ancestor > a,
.avada-menu-highlight-style-bottombar:not(.fusion-header-layout-v6).side-header-right #side-header .fusion-main-menu > ul > li.current-menu-ancestor > a,
.avada-menu-highlight-style-bar:not(.fusion-header-layout-v6).side-header-right #side-header .fusion-main-menu > ul > li.current-menu-item > a,
.avada-menu-highlight-style-bottombar:not(.fusion-header-layout-v6).side-header-right #side-header .fusion-main-menu > ul > li.current-menu-item > a {
  border-left-width: var(--nav_highlight_border);
}
.side-header .side-header-background-color,
.side-header .side-header .fusion-footer-parallax {
  background-color: var(--header_bg_color);
}
.avada-html-is-archive .side-header .side-header-background-color,
.avada-html-is-archive .side-header .side-header .fusion-footer-parallax {
  background-color: var(--archive_header_bg_color, var(--header_bg_color));
}
.fusion-top-header .fusion-header {
  background-color: var(--header_bg_color);
}
.avada-html-is-archive .fusion-top-header .fusion-header {
  background-color: var(--archive_header_bg_color, var(--header_bg_color));
}
.fusion-arrow-svg path {
  fill: var(--header_bg_color);
}
.avada-html-is-archive .fusion-arrow-svg path {
  fill: var(--archive_header_bg_color, var(--header_bg_color));
}
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image .fusion-header,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image .fusion-header,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image .side-header-background-image,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image .side-header-background-image {
  background-image: var(--header_bg_image);
  background-repeat: var(--header_bg_repeat);
}
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.avada-header-bg-repeat-y .fusion-header,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.avada-header-bg-repeat-y .fusion-header,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.avada-header-bg-no-repeat .fusion-header,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.avada-header-bg-no-repeat .fusion-header,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.avada-header-bg-repeat-y .side-header-background-image,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.avada-header-bg-repeat-y .side-header-background-image,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.avada-header-bg-no-repeat .side-header-background-image,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.avada-header-bg-no-repeat .side-header-background-image {
  background-position: center center;
}
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.avada-has-header-bg-full .fusion-header,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.avada-has-header-bg-full .fusion-header,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.avada-has-header-bg-full .side-header-background-image,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.avada-has-header-bg-full .side-header-background-image {
  background-position: center center;
  background-size: cover;
}
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.avada-has-header-bg-parallax.fusion-top-header .fusion-header,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.avada-has-header-bg-parallax.fusion-top-header .fusion-header,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.avada-has-header-bg-parallax.fusion-top-header .side-header-background-image,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.avada-has-header-bg-parallax.fusion-top-header .side-header-background-image {
  background-position: top center;
  background-attachment: fixed;
}
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.fusion-header-layout-v2.fusion-top-header.avada-header-top-bg-not-opaque .fusion-header-wrapper .fusion-header,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.fusion-header-layout-v2.fusion-top-header.avada-header-top-bg-not-opaque .fusion-header-wrapper .fusion-header,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.fusion-header-layout-v3.fusion-top-header.avada-header-top-bg-not-opaque .fusion-header-wrapper .fusion-header,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.fusion-header-layout-v3.fusion-top-header.avada-header-top-bg-not-opaque .fusion-header-wrapper .fusion-header {
  background-color: transparent;
}
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.fusion-header-layout-v2.fusion-top-header.avada-header-top-bg-not-opaque .fusion-header-wrapper,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.fusion-header-layout-v2.fusion-top-header.avada-header-top-bg-not-opaque .fusion-header-wrapper,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.fusion-header-layout-v3.fusion-top-header.avada-header-top-bg-not-opaque .fusion-header-wrapper,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.fusion-header-layout-v3.fusion-top-header.avada-header-top-bg-not-opaque .fusion-header-wrapper,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.fusion-header-layout-v2.fusion-top-header.avada-header-top-bg-not-opaque .fusion-is-sticky .fusion-header,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.fusion-header-layout-v2.fusion-top-header.avada-header-top-bg-not-opaque .fusion-is-sticky .fusion-header,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.fusion-header-layout-v3.fusion-top-header.avada-header-top-bg-not-opaque .fusion-is-sticky .fusion-header,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.fusion-header-layout-v3.fusion-top-header.avada-header-top-bg-not-opaque .fusion-is-sticky .fusion-header {
  background-image: var(--header_bg_image);
}
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.fusion-header-layout-v2.fusion-top-header.avada-header-top-bg-not-opaque.avada-header-bg-repeat-y .fusion-header-wrapper,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.fusion-header-layout-v2.fusion-top-header.avada-header-top-bg-not-opaque.avada-header-bg-repeat-y .fusion-header-wrapper,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.fusion-header-layout-v3.fusion-top-header.avada-header-top-bg-not-opaque.avada-header-bg-repeat-y .fusion-header-wrapper,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.fusion-header-layout-v3.fusion-top-header.avada-header-top-bg-not-opaque.avada-header-bg-repeat-y .fusion-header-wrapper,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.fusion-header-layout-v2.fusion-top-header.avada-header-top-bg-not-opaque.avada-header-bg-no-repeat .fusion-header-wrapper,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.fusion-header-layout-v2.fusion-top-header.avada-header-top-bg-not-opaque.avada-header-bg-no-repeat .fusion-header-wrapper,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.fusion-header-layout-v3.fusion-top-header.avada-header-top-bg-not-opaque.avada-header-bg-no-repeat .fusion-header-wrapper,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.fusion-header-layout-v3.fusion-top-header.avada-header-top-bg-not-opaque.avada-header-bg-no-repeat .fusion-header-wrapper {
  background-position: center center;
}
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.fusion-header-layout-v2.fusion-top-header.avada-header-top-bg-not-opaque.avada-header-bg-repeat-y .fusion-is-sticky .fusion-header,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.fusion-header-layout-v2.fusion-top-header.avada-header-top-bg-not-opaque.avada-header-bg-repeat-y .fusion-is-sticky .fusion-header,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.fusion-header-layout-v3.fusion-top-header.avada-header-top-bg-not-opaque.avada-header-bg-repeat-y .fusion-is-sticky .fusion-header,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.fusion-header-layout-v3.fusion-top-header.avada-header-top-bg-not-opaque.avada-header-bg-repeat-y .fusion-is-sticky .fusion-header,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.fusion-header-layout-v2.fusion-top-header.avada-header-top-bg-not-opaque.avada-header-bg-no-repeat .fusion-is-sticky .fusion-header,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.fusion-header-layout-v2.fusion-top-header.avada-header-top-bg-not-opaque.avada-header-bg-no-repeat .fusion-is-sticky .fusion-header,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.fusion-header-layout-v3.fusion-top-header.avada-header-top-bg-not-opaque.avada-header-bg-no-repeat .fusion-is-sticky .fusion-header,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.fusion-header-layout-v3.fusion-top-header.avada-header-top-bg-not-opaque.avada-header-bg-no-repeat .fusion-is-sticky .fusion-header {
  background-position: 50% calc(50% - var(--top-bar-height));
}
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.fusion-header-layout-v2.fusion-top-header.avada-header-top-bg-not-opaque .fusion-header-wrapper,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.fusion-header-layout-v2.fusion-top-header.avada-header-top-bg-not-opaque .fusion-header-wrapper,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.fusion-header-layout-v3.fusion-top-header.avada-header-top-bg-not-opaque .fusion-header-wrapper,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.fusion-header-layout-v3.fusion-top-header.avada-header-top-bg-not-opaque .fusion-header-wrapper {
  background-repeat: var(--header_bg_repeat);
}
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.fusion-header-layout-v2.fusion-top-header.avada-header-top-bg-not-opaque.avada-has-header-bg-full .fusion-header-wrapper,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.fusion-header-layout-v2.fusion-top-header.avada-header-top-bg-not-opaque.avada-has-header-bg-full .fusion-header-wrapper,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.fusion-header-layout-v3.fusion-top-header.avada-header-top-bg-not-opaque.avada-has-header-bg-full .fusion-header-wrapper,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.fusion-header-layout-v3.fusion-top-header.avada-header-top-bg-not-opaque.avada-has-header-bg-full .fusion-header-wrapper,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.fusion-header-layout-v2.fusion-top-header.avada-header-top-bg-not-opaque.avada-has-header-bg-full .fusion-is-sticky .fusion-header,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.fusion-header-layout-v2.fusion-top-header.avada-header-top-bg-not-opaque.avada-has-header-bg-full .fusion-is-sticky .fusion-header,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.fusion-header-layout-v3.fusion-top-header.avada-header-top-bg-not-opaque.avada-has-header-bg-full .fusion-is-sticky .fusion-header,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.fusion-header-layout-v3.fusion-top-header.avada-header-top-bg-not-opaque.avada-has-header-bg-full .fusion-is-sticky .fusion-header {
  background-attachment: scroll;
}
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.fusion-header-layout-v2.fusion-top-header.avada-header-top-bg-not-opaque.avada-has-header-bg-full .fusion-header-wrapper,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.fusion-header-layout-v2.fusion-top-header.avada-header-top-bg-not-opaque.avada-has-header-bg-full .fusion-header-wrapper,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.fusion-header-layout-v3.fusion-top-header.avada-header-top-bg-not-opaque.avada-has-header-bg-full .fusion-header-wrapper,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.fusion-header-layout-v3.fusion-top-header.avada-header-top-bg-not-opaque.avada-has-header-bg-full .fusion-header-wrapper {
  background-position: center center;
}
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.fusion-header-layout-v2.fusion-top-header.avada-header-top-bg-not-opaque.avada-has-header-bg-full .fusion-is-sticky .fusion-header,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.fusion-header-layout-v2.fusion-top-header.avada-header-top-bg-not-opaque.avada-has-header-bg-full .fusion-is-sticky .fusion-header,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.fusion-header-layout-v3.fusion-top-header.avada-header-top-bg-not-opaque.avada-has-header-bg-full .fusion-is-sticky .fusion-header,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.fusion-header-layout-v3.fusion-top-header.avada-header-top-bg-not-opaque.avada-has-header-bg-full .fusion-is-sticky .fusion-header {
  background-position: 50% calc(50% - var(--top-bar-height));
}
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.fusion-header-layout-v2.fusion-top-header.avada-header-top-bg-not-opaque.avada-has-header-bg-full .fusion-header-wrapper,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.fusion-header-layout-v2.fusion-top-header.avada-header-top-bg-not-opaque.avada-has-header-bg-full .fusion-header-wrapper,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.fusion-header-layout-v3.fusion-top-header.avada-header-top-bg-not-opaque.avada-has-header-bg-full .fusion-header-wrapper,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.fusion-header-layout-v3.fusion-top-header.avada-header-top-bg-not-opaque.avada-has-header-bg-full .fusion-header-wrapper,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.fusion-header-layout-v2.fusion-top-header.avada-header-top-bg-not-opaque.avada-has-header-bg-full .fusion-is-sticky .fusion-header,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.fusion-header-layout-v2.fusion-top-header.avada-header-top-bg-not-opaque.avada-has-header-bg-full .fusion-is-sticky .fusion-header,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.fusion-header-layout-v3.fusion-top-header.avada-header-top-bg-not-opaque.avada-has-header-bg-full .fusion-is-sticky .fusion-header,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.fusion-header-layout-v3.fusion-top-header.avada-header-top-bg-not-opaque.avada-has-header-bg-full .fusion-is-sticky .fusion-header {
  background-size: cover;
}
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.fusion-header-layout-v2.fusion-top-header.avada-header-top-bg-not-opaque.avada-has-header-bg-parallax .fusion-header-wrapper,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.fusion-header-layout-v2.fusion-top-header.avada-header-top-bg-not-opaque.avada-has-header-bg-parallax .fusion-header-wrapper,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.fusion-header-layout-v3.fusion-top-header.avada-header-top-bg-not-opaque.avada-has-header-bg-parallax .fusion-header-wrapper,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.fusion-header-layout-v3.fusion-top-header.avada-header-top-bg-not-opaque.avada-has-header-bg-parallax .fusion-header-wrapper,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.fusion-header-layout-v2.fusion-top-header.avada-header-top-bg-not-opaque.avada-has-header-bg-parallax .fusion-is-sticky .fusion-header,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.fusion-header-layout-v2.fusion-top-header.avada-header-top-bg-not-opaque.avada-has-header-bg-parallax .fusion-is-sticky .fusion-header,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image.fusion-header-layout-v3.fusion-top-header.avada-header-top-bg-not-opaque.avada-has-header-bg-parallax .fusion-is-sticky .fusion-header,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image.fusion-header-layout-v3.fusion-top-header.avada-header-top-bg-not-opaque.avada-has-header-bg-parallax .fusion-is-sticky .fusion-header {
  background-attachment: fixed;
  background-position: top center;
}
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image:not(.fusion-header-layout-v2):not(.fusion-header-layout-v3) .side-header-background-image,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image:not(.fusion-header-layout-v2):not(.fusion-header-layout-v3) .side-header-background-image,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image:not(.fusion-top-header) .side-header-background-image,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image:not(.fusion-top-header) .side-header-background-image,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image:not(.fusion-header-layout-v2):not(.fusion-header-layout-v3) .fusion-header,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image:not(.fusion-header-layout-v2):not(.fusion-header-layout-v3) .fusion-header,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image:not(.fusion-top-header) .fusion-header,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image:not(.fusion-top-header) .fusion-header {
  background-image: var(--header_bg_image);
  background-repeat: var(--header_bg_repeat);
}
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image:not(.fusion-header-layout-v2):not(.fusion-header-layout-v3).avada-header-bg-repeat-y .side-header-background-image,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image:not(.fusion-header-layout-v2):not(.fusion-header-layout-v3).avada-header-bg-repeat-y .side-header-background-image,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image:not(.fusion-top-header).avada-header-bg-repeat-y .side-header-background-image,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image:not(.fusion-top-header).avada-header-bg-repeat-y .side-header-background-image,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image:not(.fusion-header-layout-v2):not(.fusion-header-layout-v3).avada-header-bg-no-repeat .side-header-background-image,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image:not(.fusion-header-layout-v2):not(.fusion-header-layout-v3).avada-header-bg-no-repeat .side-header-background-image,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image:not(.fusion-top-header).avada-header-bg-no-repeat .side-header-background-image,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image:not(.fusion-top-header).avada-header-bg-no-repeat .side-header-background-image,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image:not(.fusion-header-layout-v2):not(.fusion-header-layout-v3).avada-header-bg-repeat-y .fusion-header,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image:not(.fusion-header-layout-v2):not(.fusion-header-layout-v3).avada-header-bg-repeat-y .fusion-header,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image:not(.fusion-top-header).avada-header-bg-repeat-y .fusion-header,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image:not(.fusion-top-header).avada-header-bg-repeat-y .fusion-header,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image:not(.fusion-header-layout-v2):not(.fusion-header-layout-v3).avada-header-bg-no-repeat .fusion-header,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image:not(.fusion-header-layout-v2):not(.fusion-header-layout-v3).avada-header-bg-no-repeat .fusion-header,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image:not(.fusion-top-header).avada-header-bg-no-repeat .fusion-header,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image:not(.fusion-top-header).avada-header-bg-no-repeat .fusion-header {
  background-position: center center;
}
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image:not(.fusion-header-layout-v2):not(.fusion-header-layout-v3).avada-has-header-bg-full.fusion-top-header .side-header-background-image,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image:not(.fusion-header-layout-v2):not(.fusion-header-layout-v3).avada-has-header-bg-full.fusion-top-header .side-header-background-image,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image:not(.fusion-top-header).avada-has-header-bg-full.fusion-top-header .side-header-background-image,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image:not(.fusion-top-header).avada-has-header-bg-full.fusion-top-header .side-header-background-image,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image:not(.fusion-header-layout-v2):not(.fusion-header-layout-v3).avada-has-header-bg-full.fusion-top-header .fusion-header,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image:not(.fusion-header-layout-v2):not(.fusion-header-layout-v3).avada-has-header-bg-full.fusion-top-header .fusion-header,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image:not(.fusion-top-header).avada-has-header-bg-full.fusion-top-header .fusion-header,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image:not(.fusion-top-header).avada-has-header-bg-full.fusion-top-header .fusion-header {
  background-attachment: scroll;
}
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image:not(.fusion-header-layout-v2):not(.fusion-header-layout-v3).avada-has-header-bg-full .side-header-background-image,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image:not(.fusion-header-layout-v2):not(.fusion-header-layout-v3).avada-has-header-bg-full .side-header-background-image,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image:not(.fusion-top-header).avada-has-header-bg-full .side-header-background-image,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image:not(.fusion-top-header).avada-has-header-bg-full .side-header-background-image,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image:not(.fusion-header-layout-v2):not(.fusion-header-layout-v3).avada-has-header-bg-full .fusion-header,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image:not(.fusion-header-layout-v2):not(.fusion-header-layout-v3).avada-has-header-bg-full .fusion-header,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image:not(.fusion-top-header).avada-has-header-bg-full .fusion-header,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image:not(.fusion-top-header).avada-has-header-bg-full .fusion-header {
  background-position: center center;
  background-size: cover;
}
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image:not(.fusion-header-layout-v2):not(.fusion-header-layout-v3).avada-has-header-bg-parallax.fusion-top-header .side-header-background-image,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image:not(.fusion-header-layout-v2):not(.fusion-header-layout-v3).avada-has-header-bg-parallax.fusion-top-header .side-header-background-image,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image:not(.fusion-top-header).avada-has-header-bg-parallax.fusion-top-header .side-header-background-image,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image:not(.fusion-top-header).avada-has-header-bg-parallax.fusion-top-header .side-header-background-image,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image:not(.fusion-header-layout-v2):not(.fusion-header-layout-v3).avada-has-header-bg-parallax.fusion-top-header .fusion-header,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image:not(.fusion-header-layout-v2):not(.fusion-header-layout-v3).avada-has-header-bg-parallax.fusion-top-header .fusion-header,
html:not(.avada-header-color-not-opaque) .avada-has-header-bg-image:not(.fusion-top-header).avada-has-header-bg-parallax.fusion-top-header .fusion-header,
html:not(.avada-html-header-position-top) .avada-has-header-bg-image:not(.fusion-top-header).avada-has-header-bg-parallax.fusion-top-header .fusion-header {
  background-attachment: fixed;
  background-position: top center;
}
.layout-boxed-mode.fusion-top-header.avada-has-boxed-modal-shadow-light:not(.avada-footer-fx-sticky) #wrapper,
.layout-boxed-mode.fusion-top-header.avada-has-boxed-modal-shadow-light .fusion-boxed-shadow {
  box-shadow: 0 0 50px 1px rgba(0, 0, 0, 0.22);
}
.layout-boxed-mode.fusion-top-header.avada-has-boxed-modal-shadow-medium:not(.avada-footer-fx-sticky) #wrapper,
.layout-boxed-mode.fusion-top-header.avada-has-boxed-modal-shadow-medium .fusion-boxed-shadow {
  box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.35);
}
.layout-boxed-mode.fusion-top-header.avada-has-boxed-modal-shadow-hard:not(.avada-footer-fx-sticky) #wrapper,
.layout-boxed-mode.fusion-top-header.avada-has-boxed-modal-shadow-hard .fusion-boxed-shadow {
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.55);
}
.layout-boxed-mode:not(.fusion-top-header).avada-has-boxed-modal-shadow-light #boxed-wrapper,
.layout-boxed-mode:not(.fusion-top-header).avada-has-boxed-modal-shadow-light .fusion-boxed-shadow {
  box-shadow: 0 0 50px 1px rgba(0, 0, 0, 0.22);
}
.layout-boxed-mode:not(.fusion-top-header).avada-has-boxed-modal-shadow-medium #boxed-wrapper,
.layout-boxed-mode:not(.fusion-top-header).avada-has-boxed-modal-shadow-medium .fusion-boxed-shadow {
  box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.35);
}
.layout-boxed-mode:not(.fusion-top-header).avada-has-boxed-modal-shadow-hard #boxed-wrapper,
.layout-boxed-mode:not(.fusion-top-header).avada-has-boxed-modal-shadow-hard .fusion-boxed-shadow {
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.55);
}
.layout-boxed-mode.layout-scroll-offset-full.fusion-top-header #sliders-container .tfs-slider {
  position: absolute !important;
  top: 0;
}
.layout-boxed-mode.layout-scroll-offset-full.fusion-top-header #sliders-container .tfs-slider.fusion-fixed-slider {
  position: fixed !important;
}
.layout-boxed-mode.layout-scroll-offset-full.fusion-top-header:not(.fusion-top-header) #sliders-container .tfs-slider {
  position: relative !important;
  margin-left: auto !important;
  left: auto !important;
}
.layout-boxed-mode.layout-scroll-offset-full.fusion-top-header:not(.fusion-top-header) #sliders-container .tfs-slider.fusion-fixed-slider {
  position: fixed !important;
}
.layout-boxed-mode.layout-scroll-offset-full.fusion-top-header.side-header-right #sliders-container .tfs-slider {
  right: auto !important;
}
.avada-has-header-hidden.rtlside-header-left #boxed-wrapper {
  direction: ltr;
}
.avada-has-header-hidden.rtlside-header-left #side-header,
.avada-has-header-hidden.rtlside-header-left #sliders-container,
.avada-has-header-hidden.rtlside-header-left #main.fusion-footer {
  direction: rtl;
}
/*# sourceMappingURL=header.css.map */