:root {
  --adminbar-height: 32px;
}
@media screen and (max-width: 782px) {
  :root {
    --adminbar-height: 46px;
  }
}
.page-template-blank #boxed-wrapper {
  display: -ms-flexbox;
  display: flex;
}
.page-template-blank #boxed-wrapper > div {
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}
#main .fusion-row,
.fusion-footer-widget-area .fusion-row,
#slidingbar-area .fusion-row,
.fusion-footer-copyright-area .fusion-row,
.fusion-page-title-row,
.tfs-slider .slide-content-container .slide-content,
.fusion-header-wrapper .fusion-row,
.layout-boxed-mode.side-header #boxed-wrapper,
.layout-boxed-mode.side-header #slidingbar-area .fusion-row,
.layout-boxed-mode.side-header .fusion-footer-parallax,
.layout-boxed-mode.side-header > #lang_sel_footer {
  max-width: var(--site_width);
}
.ua-mobile .avada-not-responsive #slidingbar-area.fusion-sliding-bar-position-top,
.ua-mobile .avada-not-responsive #slidingbar-area.fusion-sliding-bar-position-bottom {
  width: var(--site_width);
}
body.avada-not-responsive {
  min-width: var(--site_width);
}
html:not(.avada-has-site-width-percent) #main,
html:not(.avada-has-site-width-percent) .fusion-secondary-header,
html:not(.avada-has-site-width-percent) .sticky-header .sticky-shadow,
html:not(.avada-has-site-width-percent) .tfs-slider .slide-content-container,
html:not(.avada-has-site-width-percent) .header-v4 #small-nav,
html:not(.avada-has-site-width-percent) .header-v5 #small-nav,
html:not(.avada-has-site-width-percent) .fusion-footer-copyright-area,
html:not(.avada-has-site-width-percent) .fusion-footer-widget-area,
html:not(.avada-has-site-width-percent) .fusion-sliding-bar-position-top .fusion-sliding-bar,
html:not(.avada-has-site-width-percent) .fusion-sliding-bar-position-bottom .fusion-sliding-bar,
html:not(.avada-has-site-width-percent) .fusion-page-title-bar {
  padding-left: 30px;
  padding-right: 30px;
}
html:not(.avada-has-site-width-percent) #main.width-100 {
  padding-left: var(--hundredp_padding-fallback_to_zero);
  padding-right: var(--hundredp_padding-fallback_to_zero);
}
body.layout-boxed-mode {
  margin-top: var(--margin_offset-top) !important;
  margin-bottom: var(--margin_offset-bottom) !important;
}
body.layout-boxed-mode #wrapper,
body.layout-boxed-mode .fusion-footer-parallax {
  width: var(--site_width);
  max-width: 100%;
  margin: 0 auto;
}
body.layout-boxed-mode.side-header-left #wrapper,
body.layout-boxed-mode.side-header-right #wrapper {
  width: auto;
}
body.layout-boxed-mode:not(.fusion-top-header) #wrapper,
body.layout-boxed-mode:not(.fusion-top-header) .fusion-footer-parallax {
  max-width: calc(var(--site_width) - var(--side_header_width));
}
body.layout-boxed-mode.side-header-left #wrapper,
body.layout-boxed-mode.side-header-left .fusion-footer-parallax {
  margin-left: var(--side_header_width);
}
body.layout-boxed-mode.side-header-right #wrapper,
body.layout-boxed-mode.side-header-right .fusion-footer-parallax {
  margin-right: var(--side_header_width);
}
body.layout-boxed-mode #wrapper.wrapper_blank {
  display: block;
}
.width-100 .fusion-fullwidth,
.width-100 .nonhundred-percent-fullwidth {
  margin-left: var(--hundredp_padding-hundred_percent_negative_margin);
  margin-right: var(--hundredp_padding-hundred_percent_negative_margin);
}
html.avada-has-site-width-percent body .fusion-secondary-header,
html.avada-has-site-width-percent body.avada-responsive .fusion-secondary-header,
html.avada-has-site-width-percent body .header-v4 #small-nav,
html.avada-has-site-width-percent body.avada-responsive .header-v4 #small-nav,
html.avada-has-site-width-percent body .header-v5 #small-nav,
html.avada-has-site-width-percent body.avada-responsive .header-v5 #small-nav,
html.avada-has-site-width-percent body #main.width-100 > .fusion-row,
html.avada-has-site-width-percent body.avada-responsive #main.width-100 > .fusion-row {
  padding-left: 0;
  padding-right: 0;
}
html.avada-has-site-width-percent .width-100 .fullwidth-box,
html.avada-has-site-width-percent .width-100 .fullwidth-box .fusion-row .fusion-full-width-sep {
  margin-left: var(--hundredp_padding-hundred_percent_negative_margin);
  margin-right: var(--hundredp_padding-hundred_percent_negative_margin);
}
html.avada-has-site-width-percent.avada-has-site-width-100-percent #slidingbar .fusion-row,
html.avada-has-site-width-percent.avada-has-site-width-100-percent #sliders-container .tfs-slider .slide-content-container,
html.avada-has-site-width-percent.avada-has-site-width-100-percent #main .fusion-row,
html.avada-has-site-width-percent.avada-has-site-width-100-percent .fusion-page-title-bar,
html.avada-has-site-width-percent.avada-has-site-width-100-percent .fusion-header,
html.avada-has-site-width-percent.avada-has-site-width-100-percent .fusion-footer-widget-area,
html.avada-has-site-width-percent.avada-has-site-width-100-percent .fusion-footer-copyright-area,
html.avada-has-site-width-percent.avada-has-site-width-100-percent .fusion-body .fusion-secondary-header {
  padding-left: var(--hundredp_padding);
  padding-right: var(--hundredp_padding);
}
body.has-sidebar #main .sidebar {
  width: var(--sidebar_width);
}
body.has-sidebar #content {
  width: calc(100% - var(--sidebar_width) - var(--sidebar_gutter));
}
body.has-sidebar.double-sidebars #main #sidebar {
  width: var(--sidebar_2_1_width);
  margin-left: calc(var(--dual_sidebar_gutter) - 100% + var(--sidebar_2_2_width));
}
body.has-sidebar.double-sidebars #main #sidebar-2 {
  width: var(--sidebar_2_2_width);
  margin-left: var(--dual_sidebar_gutter);
}
body.has-sidebar.double-sidebars #content {
  width: calc(100% - var(--sidebar_2_1_width) - var(--sidebar_2_2_width) - var(--dual_sidebar_gutter) - var(--dual_sidebar_gutter));
  margin-left: calc(var(--sidebar_2_1_width) + var(--dual_sidebar_gutter));
}
#main {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: var(--main_padding-top);
  padding-bottom: var(--main_padding-bottom);
}
#main.width-100 {
  padding-left: var(--hundredp_padding-fallback_to_zero);
  padding-right: var(--hundredp_padding-fallback_to_zero);
}
html.avada-is-100-percent-template #main {
  padding-left: 0;
  padding-right: 0;
}
html.avada-is-100-percent-template #main.width-100 {
  padding-left: var(--hundredp_padding-fallback_to_zero);
  padding-right: var(--hundredp_padding-fallback_to_zero);
}
body.layout-boxed-mode.layout-scroll-offset-framed {
  margin-top: var(--margin_offset-top-no-percent) !important;
  margin-bottom: var(--margin_offset-bottom-no-percent) !important;
}
.fusion-top-frame,
.fusion-bottom-frame,
.fusion-boxed-shadow,
.fusion-sides-frame {
  display: none;
}
.layout-boxed-mode.layout-scroll-offset-framed .fusion-sides-frame {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  top: 0;
  pointer-events: none;
}
.layout-boxed-mode.layout-scroll-offset-framed:not(.avada-has-zero-margin-offset-top) .fusion-top-frame,
.layout-boxed-mode.layout-scroll-offset-framed:not(.avada-has-zero-margin-offset-top) .fusion-bottom-frame {
  display: block;
  position: fixed;
  z-index: 99999;
  width: 100%;
}
.layout-boxed-mode.layout-scroll-offset-framed:not(.avada-has-zero-margin-offset-top).avada-has-boxed-modal-shadow-none .fusion-boxed-shadow {
  display: none;
}
.layout-boxed-mode.layout-scroll-offset-framed .fusion-top-frame {
  height: var(--margin_offset-top-no-percent);
}
.layout-boxed-mode.layout-scroll-offset-framed .fusion-bottom-frame {
  height: var(--margin_offset-bottom-no-percent);
}
.layout-boxed-mode.layout-scroll-offset-framed .fusion-boxed-shadow {
  width: var(--site_width);
  height: calc(100vh - var(--margin_offset-top-no-percent) - var(--margin_offset-bottom-no-percent));
  top: var(--margin_offset-top-no-percent);
  left: calc((100% - var(--site_width)) / 2);
}
.layout-boxed-mode.layout-scroll-offset-framed #side-header {
  height: calc(100vh - var(--margin_offset-top-no-percent) - var(--margin_offset-bottom-no-percent));
}
.layout-boxed-mode.layout-scroll-offset-framed.admin-bar .fusion-top-frame,
.layout-boxed-mode.layout-scroll-offset-framed.admin-bar .fusion-sides-frame {
  top: 32px;
}
.layout-boxed-mode.layout-scroll-offset-framed.admin-bar .fusion-boxed-shadow,
.layout-boxed-mode.layout-scroll-offset-framed.admin-bar #side-header {
  height: calc(100vh - var(--margin_offset-top-no-percent) - var(--margin_offset-bottom-no-percent) - var(--adminbar-height));
}
.layout-boxed-mode.layout-scroll-offset-framed.admin-bar .fusion-boxed-shadow {
  top: calc(var(--margin_offset-top-no-percent) + var(--adminbar-height));
}
html.avada-has-site-width-percent .avada-responsive.layout-boxed-mode #main .fusion-row,
html.avada-has-site-width-percent .avada-responsive.layout-boxed-mode .fusion-footer-widget-area .fusion-row,
html.avada-has-site-width-percent .avada-responsive.layout-boxed-mode #slidingbar-area .fusion-row,
html.avada-has-site-width-percent .avada-responsive.layout-boxed-mode .fusion-footer-copyright-area .fusion-row,
html.avada-has-site-width-percent .avada-responsive.layout-boxed-mode .fusion-page-title-row,
html.avada-has-site-width-percent .avada-responsive.layout-boxed-mode .fusion-secondary-header .fusion-row,
html.avada-has-site-width-percent .avada-responsive.layout-boxed-mode #small-nav .fusion-row,
html.avada-has-site-width-percent .avada-responsive.layout-boxed-mode .fusion-header .fusion-row {
  max-width: none;
  padding-left: 10px;
  padding-right: 10px;
}
html.avada-has-site-width-percent .layout-boxed-mode.side-header #wrapper {
  max-width: none;
}
html.avada-has-site-width-percent.avada-html-not-responsive {
  overflow-x: auto;
}
html.avada-has-site-width-percent.avada-html-not-responsive body {
  overflow-x: auto;
}
.layout-wide-mode #wrapper {
  width: 100%;
  max-width: none;
}
.avada-html-not-responsive.avada-html-header-position-top {
  overflow-x: hidden;
}
.avada-html-not-responsive.avada-html-header-position-top body {
  overflow-x: hidden;
}
.avada-html-not-responsive:not(.avada-html-header-position-top).ua-mobile #wrapper {
  width: auto !important;
}
/*# sourceMappingURL=layout.css.map */