.fusion-header .fusion-logo,
#side-header .fusion-logo {
  margin: var(--logo_margin-top) var(--logo_margin-right) var(--logo_margin-bottom) var(--logo_margin-left);
}
body:not(.mobile-logo-pos-right) .fusion-header-v4 .fusion-logo .fusion-header-content-3-wrapper .fusion-header-tagline,
body:not(.mobile-logo-pos-right).rtl .fusion-header-v4 .fusion-logo .fusion-header-content-3-wrapper .fusion-secondary-menu-search,
body:not(.mobile-logo-pos-right) #side-header .fusion-header-tagline {
  -ms-flex-order: 1;
      order: 1;
}
.mobile-logo-pos-right .fusion-header-v4 .fusion-logo .fusion-header-content-3-wrapper .fusion-secondary-menu-search,
.mobile-logo-pos-right .rtl .fusion-header-v4 .fusion-logo .fusion-header-content-3-wrapper .fusion-header-tagline,
.mobile-logo-pos-right #side-header .fusion-secondary-menu-search {
  -ms-flex-order: 2;
      order: 2;
}
/*# sourceMappingURL=logo.css.map */