.fusion-search-form-clean .searchform .fusion-search-form-content .fusion-search-field input,
.fusion-search-form-clean #bbpress-forums .bbp-search-form #bbp_search {
  padding-left: var(--form_input_height);
}
.select-arrow,
.avada-select-parent .select-arrow,
.gravity-select-parent .select-arrow,
.wpcf7-select-parent .select-arrow {
  right: var(--form_border_width);
}
.fusion-footer footer .fusion-columns .fusion-column.fusion-has-widgets {
  border-right-width: var(--footer_divider_line_size);
  border-right-style: var(--footer_divider_line_style);
}
.select-arrow,
.avada-select-parent .select-arrow,
.gravity-select-parent .select-arrow,
.wpcf7-select-parent .select-arrow {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.fusion-search-form-classic #bbpress-forums .bbp-search-form #bbp_search,
.fusion-search-form-classic .searchform .fusion-search-form-content .fusion-search-field input {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
/*# sourceMappingURL=ltr.css.map */