.ua-ie-11 #side-header .fusion-main-menu > ul > li a {
  height: var(--nav_height);
}
.fusion-main-menu > ul > li {
  padding-right: var(--nav_padding);
}
.fusion-main-menu > ul > li > a {
  border-color: transparent;
}
.fusion-main-menu > ul > li > a > .fusion-megamenu-image > img {
  width: var(--menu_thumbnail_size-width);
  height: var(--menu_thumbnail_size-height);
}
.fusion-main-menu > ul > li > a .fusion-menu-description {
  color: var(--nav_typography-color-65a);
  font-family: var(--body_typography-font-family);
  font-weight: var(--body_typography-font-weight);
  letter-spacing: var(--body_typography-letter-spacing);
}
.fusion-main-menu > ul > li > a:not(.fusion-logo-link):not(.fusion-icon-sliding-bar):hover {
  border-color: var(--menu_hover_first_color);
}
.fusion-main-menu > ul > li > a:not(.fusion-logo-link):hover {
  color: var(--menu_hover_first_color);
}
.fusion-main-menu > ul > li > a > .fusion-megamenu-icon {
  font-size: var(--menu_icon_size);
  color: var(--menu_icon_color);
}
.avada-menu-icon-position-top .fusion-main-menu > ul > li > a > .fusion-megamenu-icon {
  padding-bottom: .35em;
}
.avada-menu-icon-position-bottom .fusion-main-menu > ul > li > a > .fusion-megamenu-icon {
  padding-top: .35em;
}
.avada-menu-icon-position-left .fusion-main-menu > ul > li > a > .fusion-megamenu-icon {
  padding-right: .45em;
}
.avada-menu-icon-position-right .fusion-main-menu > ul > li > a > .fusion-megamenu-icon {
  padding-left: .45em;
}
.avada-menu-highlight-style-background:not(.fusion-header-layout-v6) .fusion-main-menu > ul > li {
  padding-right: 0;
}
.avada-menu-highlight-style-background:not(.fusion-header-layout-v6) .fusion-main-menu > ul > li > a {
  padding-left: calc((var(--nav_padding)) / 2);
  padding-right: calc((var(--nav_padding)) / 2);
}
.fusion-main-menu .sub-menu {
  font-family: var(--body_typography-font-family);
  font-weight: var(--body_typography-font-weight);
  width: var(--dropdown_menu_width);
  background-color: var(--menu_sub_bg_color);
}
.fusion-main-menu .sub-menu ul {
  left: var(--dropdown_menu_width);
}
.rtl.fusion-top-header .fusion-main-menu .sub-menu ul {
  right: var(--dropdown_menu_width);
}
.fusion-main-menu .sub-menu li a {
  font-family: var(--body_typography-font-family);
  font-weight: var(--body_typography-font-weight);
  padding-top: var(--mainmenu_dropdown_vertical_padding);
  padding-bottom: var(--mainmenu_dropdown_vertical_padding);
  color: var(--menu_sub_color);
  font-size: var(--nav_dropdown_font_size);
}
.fusion-main-menu .sub-menu li a:hover {
  background-color: var(--menu_bg_hover_color);
}
.fusion-main-menu .sub-menu .current_page_item > a,
.fusion-main-menu .sub-menu .current-menu-item > a {
  background-color: var(--menu_bg_hover_color);
}
.fusion-main-menu .sub-menu .current-menu-parent > a {
  background-color: var(--menu_bg_hover_color);
}
.fusion-main-menu .fusion-custom-menu-item-contents {
  font-family: var(--body_typography-font-family);
  font-weight: var(--body_typography-font-weight);
}
.fusion-main-menu .fusion-main-menu-search .fusion-custom-menu-item-contents,
.fusion-main-menu .fusion-main-menu-cart .fusion-custom-menu-item-contents,
.fusion-main-menu .fusion-menu-login-box .fusion-custom-menu-item-contents {
  background-color: var(--menu_sub_bg_color);
  border-color: var(--menu_sub_sep_color);
}
.fusion-main-menu .fusion-menu-cart-link a:hover,
.fusion-main-menu .fusion-menu-cart-link a:hover:before,
.fusion-main-menu .fusion-menu-cart-checkout-link a:hover,
.fusion-main-menu .fusion-menu-cart-checkout-link a:hover:before,
.fusion-main-menu .fusion-main-menu-search-open .fusion-main-menu-icon:after,
.fusion-main-menu .fusion-main-menu-icon-active:after,
.fusion-main-menu .fusion-icon-sliding-bar.fusion-main-menu-icon-active:before {
  color: var(--menu_hover_first_color);
}
.fusion-main-menu .fusion-main-menu-icon:after {
  color: var(--nav_typography-color);
}
.fusion-main-menu .fusion-main-menu-icon:hover:after {
  color: var(--menu_hover_first_color);
}
.fusion-main-menu .fusion-widget-cart-counter > a:before {
  color: var(--nav_typography-color);
  width: var(--nav_typography-font-size);
  box-sizing: content-box;
}
.fusion-main-menu .fusion-widget-cart-counter > a:hover:before {
  color: var(--menu_hover_first_color);
}
.fusion-main-menu .fusion-widget-cart-counter > a .fusion-widget-cart-number {
  width: var(--nav_typography-font-size);
}
.fusion-main-menu .fusion-dropdown-menu .sub-menu li a {
  font-family: var(--body_typography-font-family);
  font-weight: var(--body_typography-font-weight);
  padding-top: var(--mainmenu_dropdown_vertical_padding);
  padding-bottom: var(--mainmenu_dropdown_vertical_padding);
  border-bottom-color: var(--menu_sub_sep_color);
  color: var(--menu_sub_color);
  font-size: var(--nav_dropdown_font_size);
}
.fusion-main-menu .fusion-main-menu-cart {
  font-size: var(--nav_dropdown_font_size);
}
.fusion-main-menu .current_page_item > a > .fusion-megamenu-icon,
.fusion-main-menu .current-menu-item > a > .fusion-megamenu-icon,
.fusion-main-menu .current-menu-parent > a > .fusion-megamenu-icon,
.fusion-main-menu .current-menu-ancestor > a > .fusion-megamenu-icon {
  color: var(--menu_icon_hover_color);
}
body:not(.fusion-top-header) .fusion-main-menu > ul > li > a,
body:not(.fusion-header-layout-v6) .fusion-main-menu > ul > li > a {
  height: var(--nav_height);
}
.avada-menu-highlight-style-bar .fusion-main-menu .sub-menu,
.avada-menu-highlight-style-bottombar .fusion-main-menu .sub-menu {
  border-top: var(--dropdown_menu_top_border_size) solid var(--menu_hover_first_color);
}
.avada-menu-highlight-style-bar .fusion-main-menu .sub-menu ul,
.avada-menu-highlight-style-bottombar .fusion-main-menu .sub-menu ul {
  top: calc((var(--dropdown_menu_top_border_size)) * -1);
}
.avada-menu-highlight-style-bar .fusion-megamenu-wrapper .fusion-megamenu-submenu .sub-menu,
.avada-menu-highlight-style-bottombar .fusion-megamenu-wrapper .fusion-megamenu-submenu .sub-menu {
  border: none;
}
.avada-menu-highlight-style-bar:not(.fusion-header-layout-v6) .fusion-main-menu > ul > li > a {
  border-top-width: var(--nav_highlight_border);
  border-top-style: solid;
}
.avada-menu-highlight-style-bar:not(.fusion-header-layout-v6) .fusion-main-menu > ul > li > a:not(.fusion-logo-link):not(.fusion-icon-sliding-bar):hover {
  border-top-color: var(--menu_hover_first_color);
}
.fusion-body.avada-menu-highlight-style-bar:not(.fusion-header-layout-v6) .fusion-main-menu > ul > li.fusion-menu-item-button a:hover,
.fusion-body.avada-menu-highlight-style-bar:not(.fusion-header-layout-v6) .fusion-main-menu > ul > li.fusion-main-menu-search a:hover,
.fusion-body.avada-menu-highlight-style-bar:not(.fusion-header-layout-v6) .fusion-main-menu > ul > li.fusion-main-menu-cart a:hover {
  border-top-color: transparent;
}
.avada-menu-highlight-style-bar:not(.fusion-top-header) .fusion-main-menu > ul > li > a:not(.fusion-main-menu-icon) {
  line-height: calc(var(--nav_height) - var(--nav_highlight_border));
}
#side-header .fusion-main-menu > ul > li > a {
  min-height: var(--nav_height);
  text-align: var(--menu_text_align);
}
#side-header .fusion-main-menu > ul > li > a.fusion-flex-link {
  -ms-flex-pack: var(--menu_text_align);
      justify-content: var(--menu_text_align);
}
#side-header .fusion-main-menu > ul > li.current-menu-ancestor > a,
#side-header .fusion-main-menu > ul > li.current-menu-item > a {
  border-right-color: var(--menu_hover_first_color);
  border-left-color: var(--menu_hover_first_color);
  color: var(--menu_hover_first_color);
}
#side-header .fusion-main-menu > ul > li.fusion-menu-item-button > a {
  -ms-flex-pack: var(--menu_text_align);
      justify-content: var(--menu_text_align);
}
#side-header .side-header-content-1,
#side-header .side-header-content-2,
#side-header .fusion-secondary-menu > ul > li > a {
  color: var(--header_top_menu_sub_color);
  font-size: var(--snav_font_size);
}
.avada-menu-highlight-style-background:not(.fusion-header-layout-v6) .fusion-main-menu > ul > li:not(.fusion-middle-logo-menu-logo):not(.fusion-menu-item-button) > a:not(.fusion-icon-sliding-bar):hover,
.avada-menu-highlight-style-background:not(.fusion-header-layout-v6) .fusion-main-menu > ul > li:not(.fusion-middle-logo-menu-logo):not(.fusion-menu-item-button):hover > a:not(.fusion-icon-sliding-bar),
.avada-menu-highlight-style-background:not(.fusion-header-layout-v6) .fusion-main-menu > ul > li.current_page_item > a,
.avada-menu-highlight-style-background:not(.fusion-header-layout-v6) .fusion-main-menu > ul > li.current-menu-item > a,
.avada-menu-highlight-style-background:not(.fusion-header-layout-v6) .fusion-main-menu > ul > li.current-menu-parent > a,
.avada-menu-highlight-style-background:not(.fusion-header-layout-v6) .fusion-main-menu > ul > li.current-menu-ancestor > a,
.avada-menu-highlight-style-background:not(.fusion-header-layout-v6) .fusion-is-sticky .fusion-main-menu > ul > li:not(.fusion-middle-logo-menu-logo):not(.fusion-menu-item-button) > a:not(.fusion-icon-sliding-bar):hover,
.avada-menu-highlight-style-background:not(.fusion-header-layout-v6) .fusion-is-sticky .fusion-main-menu > ul > li.current_page_item > a,
.avada-menu-highlight-style-background:not(.fusion-header-layout-v6) .fusion-is-sticky .fusion-main-menu > ul > li.current-menu-item > a,
.avada-menu-highlight-style-background:not(.fusion-header-layout-v6) .fusion-is-sticky .fusion-main-menu > ul > li.current-menu-parent > a,
.avada-menu-highlight-style-background:not(.fusion-header-layout-v6) .fusion-is-sticky .fusion-main-menu > ul > li.current-menu-ancestor > a {
  background-color: var(--menu_highlight_background);
}
.avada-menu-highlight-style-arrow.fusion-top-header:not(.fusion-header-layout-v6) .fusion-arrow-highlight .fusion-arrow-svg {
  bottom: calc((var(--menu_arrow_size-height, 12px)) * -1);
}
.avada-menu-highlight-style-arrow.fusion-top-header:not(.fusion-header-layout-v6) .fusion-sticky-shadow .fusion-arrow-highlight .fusion-arrow-svg,
.avada-menu-highlight-style-arrow.fusion-top-header:not(.fusion-header-layout-v6) .fusion-is-sticky .fusion-sticky-menu-only .fusion-arrow-highlight .fusion-arrow-svg {
  box-sizing: content-box;
  padding-bottom: 3px;
  margin-bottom: -3px;
}
.avada-menu-highlight-style-arrow.fusion-top-header:not(.fusion-header-layout-v6) .fusion-logo-link,
.avada-menu-highlight-style-arrow.fusion-top-header:not(.fusion-header-layout-v6) .fusion-main-menu > ul {
  line-height: 1;
}
.avada-menu-highlight-style-arrow.fusion-top-header:not(.fusion-header-layout-v6) .fusion-arrow-highlight .fusion-arrow-svg {
  transform: translateX(-50%);
  left: 50%;
}
.avada-menu-highlight-style-arrow.fusion-top-header:not(.fusion-header-layout-v6) .fusion-dropdown-svg,
.avada-menu-highlight-style-arrow.fusion-top-header:not(.fusion-header-layout-v6) .fusion-arrow-highlight .fusion-arrow-svg {
  height: var(--menu_arrow_size-height, 12px);
  line-height: var(--menu_arrow_size-height, 12px);
}
.avada-menu-highlight-style-arrow.fusion-top-header:not(.fusion-header-layout-v6) .fusion-main-menu > ul > .menu-item-has-children:hover:before,
.avada-menu-highlight-style-arrow.fusion-top-header:not(.fusion-header-layout-v6) .fusion-main-menu > ul > .menu-item-has-children.fusion-active-link:before {
  bottom: calc(-10px - (var(--menu_arrow_size-height, 12px)) * 2);
  height: calc((var(--menu_arrow_size-height, 12px)) * 2 + 10px);
}
.avada-menu-highlight-style-arrow.fusion-top-header:not(.fusion-header-layout-v6) .fusion-main-menu .fusion-dropdown-menu > .sub-menu,
.avada-menu-highlight-style-arrow.fusion-top-header:not(.fusion-header-layout-v6) .fusion-main-menu .fusion-megamenu-wrapper {
  margin-top: calc((var(--menu_arrow_size-height, 12px)) * 2 + 10px);
}
.fusion-sub-menu-slide.avada-menu-highlight-style-arrow.fusion-top-header:not(.fusion-header-layout-v6) .fusion-main-menu .fusion-dropdown-menu > .sub-menu,
.fusion-sub-menu-slide.avada-menu-highlight-style-arrow.fusion-top-header:not(.fusion-header-layout-v6) .fusion-main-menu .fusion-megamenu-wrapper {
  margin-top: calc((var(--menu_arrow_size-height, 12px)) * 2 + 30px);
}
.fusion-sub-menu-slide.avada-menu-highlight-style-arrow.fusion-top-header:not(.fusion-header-layout-v6) .fusion-main-menu > ul > li:hover > .fusion-megamenu-wrapper,
.fusion-sub-menu-slide.avada-menu-highlight-style-arrow.fusion-top-header:not(.fusion-header-layout-v6) .fusion-main-menu > ul > li:hover > .fusion-menu-cart-items,
.fusion-sub-menu-slide.avada-menu-highlight-style-arrow.fusion-top-header:not(.fusion-header-layout-v6) .fusion-main-menu > ul > li:hover > .sub-menu {
  margin-top: calc((var(--menu_arrow_size-height, 12px)) * 2 + 10px);
}
.avada-menu-highlight-style-arrow.fusion-top-header:not(.fusion-header-layout-v6):not(.fusion-header-layout-v4):not(.fusion-header-layout-v5) .fusion-arrow-highlight .fusion-arrow-svg svg path {
  transition: fill 0.25s ease-in-out;
}
.avada-menu-highlight-style-arrow.fusion-top-header:not(.fusion-header-layout-v6).avada-header-border-color-full-transparent.fusion-header-layout-v2 .fusion-arrow-svg svg,
.avada-menu-highlight-style-arrow.fusion-top-header:not(.fusion-header-layout-v6).avada-header-border-color-full-transparent.fusion-header-layout-v3 .fusion-arrow-svg svg {
  margin-top: 1px;
}
.avada-menu-highlight-style-arrow.fusion-top-header:not(.fusion-header-layout-v6).avada-header-border-color-full-transparent.fusion-header-layout-v2.avada-sticky-shrinkage .fusion-is-sticky .fusion-arrow-svg svg,
.avada-menu-highlight-style-arrow.fusion-top-header:not(.fusion-header-layout-v6).avada-header-border-color-full-transparent.fusion-header-layout-v3.avada-sticky-shrinkage .fusion-is-sticky .fusion-arrow-svg svg {
  margin-top: 0;
}
html:not(.avada-header-color-not-opaque) .avada-menu-highlight-style-arrow.fusion-top-header:not(.fusion-header-layout-v6).avada-header-border-color-full-transparent.fusion-header-layout-v4 .fusion-arrow-svg svg,
html:not(.avada-header-color-not-opaque) .avada-menu-highlight-style-arrow.fusion-top-header:not(.fusion-header-layout-v6).avada-header-border-color-full-transparent.fusion-header-layout-v5 .fusion-arrow-svg svg {
  margin-top: 1px;
}
html:not(.avada-header-color-not-opaque) .avada-menu-highlight-style-arrow.fusion-top-header:not(.fusion-header-layout-v6).avada-header-border-color-full-transparent.fusion-header-layout-v4.avada-sticky-shrinkage .fusion-is-sticky .fusion-arrow-svg svg,
html:not(.avada-header-color-not-opaque) .avada-menu-highlight-style-arrow.fusion-top-header:not(.fusion-header-layout-v6).avada-header-border-color-full-transparent.fusion-header-layout-v5.avada-sticky-shrinkage .fusion-is-sticky .fusion-arrow-svg svg {
  margin-top: 0;
}
.avada-menu-highlight-style-arrow.fusion-top-header:not(.fusion-header-layout-v6):not(.avada-header-border-color-full-transparent).fusion-header-layout-v2 .fusion-arrow-svg svg,
.avada-menu-highlight-style-arrow.fusion-top-header:not(.fusion-header-layout-v6):not(.avada-header-border-color-full-transparent).fusion-header-layout-v3 .fusion-arrow-svg svg {
  margin-top: -1px;
  display: block;
}
html:not(.avada-header-color-not-opaque) .avada-menu-highlight-style-arrow.fusion-top-header:not(.fusion-header-layout-v6):not(.avada-header-border-color-full-transparent).fusion-header-layout-v4 .fusion-arrow-svg svg,
html:not(.avada-header-color-not-opaque) .avada-menu-highlight-style-arrow.fusion-top-header:not(.fusion-header-layout-v6):not(.avada-header-border-color-full-transparent).fusion-header-layout-v5 .fusion-arrow-svg svg {
  margin-top: -1px;
  display: block;
}
.avada-menu-highlight-style-arrow.side-header-left:not(.fusion-header-layout-v6) .fusion-dropdown-svg {
  height: var(--menu_arrow_size-height, 23px);
}
.avada-menu-highlight-style-arrow.side-header-left:not(.fusion-header-layout-v6) .fusion-main-menu .menu-item-has-children:hover:before {
  right: calc(-5px - (var(--menu_arrow_size-width)) * 2);
  width: calc((var(--menu_arrow_size-width)) * 2 + 5px);
}
.avada-menu-highlight-style-arrow.side-header-left:not(.fusion-header-layout-v6) .fusion-main-menu .fusion-dropdown-menu > .sub-menu,
.avada-menu-highlight-style-arrow.side-header-left:not(.fusion-header-layout-v6) .fusion-main-menu .fusion-megamenu-wrapper {
  margin-left: calc((var(--menu_arrow_size-width)) * 2 + 5px);
}
.avada-menu-highlight-style-arrow.side-header-left:not(.fusion-header-layout-v6) .fusion-arrow-highlight .fusion-arrow-svg {
  right: calc(2px - var(--menu_arrow_size-width));
  line-height: 1;
  transform: translateY(-50%);
  top: 50%;
}
.avada-menu-highlight-style-arrow.side-header-left:not(.fusion-header-layout-v6) .fusion-arrow-svg svg {
  margin-left: -1px;
}
.avada-menu-highlight-style-arrow.side-header-left:not(.fusion-header-layout-v6).avada-header-border-color-full-transparent .fusion-arrow-highlight .fusion-arrow-svg {
  right: calc(1px - var(--menu_arrow_size-width));
}
.avada-menu-highlight-style-arrow:not(.fusion-header-layout-v6) .fusion-mobile-nav-holder .fusion-dropdown-svg,
.avada-menu-highlight-style-arrow:not(.fusion-header-layout-v6) .fusion-mobile-nav-holder .fusion-arrow-svg {
  display: none;
}
.avada-menu-highlight-style-arrow:not(.fusion-header-layout-v6) .fusion-arrow-highlight .fusion-arrow-svg {
  opacity: 0;
  font-size: 0;
  visibility: hidden;
  position: absolute;
  overflow: hidden;
  display: inline-block;
}
.fusion-arrow-highlight .fusion-arrow-svg {
  left: calc(1px + var(--menu_arrow_size-width-header_border_color_condition_5));
  right: calc(1px - var(--menu_arrow_size-width-header_border_color_condition_5));
}
.side-header-right:not(.fusion-header-layout-v6) .fusion-arrow-highlight .fusion-arrow-svg {
  left: calc(2px - var(--menu_arrow_size-width));
}
.side-header-right:not(.fusion-header-layout-v6).avada-menu-highlight-style-arrow .fusion-main-menu .menu-item-has-children:hover:before {
  left: calc(-5px - (var(--menu_arrow_size-width)) * 2);
  width: calc((var(--menu_arrow_size-width)) * 2 + 5px);
}
.side-header-right:not(.fusion-header-layout-v6).avada-menu-highlight-style-arrow .fusion-main-menu .fusion-dropdown-menu > .sub-menu {
  margin-left: calc(-5px - (var(--menu_arrow_size-width)) * 2);
}
.side-header-right:not(.fusion-header-layout-v6).avada-menu-highlight-style-arrow .fusion-main-menu .fusion-megamenu-wrapper {
  margin-left: calc(-5px - (var(--menu_arrow_size-width)) * 2);
}
.side-header-right:not(.fusion-header-layout-v6).avada-menu-highlight-style-arrow.rtl .fusion-main-menu .fusion-megamenu-wrapper {
  margin-left: calc(-4px - (var(--menu_arrow_size-width)) * 2);
}
.side-header-right:not(.fusion-header-layout-v6).avada-menu-highlight-style-arrow .fusion-dropdown-svg {
  height: var(--menu_arrow_size-height, 23px);
  line-height: var(--menu_arrow_size-height, 23px);
}
.fusion-top-header.fusion-header-layout-v7.avada-menu-highlight-style-background .fusion-header .fusion-logo-background {
  margin-right: var(--nav_padding);
}
.avada-has-megamenu-shadow .fusion-main-menu .sub-menu,
.avada-has-megamenu-shadow .fusion-megamenu-holder {
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.06);
}
.avada-has-megamenu-shadow .fusion-megamenu-wrapper .fusion-megamenu-submenu .sub-menu {
  box-shadow: none;
}
.fusion-megamenu-holder {
  border-top-width: var(--dropdown_menu_top_border_size);
  border-color: var(--menu_hover_first_color);
  background-color: var(--menu_sub_bg_color);
}
.side-header-right #side-header .fusion-main-menu ul .fusion-dropdown-menu .sub-menu li ul,
.side-header-right #side-header .fusion-main-menu ul .fusion-dropdown-menu .sub-menu,
.side-header-right #side-header .fusion-main-menu ul .fusion-menu-login-box .sub-menu,
.side-header-right #side-header .fusion-main-menu .fusion-menu-cart-items,
.side-header-right #side-header .fusion-main-menu .fusion-menu-login-box .fusion-custom-menu-item-contents {
  left: calc((var(--dropdown_menu_width)) * -1);
}
.fusion-body .fusion-megamenu-wrapper .fusion-megamenu-holder .fusion-megamenu .fusion-megamenu-submenu {
  border-color: var(--menu_sub_sep_color);
}
.fusion-megamenu-wrapper li .fusion-megamenu-title-disabled {
  font-family: var(--body_typography-font-family);
  font-weight: var(--body_typography-font-weight);
  padding-top: var(--mainmenu_dropdown_vertical_padding);
  padding-bottom: var(--mainmenu_dropdown_vertical_padding);
  color: var(--menu_sub_color);
  font-size: var(--nav_dropdown_font_size);
}
.fusion-megamenu-wrapper .fusion-megamenu-submenu > a:hover {
  font-family: var(--body_typography-font-family);
  font-weight: var(--body_typography-font-weight);
  background-color: var(--menu_bg_hover_color);
  color: var(--menu_sub_color);
  font-size: var(--nav_dropdown_font_size);
}
.fusion-megamenu-wrapper .fusion-megamenu-submenu .fusion-megamenu-border {
  border-color: var(--menu_sub_sep_color);
}
.fusion-megamenu-wrapper .fusion-megamenu-submenu .sub-menu a {
  padding-top: var(--megamenu_item_vertical_padding);
  padding-bottom: var(--megamenu_item_vertical_padding);
}
.sub-menu .fusion-caret {
  top: var(--mainmenu_dropdown_vertical_padding);
}
.avada-has-mainmenu-dropdown-divider .fusion-main-menu .fusion-dropdown-menu .sub-menu li a {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
body:not(.avada-has-mainmenu-dropdown-divider) .fusion-main-menu .fusion-dropdown-menu .sub-menu li a {
  border-bottom: none;
}
.avada-menu-highlight-style-arrow .fusion-dropdown-svg.fusion-svg-active path {
  fill: var(--menu_bg_hover_color);
}
.fusion-menu-highlight-label {
  border-radius: var(--main_nav_highlight_radius);
}
.side-nav li a,
.fusion-main-menu > ul > li > a,
.fusion-vertical-menu-widget ul.menu li a {
  font-family: var(--nav_typography-font-family);
  font-weight: var(--nav_typography-font-weight);
  font-size: var(--nav_typography-font-size);
  letter-spacing: var(--nav_typography-letter-spacing);
  font-style: var(--nav_typography-font-style, normal);
}
.fusion-main-menu > ul > li > a {
  color: var(--nav_typography-color);
}
.fusion-main-menu-cart .fusion-widget-cart-number,
.fusion-flyout-cart-wrapper .fusion-widget-cart-number {
  font-family: var(--nav_typography-font-family);
  font-style: var(--nav_typography-font-style, normal);
}
.fusion-megamenu-icon img {
  max-height: var(--nav_typography-font-size);
}
.fusion-body.avada-menu-icon-position-top:not(.fusion-top-header) .fusion-main-menu .fusion-flex-link,
.fusion-body.avada-menu-icon-position-bottom:not(.fusion-top-header) .fusion-main-menu .fusion-flex-link {
  padding: calc((var(--nav_height) - var(--nav_typography-font-size)) / 2) 0;
  line-height: 1;
}
.fusion-widget-cart-number {
  background-color: var(--menu_hover_first_color);
  color: var(--nav_typography-color);
}
#wrapper .fusion-header-has-flyout-menu .fusion-flyout-search .searchform .s {
  color: var(--nav_typography-color);
  border-color: var(--nav_typography-color);
  font-family: var(--nav_typography-font-family);
  font-style: var(--nav_typography-font-style, normal);
}
#wrapper .fusion-header-has-flyout-menu .fusion-flyout-search .searchform .s::-webkit-input-placeholder {
  color: var(--nav_typography-color);
}
#wrapper .fusion-header-has-flyout-menu .fusion-flyout-search .searchform .s::-moz-placeholder {
  color: var(--nav_typography-color);
}
#wrapper .fusion-header-has-flyout-menu .fusion-flyout-search .searchform .s:-ms-input-placeholder {
  color: var(--nav_typography-color);
}
#wrapper .fusion-header-has-flyout-menu.fusion-mobile-menu-design-flyout .fusion-flyout-search .searchform .s {
  border-color: var(--mobile_menu_typography-color);
  font-family: var(--mobile_menu_typography-font-family);
  color: var(--mobile_menu_typography-color);
}
#wrapper .fusion-header-has-flyout-menu.fusion-mobile-menu-design-flyout .fusion-flyout-search .searchform .s::-webkit-input-placeholder {
  color: var(--mobile_menu_typography-color);
}
#wrapper .fusion-header-has-flyout-menu.fusion-mobile-menu-design-flyout .fusion-flyout-search .searchform .s::-moz-placeholder {
  color: var(--mobile_menu_typography-color);
}
#wrapper .fusion-header-has-flyout-menu.fusion-mobile-menu-design-flyout .fusion-flyout-search .searchform .s:-moz-placeholder {
  color: var(--mobile_menu_typography-color);
}
#wrapper .fusion-header-has-flyout-menu.fusion-mobile-menu-design-flyout .fusion-flyout-search .searchform .s:-ms-input-placeholder {
  color: var(--mobile_menu_typography-color);
}
#wrapper .side-nav li a {
  font-size: var(--side_nav_font_size);
}
.fusion-secondary-menu .fusion-menu-cart-item a:hover {
  color: var(--header_top_menu_sub_hover_color);
}
.fusion-secondary-menu .fusion-secondary-menu-icon {
  color: var(--nav_typography-color);
  min-width: var(--topmenu_dropwdown_width);
}
.fusion-secondary-menu .fusion-secondary-menu-icon:hover {
  color: var(--nav_typography-color);
}
.fusion-secondary-menu .sub-menu {
  background-color: var(--header_top_sub_bg_color);
  width: var(--topmenu_dropwdown_width);
  border-color: var(--header_top_menu_sub_sep_color);
}
.fusion-secondary-menu .sub-menu a {
  color: var(--header_top_menu_sub_color);
  border-color: var(--header_top_menu_sub_sep_color);
}
.fusion-secondary-menu .sub-menu a:hover {
  color: var(--header_top_menu_sub_hover_color);
  background-color: var(--header_top_menu_bg_hover_color);
}
.fusion-secondary-menu .fusion-custom-menu-item-contents {
  background-color: var(--header_top_sub_bg_color);
  color: var(--header_top_menu_sub_color);
  width: var(--topmenu_dropwdown_width);
  border-color: var(--header_top_menu_sub_sep_color);
}
.fusion-secondary-menu .fusion-menu-cart-items a {
  color: var(--header_top_menu_sub_color);
}
.fusion-secondary-menu .fusion-menu-cart-item a {
  border-color: var(--header_top_menu_sub_sep_color);
}
.fusion-secondary-menu .fusion-menu-cart-item a:hover {
  background-color: var(--header_top_menu_bg_hover_color);
}
.fusion-secondary-menu > ul > li {
  border-color: var(--header_top_first_border_color);
}
.fusion-secondary-menu > ul > li > .sub-menu .sub-menu {
  left: calc(var(--topmenu_dropwdown_width) - 2px);
}
.fusion-secondary-menu > ul > li > a {
  height: var(--sec_menu_lh);
}
.fusion-secondary-menu-icon {
  color: var(--nav_typography-color);
}
.fusion-secondary-menu-icon:before,
.fusion-secondary-menu-icon:after {
  color: var(--nav_typography-color);
}
.fusion-megamenu-title {
  color: var(--nav_typography-color);
  font-size: var(--megamenu_title_size);
}
.fusion-megamenu-title a {
  color: var(--nav_typography-color);
}
.fusion-has-main-nav-icon-circle .fusion-main-menu .fusion-main-menu-icon:after {
  border: 1px solid var(--nav_typography-color);
  padding: calc((var(--nav_typography-font-size)) * 0.35);
}
.fusion-has-main-nav-icon-circle .fusion-main-menu .fusion-main-menu-icon:hover:after {
  border: 1px solid var(--menu_hover_first_color);
}
.fusion-has-main-nav-icon-circle .fusion-main-menu .fusion-widget-cart-counter > a:before {
  border: 1px solid var(--nav_typography-color);
  padding: calc((var(--nav_typography-font-size)) * 0.35);
}
.fusion-has-main-nav-icon-circle .fusion-main-menu .fusion-widget-cart-counter > a:hover:before {
  border: 1px solid var(--menu_hover_first_color);
}
.fusion-has-main-nav-icon-circle .fusion-main-menu .fusion-main-menu-search-open .fusion-main-menu-icon:after {
  border: 1px solid var(--menu_hover_first_color);
}
.fusion-has-main-nav-icon-circle .fusion-main-menu .fusion-main-menu-icon-active:after {
  border: 1px solid var(--menu_hover_first_color);
}
.fusion-has-main-nav-icon-circle .fusion-header-has-flyout-menu.fusion-flyout-active .fusion-flyout-menu-icons .fusion-icon:before {
  border: 1px solid var(--nav_typography-color);
}
.fusion-has-main-nav-icon-circle .fusion-header-has-flyout-menu.fusion-flyout-active .fusion-flyout-menu-icons .fusion-icon:hover:before {
  border: 1px solid var(--menu_hover_first_color);
}
.fusion-has-main-nav-icon-circle .fusion-header-has-flyout-menu .fusion-flyout-menu-icons .fusion-icon:before {
  border: 1px solid var(--flyout_menu_icon_color);
  padding: calc((var(--flyout_menu_icon_font_size_px)) * 0.35px);
}
.fusion-has-main-nav-icon-circle .fusion-header-has-flyout-menu .fusion-flyout-menu-icons .fusion-icon:hover:before {
  border: 1px solid var(--flyout_menu_icon_hover_color);
}
.fusion-header-has-flyout-menu.fusion-flyout-active .fusion-flyout-menu-icons .fusion-icon:before {
  color: var(--nav_typography-color);
}
.fusion-header-has-flyout-menu.fusion-flyout-active .fusion-flyout-menu-icons .fusion-toggle-icon-line {
  background-color: var(--nav_typography-color);
}
.fusion-header-has-flyout-menu.fusion-flyout-active .fusion-flyout-menu-icons .fusion-flyout-menu-toggle:hover .fusion-toggle-icon-line,
.fusion-header-has-flyout-menu.fusion-flyout-active .fusion-flyout-menu-icons .fusion-flyout-search-toggle:hover .fusion-toggle-icon-line {
  background-color: var(--menu_hover_first_color);
}
.fusion-header-has-flyout-menu.fusion-flyout-active .fusion-flyout-menu-icons .fusion-icon:hover:before {
  color: var(--menu_hover_first_color);
}
.fusion-header-has-flyout-menu .fusion-flyout-search .fusion-live-search .fusion-slider-loading {
  border-bottom-color: var(--nav_typography-color);
  border-top-color: var(--nav_typography-color-35a);
  border-right-color: var(--nav_typography-color-35a);
  border-left-color: var(--nav_typography-color-35a);
}
.fusion-header-has-flyout-menu .fusion-flyout-menu-icons {
  font-size: var(--flyout_menu_icon_font_size);
  margin: 0 calc((var(--flyout_nav_icons_padding)) / -2);
}
.fusion-header-has-flyout-menu .fusion-flyout-menu-icons .fusion-flyout-cart-wrapper,
.fusion-header-has-flyout-menu .fusion-flyout-menu-icons .fusion-flyout-sliding-bar-toggle {
  padding: 0 calc((var(--flyout_nav_icons_padding)) / 2);
}
.fusion-header-has-flyout-menu .fusion-flyout-menu-icons .fusion-icon:before {
  color: var(--flyout_menu_icon_color);
}
.fusion-header-has-flyout-menu .fusion-flyout-menu-icons .fusion-icon:hover:before {
  color: var(--flyout_menu_icon_hover_color);
}
.fusion-header-has-flyout-menu .fusion-flyout-menu-icons .fusion-toggle-icon-line {
  background-color: var(--flyout_menu_icon_color);
  width: calc((var(--flyout_menu_icon_font_size_px)) * 1.5);
  height: calc((var(--flyout_menu_icon_font_size_px)) * 0.1);
}
.fusion-header-has-flyout-menu .fusion-flyout-menu-icons .fusion-flyout-menu-toggle,
.fusion-header-has-flyout-menu .fusion-flyout-menu-icons .fusion-flyout-search-toggle {
  padding: 0 calc((var(--flyout_nav_icons_padding)) / 2);
}
.fusion-header-has-flyout-menu .fusion-flyout-menu-icons .fusion-flyout-menu-toggle:hover .fusion-toggle-icon-line,
.fusion-header-has-flyout-menu .fusion-flyout-menu-icons .fusion-flyout-search-toggle:hover .fusion-toggle-icon-line {
  background-color: var(--flyout_menu_icon_hover_color);
}
.fusion-header-has-flyout-menu .fusion-flyout-menu-icons .fusion-flyout-menu-toggle {
  height: calc((var(--flyout_menu_icon_font_size_px)) * 0.9);
  width: calc((var(--flyout_menu_icon_font_size_px)) * 1.5);
}
.fusion-header-has-flyout-menu .fusion-flyout-menu-icons .fusion-flyout-search-toggle .fusion-toggle-icon {
  height: calc((var(--flyout_menu_icon_font_size_px)) * 0.9);
  width: calc((var(--flyout_menu_icon_font_size_px)) * 0.9);
}
.fusion-header-has-flyout-menu .fusion-flyout-menu-icons .fusion-icon-sliding-bar:before {
  padding: calc((var(--flyout_menu_icon_font_size_px)) * 0.2);
}
.fusion-header-has-flyout-menu .fusion-flyout-mobile-menu-icons {
  margin-top: var(--mobile_menu_icons_top_margin);
}
.fusion-header-has-flyout-menu .fusion-widget-cart-number {
  min-width: var(--flyout_menu_icon_font_size);
}
.fusion-header-has-flyout-menu.fusion-flyout-menu-active .fusion-flyout-menu-icons .fusion-flyout-menu-toggle .fusion-toggle-icon-line {
  width: calc((var(--flyout_menu_icon_font_size_px)) * 1.2);
}
.fusion-header-has-flyout-menu.fusion-flyout-search-active .fusion-flyout-menu-icons .fusion-flyout-search-toggle .fusion-toggle-icon-line {
  width: calc((var(--flyout_menu_icon_font_size_px)) * 1.2);
}
.fusion-header-has-flyout-menu .fusion-flyout-menu-bg {
  background-color: var(--flyout_menu_background_color);
}
.fusion-header-has-flyout-menu .fusion-flyout-menu > ul.fusion-menu > li {
  padding: calc((var(--flyout_menu_item_padding)) / 2 ) 0;
}
.fusion-body .fusion-is-sticky .fusion-header-has-flyout-menu .fusion-flyout-menu > ul.fusion-menu > li {
  padding: calc((var(--flyout_menu_item_padding)) / 2 ) 0;
}
.fusion-header-has-flyout-menu.fusion-mobile-menu-design-flyout.fusion-flyout-active .fusion-flyout-menu-icons .fusion-toggle-icon-line {
  background-color: var(--mobile_menu_typography-color);
}
.fusion-header-has-flyout-menu.fusion-mobile-menu-design-flyout.fusion-flyout-active .fusion-flyout-menu-icons .fusion-icon:before {
  color: var(--mobile_menu_typography-color);
}
.fusion-header-has-flyout-menu.fusion-mobile-menu-design-flyout.fusion-flyout-active .fusion-flyout-menu-icons .fusion-icon:hover:before {
  color: var(--mobile_menu_font_hover_color);
}
.fusion-header-has-flyout-menu.fusion-mobile-menu-design-flyout.fusion-flyout-active .fusion-flyout-menu-icons .fusion-flyout-menu-toggle:hover .fusion-toggle-icon-line,
.fusion-header-has-flyout-menu.fusion-mobile-menu-design-flyout.fusion-flyout-active .fusion-flyout-menu-icons .fusion-flyout-search-toggle:hover .fusion-toggle-icon-line {
  background-color: var(--mobile_menu_font_hover_color);
}
.fusion-header-layout-v4.fusion-top-header.avada-menu-highlight-style-arrow .fusion-arrow-svg path,
.fusion-header-layout-v5.fusion-top-header.avada-menu-highlight-style-arrow .fusion-arrow-svg path {
  fill: var(--menu_h45_bg_color);
}
.fusion-secondary-main-menu {
  background-color: var(--menu_h45_bg_color);
}
.fusion-widget-cart-counter a:hover:before {
  color: var(--menu_hover_first_color);
}
.woocommerce-cart .fusion-main-menu-cart .fusion-main-menu-icon:after,
.woocommerce-cart .fusion-main-menu-cart .fusion-main-menu-icon:before {
  color: var(--menu_hover_first_color);
}
.fusion-is-sticky .fusion-main-menu > ul > li > a:hover,
.fusion-is-sticky .fusion-main-menu .fusion-widget-cart-counter > a:hover:before,
.fusion-is-sticky .fusion-main-menu > ul > li.current-menu-item > a,
.fusion-is-sticky .fusion-main-menu .fusion-main-menu-icon:hover:after,
.fusion-is-sticky .fusion-main-menu .fusion-menu .fusion-main-menu-icon-active:after,
.fusion-is-sticky .fusion-main-menu .fusion-main-menu-search-open .fusion-main-menu-icon:after,
.fusion-is-sticky .fusion-main-menu .fusion-main-menu-icon-active:after {
  color: var(--menu_hover_first_color);
}
.fusion-body .fusion-main-menu .current_page_item > a,
.fusion-body .fusion-main-menu .current-menu-item > a,
.fusion-body .fusion-main-menu .current-menu-parent > a,
.fusion-body .fusion-main-menu .current-menu-ancestor > a {
  border-color: var(--menu_hover_first_color);
  color: var(--menu_hover_first_color);
}
.fusion-body .fusion-main-menu .current_page_item > a .fusion-menu-description,
.fusion-body .fusion-main-menu .current-menu-item > a .fusion-menu-description,
.fusion-body .fusion-main-menu .current-menu-parent > a .fusion-menu-description,
.fusion-body .fusion-main-menu .current-menu-ancestor > a .fusion-menu-description {
  color: var(--menu_hover_first_color-65a);
}
.fusion-body .fusion-main-menu .current-menu-item:not(.fusion-main-menu-cart) > a:before {
  border-color: var(--menu_hover_first_color);
  color: var(--menu_hover_first_color);
}
.fusion-body .fusion-main-menu .fusion-widget-cart-counter .fusion-main-menu-icon-active:before {
  color: var(--menu_hover_first_color);
}
.fusion-body .fusion-main-menu > ul > li > a:hover .fusion-menu-description {
  color: var(--menu_hover_first_color-65a);
}
.fusion-body .fusion-header-has-flyout-menu.fusion-flyout-search-active .fusion-flyout-menu-icons .fusion-flyout-search-toggle .fusion-toggle-icon-line {
  height: calc((var(--flyout_menu_icon_font_size_px)) * 0.1);
}
.fusion-body .fusion-mobile-nav-holder .fusion-selector-down {
  line-height: calc(var(--mobile_menu_nav_height) - 2px);
  height: calc(var(--mobile_menu_nav_height) - 2px);
  border-color: var(--mobile_menu_border_color);
}
.avada-flyout-menu-direction-fade .fusion-header-has-flyout-menu .fusion-flyout-menu,
.avada-flyout-menu-direction-fade .fusion-header-has-flyout-menu .fusion-flyout-search,
.avada-flyout-menu-direction-fade .fusion-header-has-flyout-menu .fusion-flyout-menu-bg {
  top: -1000%;
  transition: opacity 0.4s ease 0s, top 0s ease 0.4s;
}
.avada-flyout-menu-direction-fade .fusion-header-has-flyout-menu.fusion-flyout-menu-active .fusion-flyout-menu,
.avada-flyout-menu-direction-fade .fusion-header-has-flyout-menu.fusion-flyout-search-active .fusion-flyout-search,
.avada-flyout-menu-direction-fade .fusion-header-has-flyout-menu.fusion-flyout-active .fusion-flyout-menu-bg {
  top: 0;
  transition: opacity 0.4s ease 0s, top 0s ease 0s;
}
.avada-flyout-menu-direction-left .fusion-header-has-flyout-menu .fusion-flyout-menu,
.avada-flyout-menu-direction-left .fusion-header-has-flyout-menu .fusion-flyout-search,
.avada-flyout-menu-direction-left .fusion-header-has-flyout-menu .fusion-flyout-menu-bg {
  transform: translateX(-100%);
}
.avada-flyout-menu-direction-left .fusion-header-has-flyout-menu.fusion-flyout-menu-active .fusion-flyout-menu,
.avada-flyout-menu-direction-left .fusion-header-has-flyout-menu.fusion-flyout-search-active .fusion-flyout-search,
.avada-flyout-menu-direction-left .fusion-header-has-flyout-menu.fusion-flyout-active .fusion-flyout-menu-bg {
  transform: translateX(0);
}
.avada-flyout-menu-direction-right .fusion-header-has-flyout-menu .fusion-flyout-menu,
.avada-flyout-menu-direction-right .fusion-header-has-flyout-menu .fusion-flyout-search,
.avada-flyout-menu-direction-right .fusion-header-has-flyout-menu .fusion-flyout-menu-bg {
  transform: translateX(100%);
}
.avada-flyout-menu-direction-right .fusion-header-has-flyout-menu.fusion-flyout-menu-active .fusion-flyout-menu,
.avada-flyout-menu-direction-right .fusion-header-has-flyout-menu.fusion-flyout-search-active .fusion-flyout-search,
.avada-flyout-menu-direction-right .fusion-header-has-flyout-menu.fusion-flyout-active .fusion-flyout-menu-bg {
  transform: translateX(0);
}
.avada-flyout-menu-direction-bottom .fusion-header-has-flyout-menu .fusion-flyout-menu,
.avada-flyout-menu-direction-bottom .fusion-header-has-flyout-menu .fusion-flyout-search,
.avada-flyout-menu-direction-bottom .fusion-header-has-flyout-menu .fusion-flyout-menu-bg {
  transform: translateY(100%);
}
.avada-flyout-menu-direction-bottom .fusion-header-has-flyout-menu.fusion-flyout-menu-active .fusion-flyout-menu,
.avada-flyout-menu-direction-bottom .fusion-header-has-flyout-menu.fusion-flyout-search-active .fusion-flyout-search,
.avada-flyout-menu-direction-bottom .fusion-header-has-flyout-menu.fusion-flyout-active .fusion-flyout-menu-bg {
  transform: translateY(0);
}
.avada-flyout-menu-direction-top .fusion-header-has-flyout-menu .fusion-flyout-menu,
.avada-flyout-menu-direction-top .fusion-header-has-flyout-menu .fusion-flyout-search,
.avada-flyout-menu-direction-top .fusion-header-has-flyout-menu .fusion-flyout-menu-bg {
  transform: translateY(-100%);
}
.avada-flyout-menu-direction-top .fusion-header-has-flyout-menu.fusion-flyout-menu-active .fusion-flyout-menu,
.avada-flyout-menu-direction-top .fusion-header-has-flyout-menu.fusion-flyout-search-active .fusion-flyout-search,
.avada-flyout-menu-direction-top .fusion-header-has-flyout-menu.fusion-flyout-active .fusion-flyout-menu-bg {
  transform: translateY(0);
}
.fusion-secondary-header {
  color: var(--snav_color);
  font-size: var(--snav_font_size);
}
.fusion-secondary-header a {
  color: var(--snav_color);
}
.fusion-secondary-header a:hover {
  color: var(--snav_color);
}
.fusion-mobile-menu-icons {
  margin-top: var(--mobile_menu_icons_top_margin);
}
.fusion-mobile-menu-icons a {
  color: var(--mobile_menu_toggle_color);
}
.fusion-mobile-menu-icons a:before,
.fusion-mobile-menu-icons a:after {
  color: var(--mobile_menu_toggle_color);
}
.fusion-megamenu-widgets-container {
  font-family: var(--body_typography-font-family);
  font-weight: var(--body_typography-font-weight);
  color: var(--menu_sub_color);
  font-size: var(--nav_dropdown_font_size);
}
.fusion-megamenu-bullet {
  border-left-color: var(--menu_sub_color);
}
body:not(.mobile-menu-design-flyout) .fusion-mobile-nav-item a {
  height: var(--mobile_menu_nav_height);
  background-color: var(--mobile_menu_background_color);
  border-color: var(--mobile_menu_border_color);
}
body:not(.mobile-menu-design-flyout) .fusion-mobile-nav-item a:hover {
  background-color: var(--mobile_menu_hover_color);
}
body:not(.mobile-menu-design-flyout) .fusion-mobile-current-nav-item > a,
body:not(.mobile-menu-design-flyout) .fusion-mobile-nav-item.current-menu-item > a {
  background-color: var(--mobile_menu_hover_color);
}
.fusion-mobile-selector {
  height: var(--mobile_menu_nav_height);
  line-height: var(--mobile_menu_nav_height);
  background-color: var(--mobile_menu_background_color);
  border-color: var(--mobile_menu_border_color);
  color: var(--mobile_menu_typography-color);
  font-size: var(--mobile_menu_typography-font-size);
}
.fusion-open-submenu {
  height: var(--mobile_menu_nav_height);
  line-height: var(--mobile_menu_nav_height);
  font-size: var(--mobile_menu_typography-font-size-open-submenu);
}
.avada-has-mobile-menu-search:not(.avada-has-main-nav-search-icon) .fusion-header-v6.fusion-header-has-flyout-menu .fusion-flyout-menu-icons .fusion-flyout-search-toggle {
  display: none;
}
.fusion-mobile-nav-holder > ul {
  border-color: var(--mobile_menu_border_color);
}
.fusion-mobile-nav-holder > ul li a {
  font-family: var(--mobile_menu_typography-font-family);
  font-weight: var(--mobile_menu_typography-font-weight);
  font-style: var(--mobile_menu_typography-font-style, normal);
}
.fusion-mobile-nav-holder > ul li .fusion-icon-only-link .menu-text {
  font-family: var(--mobile_menu_typography-font-family);
  font-weight: var(--mobile_menu_typography-font-weight);
  font-style: var(--mobile_menu_typography-font-style, normal);
}
.fusion-mobile-nav-holder > ul > li.fusion-mobile-nav-item > a {
  font-size: var(--mobile_menu_typography-font-size);
  letter-spacing: var(--mobile_menu_typography-letter-spacing);
}
.fusion-mobile-menu-design-modern .fusion-mobile-nav-holder > ul {
  border-color: var(--mobile_menu_border_color);
}
.fusion-selector-down {
  font-size: var(--mobile_menu_typography-font-size-30-or-24px);
}
.fusion-selector-down:before {
  color: var(--mobile_menu_toggle_color);
}
.fusion-mobile-nav-item .fusion-open-submenu {
  color: var(--mobile_menu_typography-color);
}
.fusion-mobile-nav-item a {
  color: var(--mobile_menu_typography-color);
  font-size: var(--mobile_menu_typography-font-size);
  line-height: var(--mobile_menu_typography-line-height);
  letter-spacing: var(--mobile_menu_typography-letter-spacing);
}
.fusion-mobile-nav-item a:hover {
  color: var(--mobile_menu_font_hover_color);
}
.fusion-mobile-nav-item a:before {
  color: var(--mobile_menu_typography-color);
}
.fusion-mobile-nav-item.fusion-main-menu-sliding-bar a:after {
  color: var(--mobile_menu_typography-color);
}
.fusion-mobile-nav-item.current-menu-item > a {
  color: var(--mobile_menu_font_hover_color);
}
.fusion-mobile-current-nav-item > a {
  color: var(--mobile_menu_font_hover_color);
}
.avada-has-megamenu-item-divider .fusion-megamenu-wrapper .fusion-megamenu-submenu .sub-menu a,
.avada-has-megamenu-item-divider .fusion-megamenu-wrapper .fusion-megamenu-submenu > a,
.avada-has-megamenu-item-divider #side-header .fusion-main-menu > ul .sub-menu > li:last-child > a {
  border-bottom: 1px solid var(--menu_sub_sep_color);
}
.avada-has-megamenu-item-divider .fusion-megamenu-wrapper .fusion-megamenu-submenu {
  padding-bottom: 0;
}
.avada-has-megamenu-item-divider .fusion-megamenu-wrapper .fusion-megamenu-submenu-notitle {
  padding-top: 0;
}
.rtl .fusion-secondary-menu > ul > li > .sub-menu .sub-menu {
  right: var(--topmenu_dropwdown_width);
}
.rtl .fusion-secondary-menu > ul > li:first-child {
  border-left: 1px solid var(--header_top_first_border_color);
}
.rtl .fusion-header-v1 .fusion-main-menu > ul > li,
.rtl .fusion-header-v2 .fusion-main-menu > ul > li,
.rtl .fusion-header-v3 .fusion-main-menu > ul > li,
.rtl .fusion-header-v4 .fusion-main-menu > ul > li,
.rtl .fusion-header-v5 .fusion-main-menu > ul > li,
.rtl .fusion-header-v7 .fusion-main-menu > ul > li {
  padding-left: var(--nav_padding-no-zero, var(--nav_padding));
}
.rtl .fusion-megamenu-wrapper .fusion-megamenu-submenu:last-child {
  border-color: var(--menu_sub_sep_color);
}
.rtl .fusion-mobile-nav-holder .fusion-selector-down {
  line-height: calc(var(--mobile_menu_nav_height) - 2px);
  height: calc(var(--mobile_menu_nav_height) - 2px);
  border-color: var(--mobile_menu_border_color);
}
.rtl .fusion-selector-down:before {
  color: var(--mobile_menu_toggle_color);
}
.fusion-is-sticky .fusion-main-menu > ul > li > a:hover > .fusion-megamenu-icon,
.fusion-is-sticky .fusion-main-menu .current_page_item > a > .fusion-megamenu-icon,
.fusion-is-sticky .fusion-main-menu .current-menu-item > a > .fusion-megamenu-icon,
.fusion-is-sticky .fusion-main-menu .current-menu-parent > a > .fusion-megamenu-icon,
.fusion-is-sticky .fusion-main-menu .current-menu-ancestor > a > .fusion-megamenu-icon {
  color: var(--menu_icon_hover_color);
}
.fusion-top-header.fusion-sticly-header:not(.fusion-header-v6) .avada-menu-highlight-style-arrow .fusion-is-sticky .fusion-arrow-svg svg path {
  stroke: transparent;
}
.avada-menu-highlight-style-bottombar.fusion-top-header:not(.fusion-header-layout-v6) .fusion-main-menu > ul > li > .fusion-bottombar-highlight:after {
  border-top: var(--nav_highlight_border) solid var(--menu_hover_first_color);
}
.avada-menu-highlight-style-bottombar.fusion-top-header:not(.fusion-header-layout-v6) .fusion-main-menu > ul > li > .fusion-bottombar-highlight.fusion-flex-column:after {
  margin-top: var(--menu_icon_size);
}
.fusion-contact-info {
  line-height: var(--sec_menu_lh);
}
.side-header.menu-text-align-right:not(.avada-menu-icon-position-left) .fusion-main-menu > ul > li > a.fusion-flex-link,
.side-header.menu-text-align-right:not(.avada-menu-icon-position-right) .fusion-main-menu > ul > li > a.fusion-flex-link {
  -ms-flex-align: end;
      align-items: flex-end;
}
.side-header.menu-text-align-right:not(.avada-menu-icon-position-left).rtl .fusion-main-menu > ul > li > a.fusion-flex-link,
.side-header.menu-text-align-right:not(.avada-menu-icon-position-right).rtl .fusion-main-menu > ul > li > a.fusion-flex-link {
  -ms-flex-align: start;
      align-items: flex-start;
}
.side-header.menu-text-align-left:not(.avada-menu-icon-position-left) .fusion-main-menu > ul > li > a.fusion-flex-link,
.side-header.menu-text-align-left:not(.avada-menu-icon-position-right) .fusion-main-menu > ul > li > a.fusion-flex-link {
  -ms-flex-align: start;
      align-items: flex-start;
}
.side-header.menu-text-align-left:not(.avada-menu-icon-position-left).rtl .fusion-main-menu > ul > li > a.fusion-flex-link,
.side-header.menu-text-align-left:not(.avada-menu-icon-position-right).rtl .fusion-main-menu > ul > li > a.fusion-flex-link {
  -ms-flex-align: end;
      align-items: flex-end;
}
html.avada-header-color-not-opaque.no-overflow-y .fusion-header-v1 .fusion-header,
html.avada-header-color-not-opaque.no-overflow-y .fusion-header-v2 .fusion-header,
html.avada-header-color-not-opaque.no-overflow-y .fusion-header-v3 .fusion-header,
html.avada-header-color-not-opaque.no-overflow-y .fusion-sticky-menu-only .fusion-secondary-main-menu {
  padding-right: 39px;
}
.avada-menu-highlight-style-background:not(.fusion-header-layout-v6) .fusion-main-menu > ul > li:hover > a,
.avada-menu-highlight-style-background:not(.fusion-header-layout-v6) .fusion-main-menu > ul > li:hover > a .fusion-menu-description,
.avada-menu-highlight-style-background:not(.fusion-header-layout-v6) .fusion-is-sticky .fusion-main-menu > ul > li:hover > a,
.avada-menu-highlight-style-background:not(.fusion-header-layout-v6) .fusion-is-sticky .fusion-main-menu > ul > li:hover > a .fusion-menu-description {
  color: var(--menu_hover_first_color);
}
/*# sourceMappingURL=menu.css.map */