.fusion-button-default,
.wpcf7-submit,
.comment-form .fusion-button-default,
.single_add_to_cart_button,
.comment-respond .submit {
  background: var(--primary_color);
  border-color: var(--primary_color);
  color: #fff;
}
/*# sourceMappingURL=no-fb.css.map */