.avada-has-pagetitle-100-width.layout-wide-mode .fusion-page-title-row {
  max-width: 100%;
}
.fusion-page-title-bar {
  height: var(--page_title_height);
  background-image: var(--page_title_bg);
  background-color: var(--page_title_bg_color);
  border-color: var(--page_title_border_color);
  background-size: auto;
}
.fusion-page-title-bar .fusion-page-title-row h1 {
  font-size: var(--page_title_font_size);
  line-height: var(--page_title_line_height);
}
.fusion-page-title-bar h1 {
  color: var(--page_title_color);
}
.fusion-page-title-bar h3 {
  font-size: var(--page_title_subheader_font_size);
  line-height: calc(var(--page_title_subheader_font_size) + 12px);
  color: var(--page_title_subheader_color);
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .fusion-page-title-bar {
    background-image: var(--page_title_bg_retina, var(--page_title_bg));
    background-size: cover;
  }
}
.avada-has-pagetitle-bg-full .fusion-page-title-bar {
  background-size: cover;
}
.fusion-page-title-bar .fusion-breadcrumbs {
  font-size: var(--breadcrumbs_font_size);
  color: var(--breadcrumbs_text_color);
}
.fusion-page-title-bar .fusion-breadcrumbs li,
.fusion-page-title-bar .fusion-breadcrumbs li a {
  font-size: var(--breadcrumbs_font_size);
}
.fusion-page-title-bar .fusion-breadcrumbs a {
  color: var(--breadcrumbs_text_color);
}
.fusion-page-title-bar .fusion-breadcrumbs a:hover {
  color: var(--breadcrumbs_text_hover_color);
}
.avada-has-pagetitle-bg-parallax .fusion-page-title-bar {
  background-attachment: fixed;
  background-position: top center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .avada-has-pagetitlebar-retina-bg-image .fusion-page-title-bar {
    background-image: var(--page_title_bg_retina);
    background-size: cover;
  }
}
.avada-has-titlebar-content_only.fusion-body .fusion-page-title-bar {
  background: none;
  border: none;
}
/*# sourceMappingURL=page-title-bar.css.map */