.fusion-portfolio-content-wrapper .fusion-portfolio-content {
  text-align: var(--portfolio_archive_text_alignment);
}
.fusion-portfolio-layout-masonry {
  margin: calc((var(--portfolio_archive_column_spacing)) / -2);
}
.fusion-portfolio-layout-masonry .fusion-portfolio-content {
  padding: var(--portfolio_archive_text_layout-padding);
}
article.fusion-portfolio-post.post.fusion-col-spacing {
  padding: calc((var(--portfolio_archive_column_spacing)) / 2);
}
.fusion-portfolio-boxed .fusion-portfolio-content {
  padding-top: var(--portfolio_archive_layout_padding-top);
  padding-bottom: var(--portfolio_archive_layout_padding-bottom);
  padding-left: var(--portfolio_archive_layout_padding-left);
  padding-right: var(--portfolio_archive_layout_padding-right);
}
.fusion-load-more-button.fusion-portfolio-button {
  background-color: var(--portfolio_load_more_posts_button_bg_color);
  color: var(--portfolio_load_more_posts_button_bg_color-readable-color);
}
.fusion-load-more-button.fusion-portfolio-button:hover {
  background-color: var(--portfolio_load_more_posts_button_bg_color-8a);
  color: var(--portfolio_load_more_posts_button_bg_color-readable-color);
}
.fusion-load-more-button.fusion-portfolio-button .fusion-portfolio-archive {
  background-color: var(--portfolio_archive_load_more_posts_button_bg_color);
  color: var(--portfolio_archive_load_more_posts_button_bg_color-readable-color);
}
.fusion-load-more-button.fusion-portfolio-button .fusion-portfolio-archive:hover {
  background-color: var(--portfolio_archive_load_more_posts_button_bg_color-8a);
  color: var(--portfolio_archive_load_more_posts_button_bg_color-readable-color);
}
.fusion-portfolio-content .fusion-portfolio-meta {
  font-size: var(--portfolio_meta_font_size);
}
/*# sourceMappingURL=portfolio.css.map */