.avada-has-rev-slider-styles .rev_slider_wrapper {
  position: relative;
}
html:not(.avada-header-color-not-opaque) .avada-has-rev-slider-styles .rev_slider_wrapper .shadow-left {
  position: absolute;
  pointer-events: none;
  background-image: var(--avada-rev-image-shadow-top);
  background-repeat: no-repeat;
  background-position: top center;
  height: 42px;
  width: 100%;
  top: -1px;
  z-index: 99;
}
.avada-has-rev-slider-styles .rev_slider_wrapper .shadow-right {
  position: absolute;
  pointer-events: none;
  background-image: var(--avada-rev-image-shadow-bottom);
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 32px;
  width: 100%;
  bottom: 0;
  z-index: 99;
}
.avada-has-rev-slider-styles .rev_slider_wrapper .rev_slider .tp-leftarrow.tparrows,
.avada-has-rev-slider-styles .rev_slider_wrapper .rev_slider .tp-rightarrow.tparrows {
  opacity: 0.8 !important;
  position: absolute;
  top: 50% !important;
  margin-top: -31px !important;
  width: 63px !important;
  height: 63px !important;
  background: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 0;
  display: block;
  z-index: 100;
}
.avada-has-rev-slider-styles .rev_slider_wrapper .rev_slider .tp-leftarrow.tparrows:before,
.avada-has-rev-slider-styles .rev_slider_wrapper .rev_slider .tp-rightarrow.tparrows:before {
  position: absolute;
  padding: 0;
  width: 100%;
  line-height: 63px;
  text-align: center;
  font-size: 25px;
  font-family: "icomoon";
  -webkit-font-smoothing: antialiased;
}
.avada-has-rev-slider-styles .rev_slider_wrapper .rev_slider .tp-leftarrow.tparrows:hover,
.avada-has-rev-slider-styles .rev_slider_wrapper .rev_slider .tp-rightarrow.tparrows:hover {
  opacity: 1 !important;
}
.avada-has-rev-slider-styles .rev_slider_wrapper .rev_slider .tp-leftarrow.tparrows.hidearrows,
.avada-has-rev-slider-styles .rev_slider_wrapper .rev_slider .tp-rightarrow.tparrows.hidearrows {
  opacity: 0;
}
.avada-has-rev-slider-styles .rev_slider_wrapper .rev_slider .tp-leftarrow.tparrows.hebe:before,
.avada-has-rev-slider-styles .rev_slider_wrapper .rev_slider .tp-rightarrow.tparrows.hebe:before {
  position: relative;
  width: auto;
}
.avada-has-rev-slider-styles .rev_slider_wrapper .rev_slider .tp-leftarrow.tparrows.zeus,
.avada-has-rev-slider-styles .rev_slider_wrapper .rev_slider .tp-rightarrow.tparrows.zeus {
  min-width: 63px;
  min-height: 63px;
}
.avada-has-rev-slider-styles .rev_slider_wrapper .rev_slider .tp-leftarrow.tparrows.zeus .tp-title-wrap,
.avada-has-rev-slider-styles .rev_slider_wrapper .rev_slider .tp-rightarrow.tparrows.zeus .tp-title-wrap {
  border-radius: 0;
}
.avada-has-rev-slider-styles .rev_slider_wrapper .rev_slider .tp-leftarrow.tparrows.metis,
.avada-has-rev-slider-styles .rev_slider_wrapper .rev_slider .tp-rightarrow.tparrows.metis {
  padding: 0;
}
.avada-has-rev-slider-styles .rev_slider_wrapper .rev_slider .tp-leftarrow.tparrows {
  background-position: 19px 19px;
  left: 0;
  margin-left: 0;
}
.avada-has-rev-slider-styles .rev_slider_wrapper .rev_slider .tp-leftarrow.tparrows:before {
  content: "\e61e";
  margin-left: -2px;
}
.avada-has-rev-slider-styles .rev_slider_wrapper .rev_slider .tp-rightarrow.tparrows {
  left: auto;
  background-position: 29px 19px;
  right: 0;
  margin-left: 0;
}
.avada-has-rev-slider-styles .rev_slider_wrapper .rev_slider .tp-rightarrow.tparrows:before {
  content: "\e620";
  margin-left: -1px;
}
.avada-has-rev-slider-styles .rev_slider_wrapper .rev_slider .hades .tp-arr-allwrapper {
  width: 63px;
  height: 63px;
}
.avada-has-rev-slider-styles .avada-skin-rev {
  border-top: 1px solid #d2d3d4;
  border-bottom: 1px solid #d2d3d4;
  box-sizing: content-box;
}
.avada-has-rev-slider-styles .tparrows {
  border-radius: 0;
}
.avada-has-rev-slider-styles .tp-bullets .bullet.last {
  clear: none;
}
/*# sourceMappingURL=revslider.css.map */