.fusion-live-search .fusion-search-results {
  max-height: var(--live_search_results_height);
}
.search #posts-container .fusion-blog-layout-grid,
.search-results #posts-container .fusion-blog-layout-grid {
  margin-top: calc((var(--search_grid_column_spacing)) / -2);
  margin-right: calc((var(--search_grid_column_spacing)) / -2);
  margin-bottom: 0;
  margin-left: calc((var(--search_grid_column_spacing)) / -2);
}
.search #posts-container .fusion-blog-layout-grid .fusion-post-grid,
.search-results #posts-container .fusion-blog-layout-grid .fusion-post-grid {
  padding: calc((var(--search_grid_column_spacing)) / 2);
}
.fusion-main-menu-search-overlay .fusion-overlay-search .fusion-search-spacer {
  width: calc((var(--form_input_height)) * 0.4 );
}
.fusion-main-menu-search-overlay .fusion-overlay-search .fusion-close-search {
  width: calc((var(--form_input_height)) * 0.7 );
  height: calc((var(--form_input_height)) * 0.7 );
  width: var(--form_text_size);
  height: var(--form_text_size);
}
.fusion-main-menu-search-overlay .fusion-overlay-search .fusion-close-search:before,
.fusion-main-menu-search-overlay .fusion-overlay-search .fusion-close-search:after {
  background-color: var(--nav_typography-color);
}
.fusion-main-menu-search-overlay .fusion-overlay-search .fusion-close-search:hover:before,
.fusion-main-menu-search-overlay .fusion-overlay-search .fusion-close-search:hover:after {
  background-color: var(--menu_hover_first_color);
}
/*# sourceMappingURL=search.css.map */