.fusion-body .fusion-flexslider .flex-direction-nav a,
.fusion-body .fusion-flexslider.flexslider-posts .flex-direction-nav a,
.fusion-body .fusion-flexslider.flexslider-posts-with-excerpt .flex-direction-nav a,
.fusion-body .fusion-flexslider.flexslider-attachments .flex-direction-nav a,
.fusion-body .fusion-slider-sc .flex-direction-nav a,
.fusion-body .woocommerce-product-gallery .flex-direction-nav a {
  width: var(--slider_nav_box_dimensions-width);
  height: var(--slider_nav_box_dimensions-height);
  line-height: var(--slider_nav_box_dimensions-height);
  font-size: var(--slider_arrow_size);
}
.fusion-body .fusion-carousel .fusion-carousel-nav .fusion-nav-prev,
.fusion-body .fusion-carousel .fusion-carousel-nav .fusion-nav-next {
  width: var(--slider_nav_box_dimensions-width);
  height: var(--slider_nav_box_dimensions-height);
  margin-top: calc((var(--slider_nav_box_dimensions-height)) / -2);
}
.fusion-body .fusion-carousel .fusion-carousel-nav .fusion-nav-prev:before,
.fusion-body .fusion-carousel .fusion-carousel-nav .fusion-nav-next:before {
  line-height: var(--slider_nav_box_dimensions-height);
  font-size: var(--slider_arrow_size);
}
/*# sourceMappingURL=slideshows.css.map */