.fusion-social-links-header .fusion-social-networks a {
  font-size: var(--header_social_links_font_size);
}
.fusion-social-links-header .fusion-social-networks a.custom img {
  max-height: var(--header_social_links_font_size);
}
.fusion-social-links-header .fusion-social-networks.boxed-icons .fusion-social-network-icon {
  color: var(--header_social_links_icon_color);
}
.fusion-social-links-header .fusion-social-networks.boxed-icons .fusion-social-network-icon:not(.custom) {
  background-color: var(--header_social_links_box_color);
  border-color: var(--header_social_links_box_color);
  border-radius: var(--header_social_links_boxed_radius);
}
.fusion-social-links-header .fusion-social-networks.boxed-icons a {
  padding: var(--header_social_links_boxed_padding);
  width: calc(var(--header_social_links_font_size) + (2 * (var(--header_social_links_boxed_padding))) + 2px);
}
.fusion-social-links-header .fusion-social-networks.boxed-icons a.custom {
  top: -var(--header_social_links_boxed_padding);
}
.fusion-social-links-header .fusion-social-networks.boxed-icons a.custom img {
  max-height: calc(var(--header_social_links_font_size) + (2 * (var(--header_social_links_boxed_padding))) + 2px);
}
.fusion-social-links-header .fusion-social-networks.boxed-icons a img {
  max-height: calc(var(--header_social_links_font_size) + (2 * (var(--header_social_links_boxed_padding))) + 2px);
}
.fusion-social-links-header .fusion-social-networks .fusion-social-network-icon {
  color: var(--header_social_links_icon_color);
}
.fusion-social-links-footer .fusion-social-networks a {
  font-size: var(--footer_social_links_font_size);
}
.fusion-social-links-footer .fusion-social-networks a.custom {
  max-height: var(--footer_social_links_boxed_padding);
}
.fusion-social-links-footer .fusion-social-networks a.custom img {
  max-height: var(--footer_social_links_font_size);
}
.fusion-social-links-footer .fusion-social-networks.boxed-icons a {
  width: calc(var(--footer_social_links_font_size) + (2 * (var(--footer_social_links_boxed_padding))) + 2px);
  padding: var(--footer_social_links_boxed_padding);
}
.fusion-social-links-footer .fusion-social-networks.boxed-icons a.custom {
  top: calc((var(--footer_social_links_boxed_padding)) * -1);
}
.fusion-social-links-footer .fusion-social-networks.boxed-icons a.custom img {
  max-height: calc(var(--footer_social_links_font_size) + (2 * (var(--footer_social_links_boxed_padding))) + 2px);
}
.fusion-social-links-footer .fusion-social-networks.boxed-icons .fusion-social-network-icon {
  color: var(--footer_social_links_icon_color);
}
.fusion-social-links-footer .fusion-social-networks.boxed-icons .fusion-social-network-icon:not(.custom) {
  background-color: var(--footer_social_links_box_color);
  border-color: var(--footer_social_links_box_color);
  border-radius: var(--footer_social_links_boxed_radius);
}
.fusion-social-links-footer .fusion-social-networks .fusion-social-network-icon {
  color: var(--footer_social_links_icon_color);
}
.fusion-social-networks.boxed-icons .fusion-social-network-icon:not(.custom) {
  background-color: var(--footer_social_links_box_color);
  border-color: var(--footer_social_links_box_color);
}
.fusion-single-sharing-box {
  background-color: var(--social_bg_color);
  padding: var(--social_bg_color-0-transparent, 20px);
}
.fusion-sharing-box .fusion-social-networks a {
  font-size: var(--sharing_social_links_font_size);
}
.fusion-sharing-box .fusion-social-networks.boxed-icons .fusion-social-network-icon:not(.custom) {
  border-radius: var(--sharing_social_links_boxed_radius);
}
.fusion-sharing-box .fusion-social-networks.boxed-icons a {
  padding: var(--sharing_social_links_boxed_padding);
}
.fusion-sharing-box.share-box h4 {
  color: var(--sharing_box_tagline_text_color, var(--h4_typography-color));
}
/*# sourceMappingURL=social-media.css.map */