.avada-body-typography-elements-font-family {
  font-family: var(--body_typography-font-family);
  font-weight: var(--body_typography-font-weight);
  letter-spacing: var(--body_typography-letter-spacing);
  font-style: var(--body_typography-font-style, normal);
}
.avada-body-typography-elements-font-size {
  font-size: var(--body_typography-font-size);
}
.avada-body-typography-elements-line-height {
  line-height: var(--body_typography-line-height);
}
.avada-body-typography-elements-color {
  color: var(--body_typography-color);
}
.meta .fusion-date,
.post-content blockquote,
.review blockquote q {
  font-style: italic;
}
body a,
body a:before,
body a:after,
.single-navigation a[rel="prev"]:before,
.single-navigation a[rel="next"]:after,
.project-content .project-info .project-info-box a,
.fusion-content-widget-area .widget li a,
.fusion-content-widget-area .widget .recentcomments a,
.fusion-content-widget-area .widget_categories li,
#main .post h2 a,
.about-author .title a,
.shop_attributes tr th,
.fusion-rollover a,
.fusion-load-more-button,
.pagination .pagination-prev:before,
.pagination .pagination-next:after,
.fusion-hide-pagination-text .pagination-prev:before,
.fusion-hide-pagination-text .pagination-next:after,
.fusion-blog-pagination .pagination .pagination-prev:before,
.fusion-blog-pagination .pagination .pagination-next:after {
  color: var(--link_color);
}
.avada-h1-typography-elements-font-family {
  font-family: var(--h1_typography-font-family);
  font-weight: var(--h1_typography-font-weight);
  line-height: var(--h1_typography-line-height);
  letter-spacing: var(--h1_typography-letter-spacing);
  font-style: var(--h1_typography-font-style, normal);
}
.avada-h1-typography-elements-font-size {
  font-size: var(--h1_typography-font-size);
}
.avada-h1-typography-elements-color {
  color: var(--h1_typography-color);
}
h1,
.fusion-title-size-one {
  margin-top: var(--h1_typography-margin-top);
  margin-bottom: var(--h1_typography-margin-bottom);
}
.avada-h2-typography-elements-font-family {
  font-family: var(--h2_typography-font-family);
  font-weight: var(--h2_typography-font-weight);
  line-height: var(--h2_typography-line-height);
  letter-spacing: var(--h2_typography-letter-spacing);
  font-style: var(--h2_typography-font-style, normal);
}
.avada-h2-typography-elements-font-size {
  font-size: var(--h2_typography-font-size);
}
.avada-h2-typography-elements-color {
  color: var(--h2_typography-color);
}
h2,
.fusion-title-size-two {
  margin-top: var(--h2_typography-margin-top);
  margin-bottom: var(--h2_typography-margin-bottom);
}
.avada-h3-typography-elements-font-family {
  font-family: var(--h3_typography-font-family);
  font-weight: var(--h3_typography-font-weight);
  line-height: var(--h3_typography-line-height);
  letter-spacing: var(--h3_typography-letter-spacing);
  font-style: var(--h3_typography-font-style, normal);
}
.avada-h3-typography-elements-font-size {
  font-size: var(--h3_typography-font-size);
}
.avada-h3-typography-elements-color {
  color: var(--h3_typography-color);
}
h3,
.fusion-title-size-three {
  margin-top: var(--h3_typography-margin-top);
  margin-bottom: var(--h3_typography-margin-bottom);
}
.avada-h4-typography-elements-font-family {
  font-family: var(--h4_typography-font-family);
  font-weight: var(--h4_typography-font-weight);
  line-height: var(--h4_typography-line-height);
  letter-spacing: var(--h4_typography-letter-spacing);
  font-style: var(--h4_typography-font-style, normal);
}
.avada-h4-typography-elements-line-height {
  line-height: var(--h4_typography-line-height);
}
.avada-h4-typography-elements-font-size {
  font-size: var(--h4_typography-font-size);
}
.avada-h4-typography-elements-color {
  color: var(--h4_typography-color);
}
h4,
.fusion-title-size-four {
  margin-top: var(--h4_typography-margin-top);
  margin-bottom: var(--h4_typography-margin-bottom);
}
.avada-h5-typography-elements-font-family {
  font-family: var(--h5_typography-font-family);
  font-weight: var(--h5_typography-font-weight);
  line-height: var(--h5_typography-line-height);
  letter-spacing: var(--h5_typography-letter-spacing);
  font-style: var(--h5_typography-font-style, normal);
}
.avada-h5-typography-elements-font-size {
  font-size: var(--h5_typography-font-size);
}
.avada-h5-typography-elements-color {
  color: var(--h5_typography-color);
}
h5,
.fusion-title-size-five {
  margin-top: var(--h5_typography-margin-top);
  margin-bottom: var(--h5_typography-margin-bottom);
}
.avada-h6-typography-elements-font-family {
  font-family: var(--h6_typography-font-family);
  font-weight: var(--h6_typography-font-weight);
  line-height: var(--h6_typography-line-height);
  letter-spacing: var(--h6_typography-letter-spacing);
  font-style: var(--h6_typography-font-style, normal);
}
.avada-h6-typography-elements-font-size {
  font-size: var(--h6_typography-font-size);
}
.avada-h6-typography-elements-color {
  color: var(--h6_typography-color);
}
h6,
.fusion-title-size-six {
  margin-top: var(--h6_typography-margin-top);
  margin-bottom: var(--h6_typography-margin-bottom);
}
.avada-post-title-elements-font-family {
  font-family: var(--post_title_typography-font-family);
  font-weight: var(--post_title_typography-font-weight);
  line-height: var(--post_title_typography-line-height);
  letter-spacing: var(--post_title_typography-letter-spacing);
  font-style: var(--post_title_typography-font-style, normal);
}
.avada-post-title-elements-font-size {
  font-size: var(--post_title_typography-font-size);
}
.avada-post-title-elements-color {
  color: var(--post_title_typography-color);
}
.avada-post-title-extras-elements-font-family {
  font-family: var(--post_titles_extras_typography-font-family);
  font-weight: var(--post_titles_extras_typography-font-weight);
  line-height: var(--post_titles_extras_typography-line-height);
  letter-spacing: var(--post_titles_extras_typography-letter-spacing);
  font-style: var(--post_titles_extras_typography-font-style, normal);
}
.avada-post-title-extras-elements-font-size {
  font-size: var(--post_titles_extras_typography-font-size);
}
.avada-post-title-extras-elements-color {
  color: var(--post_titles_extras_typography-color);
}
/*# sourceMappingURL=typography.css.map */