#lang_sel_click a.lang_sel_sel,
#lang_sel_click ul ul a,
#lang_sel_click ul ul a:visited,
#lang_sel_click a,
#lang_sel_click a:visited {
  background-color: var(--form_bg_color);
  border-width: var(--form_border_width);
  border-color: var(--form_border_color);
  border-radius: var(--form_border_radius);
}
.side-header .fusion-main-menu > ul > li > a .iclflag {
  margin-top: 14px !important;
}
/*# sourceMappingURL=wpml.css.map */