.avada-tax-meta-table th {
  line-height: 1.3;
  padding: 20px 10px 20px 0;
  text-align: left;
  vertical-align: top;
  width: 44.5%;
  box-sizing: border-box;
}
table.avada-tax-meta-table {
	width: 100%;
  border-collapse: collapse;
  margin: 5px 0 0 0;
}
.form-field.avada-tax-meta-field .avada-tax-page-tb-preview {
  width: 260px;
  display: block;
}
.form-field.avada-tax-meta-field .avada-tax-radio-label {
  margin: 0 15px 5px 0;
}
.form-field.avada-tax-meta-field select, .form-field.avada-tax-meta-field input[type="text"] {
  width: 70%;
}
.avada-tax-image-preview {
  display: block;
}
.avada-tax-color.color-picker.wp-color-picker {
  width: auto !important;
}
.avada-tax-meta-table .avada-tax-meta-field, .form-field.avada-tax-meta-field {
  background: #ffffff;
  border: 1px solid #fafafa;
  border-right: 30px solid #fff;
  border-left: 30px solid #fff;
  padding: 0 15px;
  margin: 0 0 -1px 0;
  box-sizing: border-box;
}
.avada-tax-meta-table .avada-tax-meta-field input[type="text"], .avada-tax-meta-field .select2 .selection .select2-selection, .form-field.avada-tax-meta-field input[type="text"], .avada-tax-meta-field .select2-container .select2-choice{
  background: #f4f2f2;
  box-shadow: none;
  height: 34px;
  padding: 5px 15px;
  border-color: #dddddd;
  width:100% !important;
  border-radius: 0;
  line-height: 22px;
  box-sizing: border-box;
  margin: 0;
}
.form-field input[type="text"], .form-field textarea{
  max-width: 100%;
}
.avada-tax-meta-field .select2 .selection .select2-selection .select2-selection__rendered{
  line-height: normal;
  padding:2px 0;
}
.avada-tax-meta-field .select2 .selection .select2-selection .select2-selection__arrow b, .avada-tax-meta-field .select2 .selection .select2-selection .select2-selection__clear, .avada-tax-meta-field .select2-container .select2-choice .select2-arrow b{
  display: none;
}
.avada-tax-meta-field .select2 .selection .select2-selection .select2-selection__arrow:before, .avada-tax-meta-field .select2-container .select2-choice .select2-arrow:before{
  content: "\f347";
  font-family: dashicons;
  font-size: 12px;
  color: #777;
}
.avada-tax-meta-field .select2 .selection .select2-selection .select2-selection__arrow, .avada-tax-meta-field .select2-container .select2-choice .select2-arrow{
  right: 1px;
  height: 32px;
  border-left: 1px solid #e8e6e6;
  width: 30px;
  text-align: center;
  line-height: 34px;
  background: #f4f2f2;
}
.avada-tax-meta-field .avada-tax-img-field input[type="button"]{
  background: #ffffff;
  border: 1px solid #c7c5c5;
  box-shadow: none;
  border-radius: 0;
  font-size: 13px;
  color: #333333;
  width: 105px !important;
  padding: 0;
  height: 34px;
  float: right;
  box-sizing: border-box;
}
.avada-tax-meta-field .avada-tax-img-field input.avada-tax-image-url{
  width: calc(100% - 112px) !important;
  float: left;
}
.avada-tax-meta-field .select2-container{
  width: 100% !important;
}
.avada-tax-meta-field .avada-buttonset, .avada-tax-img-field{
  width: 100%;
  float: left;
}
.avada-tax-meta-field .wp-picker-container .wp-color-result{
  min-width: 108px;
  border-radius: 0;
  height: 32px;
  box-shadow: none;
}
.select2-selection, .select2-selection__rendered{
  outline: 0;
}
.avada-tax-meta-field .wp-picker-container .wp-color-result:after{
  font-size: 13px;
  line-height: 32px;
}
.avada-tax-meta-field .wp-picker-container .wp-color-result span, .avada-tax-meta-field .wp-picker-container .iris-strip{
  border-radius:0 !important;
}
.avada-tax-meta-field .wp-picker-container .wp-picker-input-wrap .button{
  border-radius: 0;
  background: #f4f2f2;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 12px;
  height: 34px;
  width: 60px;
  box-sizing: border-box;
}
.avada-tax-meta-field .avada-buttonset .ui-buttonset .ui-button{
  background: #f5f5f5;
  border: 1px solid #cccccc;
  box-shadow: none;
  border-radius: 0;
  padding: 8px 14px;
  height:34px;
  margin: 0 -1px 5px 0;
  float: left;
  font-size: 13px;
  transform: inherit;
  color: #333;
  text-decoration: none;
  line-height: normal;
  box-sizing: border-box;
}
.avada-tax-meta-field .avada-buttonset .ui-buttonset .ui-button.ui-state-active{
  background-color: #00a0d2;
  color: #ffffff;
  border-color:rgba(0, 0, 0, 0.1);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.avada-tax-meta-table .avada-tax-meta-field th, .avada-tax-meta-table .avada-tax-meta-field td {
  padding:14px 0;
}
.avada-tax-meta-table tbody tr:nth-child(2) td{
  padding: 8px 0;
  box-sizing: border-box;
}
.avada-tax-meta-table .avada-tax-meta-field td{
  padding-left: 25px;
  box-sizing: border-box;
}
.avada-tax-meta-table .avada-tax-meta-field th h3, .avada-tax-meta-field h3{
  margin: 0;
  font-size: 14px;
}
div.avada-tax-meta-field h3{
  margin: 8px 0;
}
div.form-field.avada-tax-meta-field {
  border-left: none;
  border-right: none;
}
div.form-field.avada-tax-meta-field:after {
  content: '';
  width: 100%;
  height: 1px;
  background: #eee;
  float: left;
  margin-top: 14px;
}
div.form-field.avada-tax-meta-field.avada-tax-header:after{
  margin-top: 0;
}
div.form-field.avada-tax-meta-field {
  border-left: none;
  border-right: none;
  padding: 0 30px;
  border: none;
  margin: 0;
  width: 100%;
  float: left;
  box-sizing: border-box;
}
div.form-field.avada-tax-meta-field label{
  margin-top: 14px;
  width:100%;
  margin-bottom: 0px;
}
div.form-field.avada-tax-meta-field p{
  margin-bottom: 14px;
  display: inline-block;
  margin-top: 0px;
}
div.avada-tax-meta-field input#page_title_mobile_height {
  margin-bottom: 18px;
}
tr.form-field.avada-tax-meta-field.avada-tax-heading.avada-tax-heading-edit h3 {
  margin: 0px;
  font-size: 14px;
}
.form-field.avada-tax-meta-field label, .avada-tax-meta-table .avada-tax-meta-field th label {
  color: #222222;
  font-size: 13px;
  margin: 10px 0 3px 0;
  font-weight: normal;
}
.form-field.avada-tax-meta-field p, .avada-tax-meta-table .avada-tax-meta-field td p{
  margin-top: 8px;
  color: #939393;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
}
tr.avada-tax-meta-spacer {
  height: 50px;
}
input#submit {
  margin-top: 20px;
}
.avada-tax-meta-field .wp-picker-container input[type=text].wp-color-picker {
  width: 150px !important;
  height: 34px;
  font-size: 12px;
  padding: 0;
  text-align: center;
}
.avada-tax-meta-field .wp-picker-holder .iris-slider .ui-slider-handle {
  width: 30px;
  height: 14px;
  border: 4px solid #fff !important;
  border-radius: 0 !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}
.avada-tax-meta-field .wp-picker-holder .iris-picker .iris-slider {
  margin-left: 10px !important;
  width: 25px !important;
}
.avada-tax-meta-field .iris-picker {
  min-width: 360px;
}
.avada-tax-meta-field .iris-picker .iris-square {
  width: 270px !important;
  height: 198px !important;
  border-radius: 0;
}
.avada-tax-meta-field .iris-picker .iris-palette {
  width: 19px !important;
  height: 19px !important;
  border: 1px solid #ddd;
  border-radius: 0;
  box-shadow: none;
  margin-top: 5px;
  box-sizing: border-box;
}
.avada-tax-meta-field .iris-picker .iris-palette-container {
  bottom: 6px;
}
.avada-tax-meta-table tbody tr.avada-tax-meta-spacer{
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
}
.avada-tax-meta-table tbody tr:nth-child(2){
  border-top: none;
}
div.avada-tax-meta-field .wp-picker-container .wp-color-result{
  margin-bottom: 0;
}
div.form-field.avada-tax-meta-field.avada-tax-heading {
  margin-top: 50px;
}
.avada-tax-meta-field .toggle-indicator {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 100%;
  text-align: center;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid transparent;
}
div.form-field.avada-tax-meta-field.avada-tax-header{
  padding: 0;
  position: relative;
  cursor: pointer;
}
div.form-field.avada-tax-meta-field p{
  margin: 5px 0 8px 0;
}
div.form-field.avada-tax-meta-field label{
  padding: 0;
  margin-top: 10px;
}
.form-field.avada-tax-meta-field .avada-tax-meta-header{
  padding: 1px 0;
  position: relative;
  margin: 0 0 0 -19px;
  width: calc(100% - -40px);
  cursor: pointer;
}

.avada-tax-meta-header:after {
  width: calc(100% - -20px);
  height: 1px;
  position: absolute;
  left: 0;
  background: #fafafa;
  content: '';
  margin: 0px 0 0 -11px;
  top: 28px;
}
.form-field.avada-tax-meta-field .avada-tax-meta-header .toggle-indicator{
  top: 1px;
  right: 0;
}
div.form-field.avada-tax-meta-field.avada-tax-header h3{
  padding:0.5px 12px;
}
span.avada-tax-meta-handle.toggle-indicator:before, span.avada-tax-meta-handle.close.toggle-indicator:before {
  content: "\f142";
  font: 400 17px/1 dashicons;
  margin: 0 1px 0 0;
}

span.avada-tax-meta-handle.close.toggle-indicator:before {
  content: "\f140";
}

.tax-meta-default-reset {
  position: relative;
  overflow: hidden;
}

.tax-meta-default-reset span, .tax-meta-default-reset.checked a {
  position: absolute;
  opacity: 0;
  bottom: -10px;
  transition: none;
}

.tax-meta-default-reset a, .tax-meta-default-reset.checked span {
  position: relative;
  opacity: 1;
  transition: all 200ms ease-in-out;
  bottom: 0;
  box-shadow: none !important;
}

@media all and (max-width:782px) {
  .avada-tax-meta-table .avada-tax-meta-field th, .avada-tax-meta-table .avada-tax-meta-field td {
    width: 100% !important;
    display: inline-block;
  }
  table.avada-tax-meta-table{
    width: 100%;
  }
  .avada-tax-meta-table .avada-tax-meta-field th, .avada-tax-meta-table .avada-tax-meta-field td{
    padding: 0 0 14px 0 !important;
  }
  .form-field.avada-tax-meta-field label, .avada-tax-meta-table .avada-tax-meta-field th label {
    margin: 12px 0 0 0;
    display: inline-block;
  }
  tr.form-field.avada-tax-meta-field.avada-tax-heading.avada-tax-heading-edit h3 {
    margin: 14px 0 0 0;
  }
  div.form-field.avada-tax-meta-field label{
    margin-bottom: 5px;
  }
  div.avada-tax-meta-field .wp-picker-container .wp-color-result{
    margin-bottom: 6px;
  }
}
