body.side-header #wrapper {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
body.side-header.layout-boxed-mode #wrapper {
  margin-left: auto !important;
  margin-right: auto !important;
}
.layout-boxed-mode .side-header-wrapper {
  background-color: transparent;
}
#side-header {
  transition: background-color 0.25s ease-in-out;
  position: static;
  height: auto;
  width: 100% !important;
  padding: 20px 30px !important;
  margin: 0 !important;
  background-color: var(--mobile_header_bg_color);
}
#side-header .side-header-styling-wrapper {
  display: none;
}
#side-header .side-header-wrapper {
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
}
#side-header .header-social,
#side-header .header-v4-content {
  display: none;
}
#side-header .fusion-logo {
  margin: 0 !important;
  float: left;
}
#side-header .side-header-content {
  padding: 0 !important;
}
#side-header.fusion-mobile-menu-design-classic .fusion-logo {
  float: none;
  text-align: center;
}
#side-header.fusion-mobile-menu-design-classic .fusion-main-menu-container .fusion-mobile-nav-holder {
  display: block;
  margin-top: 20px;
}
#side-header.fusion-mobile-menu-design-classic .fusion-main-menu-container .fusion-mobile-sticky-nav-holder {
  display: none;
}
#side-header .fusion-main-menu,
#side-header .side-header-content-1-2,
#side-header .side-header-content-3 {
  display: none;
}
#side-header.fusion-mobile-menu-design-modern .fusion-logo {
  float: left;
  margin: 0;
}
#side-header.fusion-mobile-menu-design-modern .fusion-logo-left {
  float: left;
}
#side-header.fusion-mobile-menu-design-modern .fusion-logo-center {
  float: left;
}
#side-header.fusion-mobile-menu-design-modern .fusion-logo-right {
  float: right;
}
#side-header.fusion-mobile-menu-design-modern .fusion-logo-menu-right .fusion-mobile-menu-icons {
  float: left;
  position: static;
}
#side-header.fusion-mobile-menu-design-modern .fusion-logo-menu-right .fusion-mobile-menu-icons a {
  float: left;
}
#side-header.fusion-mobile-menu-design-modern .fusion-logo-menu-right .fusion-mobile-menu-icons :first-child {
  margin-left: 0;
}
#side-header.fusion-mobile-menu-design-modern .fusion-logo-menu-left .fusion-mobile-menu-icons {
  float: right;
}
#side-header.fusion-mobile-menu-design-modern .fusion-logo-menu-left .fusion-mobile-menu-icons:last-child {
  margin-left: 0;
}
#side-header.fusion-mobile-menu-design-modern .fusion-mobile-menu-icons {
  display: block;
}
#side-header.fusion-mobile-menu-design-modern .fusion-main-menu-container .fusion-mobile-nav-holder,
#side-header.fusion-mobile-menu-design-modern .side-header-wrapper > .fusion-secondary-menu-search {
  padding-top: 20px;
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: -20px;
}
#side-header.fusion-mobile-menu-design-modern .fusion-main-menu-container .fusion-mobile-nav-holder > ul {
  display: block;
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
}
#side-header.fusion-mobile-menu-design-flyout .fusion-logo-left {
  float: left;
}
#side-header.fusion-mobile-menu-design-flyout.fusion-header-has-flyout-menu .fusion-flyout-mobile-menu-icons {
  z-index: 99999;
  position: relative;
  display: -ms-flexbox;
  display: flex;
}
.avada-responsive #side-header.fusion-is-sticky {
  background-color: var(--header_sticky_bg_color);
}
body.side-header #wrapper #side-header.header-shadow .side-header-border:after,
body #wrapper .header-shadow:after {
  position: static;
  height: auto;
  box-shadow: none;
}
body.layout-boxed-mode.side-header-right #side-header {
  position: absolute;
  top: 0;
}
body.layout-boxed-mode.layout-scroll-offset-framed #wrapper #side-header {
  height: auto;
  position: relative;
}
.width-100 .fusion-section-separator-with-offset {
  margin-left: calc((100vw - 100%) / -2) !important;
  margin-right: calc((100vw - 100%) / -2) !important;
}
.fusion-header-has-flyout-menu .fusion-header-has-flyout-menu-content {
  z-index: 99999;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.fusion-is-sticky .fusion-mobile-menu-design-flyout .fusion-header {
  position: fixed;
}
.fusion-mobile-menu-design-flyout .fusion-secondary-header,
.fusion-mobile-menu-design-modern .fusion-secondary-header {
  padding: 0;
}
.fusion-mobile-menu-design-flyout .fusion-secondary-header .fusion-row,
.fusion-mobile-menu-design-modern .fusion-secondary-header .fusion-row {
  padding-left: 0;
  padding-right: 0;
}
.fusion-mobile-menu-design-flyout .fusion-social-links-header,
.fusion-mobile-menu-design-modern .fusion-social-links-header {
  max-width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 8px;
}
.fusion-mobile-menu-design-flyout .fusion-social-links-header a,
.fusion-mobile-menu-design-modern .fusion-social-links-header a {
  margin-right: 20px;
  margin-bottom: 5px;
}
.fusion-mobile-menu-design-flyout .fusion-alignleft,
.fusion-mobile-menu-design-modern .fusion-alignleft {
  border-bottom: 1px solid transparent;
}
.fusion-mobile-menu-design-flyout .fusion-alignleft,
.fusion-mobile-menu-design-modern .fusion-alignleft,
.fusion-mobile-menu-design-flyout .fusion-alignright,
.fusion-mobile-menu-design-modern .fusion-alignright {
  width: 100%;
  float: none;
  display: block;
}
.fusion-mobile-menu-design-flyout .fusion-secondary-menu > ul > li,
.fusion-mobile-menu-design-modern .fusion-secondary-menu > ul > li {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.fusion-mobile-menu-design-flyout .fusion-secondary-menu-cart,
.fusion-mobile-menu-design-modern .fusion-secondary-menu-cart {
  border-right: 0;
}
.fusion-mobile-menu-design-flyout .fusion-secondary-menu-icon,
.fusion-mobile-menu-design-modern .fusion-secondary-menu-icon {
  background-color: transparent;
  padding-left: 10px;
  padding-right: 7px;
  min-width: 100%;
}
.fusion-mobile-menu-design-flyout .fusion-secondary-menu-icon:after,
.fusion-mobile-menu-design-modern .fusion-secondary-menu-icon:after {
  display: none;
}
.fusion-mobile-menu-design-flyout .fusion-header-tagline,
.fusion-mobile-menu-design-modern .fusion-header-tagline {
  margin-top: 10px;
  float: none;
  line-height: 24px;
}
.fusion-body .fusion-mobile-menu-design-flyout .fusion-secondary-header .fusion-alignleft,
.fusion-body .fusion-mobile-menu-design-modern .fusion-secondary-header .fusion-alignleft,
.fusion-body .fusion-mobile-menu-design-flyout .fusion-secondary-header .fusion-alignright,
.fusion-body .fusion-mobile-menu-design-modern .fusion-secondary-header .fusion-alignright {
  text-align: center;
}
.fusion-body .fusion-mobile-menu-design-flyout .fusion-secondary-menu > ul > li,
.fusion-body .fusion-mobile-menu-design-modern .fusion-secondary-menu > ul > li {
  float: none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  #side-header .fusion-mobile-logo,
  .fusion-mobile-logo {
    display: inline-block;
  }
}
.fusion-mobile-menu-design-modern .fusion-secondary-menu .fusion-secondary-menu-icon,
.fusion-mobile-menu-design-flyout .fusion-secondary-menu .fusion-secondary-menu-icon,
.fusion-mobile-menu-design-modern .fusion-secondary-menu .fusion-secondary-menu-icon:hover,
.fusion-mobile-menu-design-flyout .fusion-secondary-menu .fusion-secondary-menu-icon:hover,
.fusion-mobile-menu-design-modern .fusion-secondary-menu-icon:before,
.fusion-mobile-menu-design-flyout .fusion-secondary-menu-icon:before {
  color: var(--snav_color);
}
.side-header-background-color {
  background-color: var(--mobile_header_bg_color);
}
.fusion-body .fusion-header-wrapper .fusion-header,
.fusion-body .fusion-header-wrapper .fusion-secondary-main-menu {
  background-color: var(--mobile_header_bg_color);
}
.avada-mobile-header-color-not-opaque .fusion-body #side-header {
  position: absolute;
  z-index: 10000;
}
.avada-mobile-header-color-not-opaque .layout-boxed-mode.fusion-body #side-header {
  width: 100%;
  max-width: calc(var(--site_width) - var(--side_header_width));
}
.avada-mobile-header-color-not-opaque .layout-wide-mode.fusion-body #side-header {
  left: 0;
  right: 0;
}
/*# sourceMappingURL=max-shbp.css.map */