#wrapper {
  width: auto !important;
  overflow-x: hidden !important;
}
#wrapper .share-box h4 {
  float: none;
  line-height: 20px !important;
  margin-top: 0;
  padding: 0;
}
#wrapper .ei-slider {
  width: 100% !important;
  height: 200px !important;
}
.fusion-columns .fusion-column {
  float: none;
  width: 100% !important;
  margin: 0 0 50px;
  box-sizing: border-box;
}
.footer-area .fusion-columns .fusion-column,
.fusion-sliding-bar-position-bottom .fusion-columns .fusion-column,
.fusion-sliding-bar-position-top .fusion-columns .fusion-column {
  float: left;
  width: 98% !important;
}
.fullwidth-box {
  background-attachment: scroll !important;
}
.fullwidth-box .fullwidth-faded {
  background-attachment: scroll !important;
}
.no-mobile-slidingbar #slidingbar-area,
.no-mobile-slidingbar .fusion-flyout-sliding-bar-toggle,
.no-mobile-totop .to-top-container {
  display: none;
}
.review {
  float: none;
  width: 100%;
}
.copyright,
.social-networks {
  float: none;
  padding: 0 0 15px;
  text-align: center;
}
.copyright:after,
.social-networks:after {
  content: "";
  display: block;
  clear: both;
}
.copyright li,
.social-networks li {
  float: none;
  display: inline-block;
}
.continue {
  display: none;
}
.mobile-button {
  display: block !important;
  float: none;
}
.title {
  margin-top: 0 !important;
  margin-bottom: 20px !important;
}
#content {
  width: 100% !important;
  float: none !important;
  margin-left: 0 !important;
  margin-bottom: 50px;
}
#content.full-width {
  margin-bottom: 0;
}
.sidebar {
  width: 100% !important;
  float: none !important;
  margin-left: 0 !important;
  clear: both;
}
.sidebar .social_links .social li {
  width: auto;
  margin-right: 5px;
}
#comment-input {
  margin-bottom: 0;
}
.widget.facebook_like iframe {
  width: 100% !important;
  max-width: none !important;
}
.pagination {
  margin-top: 40px;
}
.portfolio-one .portfolio-item .image {
  float: none;
  width: auto;
  height: auto;
  margin-bottom: 20px;
}
h5.toggle span.toggle-title {
  width: 80%;
}
.share-box {
  height: auto;
}
.share-box ul {
  float: none;
  overflow: hidden;
  padding: 0 25px 25px;
  margin-top: 0;
}
.share-box .social-networks {
  text-align: left;
}
.project-content .project-description {
  float: none !important;
}
.project-content .fusion-project-description-details {
  margin-bottom: 50px;
}
.project-content .project-description,
.project-content .project-info {
  width: 100% !important;
}
.portfolio-half .flexslider {
  width: 100% !important;
}
.portfolio-half .project-content {
  width: 100% !important;
}
#style_selector {
  display: none;
}
.ls-avada .ls-nav-next,
.ls-avada .ls-nav-prev {
  display: none !important;
}
#footer .social-networks {
  width: 100%;
  margin: 0 auto;
  position: relative;
  left: -11px;
}
.recent-works-items a {
  max-width: 64px;
}
#slidingbar-area .flickr_badge_image img,
.footer-area .flickr_badge_image img {
  max-width: 64px;
  padding: 3px !important;
}
.tab-holder .tabs {
  height: auto !important;
  width: 100% !important;
}
.shortcode-tabs .tab-hold .tabs li {
  width: 100% !important;
}
body .shortcode-tabs .tab-hold .tabs li,
body.dark .sidebar .tab-hold .tabs li {
  border-right: none !important;
}
.error_page .useful_links {
  width: 100%;
  padding-left: 0;
}
.fusion-google-map {
  width: 100% !important;
}
#cloudsCandy {
  height: 40px;
}
#cloudsCandy > path:nth-child(2n+2) {
  opacity: 0;
}
.ltr .fusion-blog-layout-medium-alternate .has-post-thumbnail .fusion-date-and-formats {
  margin-right: 12px;
}
.rtl .fusion-blog-layout-medium-alternate .has-post-thumbnail .fusion-date-and-formats {
  margin-left: 12px;
}
.fusion-blog-layout-medium-alternate .has-post-thumbnail .fusion-post-slideshow {
  max-width: 166px;
}
/*# sourceMappingURL=max-640.css.map */