#content {
  width: 100% !important;
  margin-left: 0 !important;
}
.sidebar {
  width: 100% !important;
  float: none !important;
  margin-left: 0 !important;
  clear: both;
}
#main > .fusion-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/*# sourceMappingURL=max-sh-sbp.css.map */