#bbpress-forums .bbp-topic-title,
#bbpress-forums li.bbp-body ul.forum .bbp-forum-info,
#bbpress-forums li.bbp-body ul.topic .bbp-forum-info,
#bbpress-forums li.bbp-header ul .bbp-forum-info {
  width: 50%;
}
#bbpress-forums li.bbp-header li.bbp-forum-info,
#bbpress-forums li.bbp-header li.bbp-topic-title {
  text-align: left;
  text-transform: none;
}
#bbpress-forums li.bbp-body ul.forum .bbp-forum-topic-count,
#bbpress-forums li.bbp-body ul.topic .bbp-forum-topic-count,
#bbpress-forums li.bbp-header ul .bbp-forum-topic-count,
#bbpress-forums li.bbp-topic-voice-count {
  display: none;
}
#bbpress-forums .bbp-topic-reply-count,
#bbpress-forums li.bbp-body ul.forum .bbp-forum-reply-count,
#bbpress-forums li.bbp-body ul.topic .bbp-forum-reply-count,
#bbpress-forums li.bbp-header ul .bbp-forum-reply-count {
  width: 15%;
}
#bbpress-forums .bbp-topic-freshness,
#bbpress-forums li.bbp-body ul.forum .bbp-forum-freshness,
#bbpress-forums li.bbp-body ul.topic .bbp-forum-freshness,
#bbpress-forums li.bbp-header ul .bbp-forum-freshness {
  width: 35%;
}
#bbpress-forums .bbp-body div.bbp-reply-author {
  width: 71% !important;
}
#bbpress-forums .bbp-body div.bbp-reply-content,
#bbpress-forums .bbp-body div.bbp-topic-content {
  clear: both;
  margin: 10px;
  padding: 0;
}
#bbpress-forums li.bbp-header {
  padding: 20px;
}
#bbpress-forums li.bbp-body ul.forum,
#bbpress-forums li.bbp-body ul.topic {
  padding: 13px 20px;
}
#bbpress-forums div.bbp-reply-author a.bbp-author-name,
#bbpress-forums div.bbp-topic-author a.bbp-author-name {
  clear: none;
  display: inline-block;
  margin-left: 0;
  word-wrap: break-word;
}
#bbpress-forums div.bbp-reply-author img.avatar,
#bbpress-forums div.bbp-topic-author img.avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: auto;
}
#bbpress-forums div.bbp-reply-author .bbp-author-role,
#bbpress-forums div.bbp-topic-author .bbp-author-role {
  font-size: 12px;
  font-style: normal;
}
#bbpress-forums div.bbp-reply-content p,
#bbpress-forums div.bbp-topic-content p {
  margin-bottom: 1em;
}
#bbpress-forums .bbp-search-results .bbp-topic-header {
  margin: 0;
}
.bbp-arrow {
  display: none;
}
div.bbp-submit-wrapper {
  float: right !important;
}
.fusion-body #bbpress-forums .bbp-body div.bbp-reply-author,
.fusion-body #bbpress-forums .bbp-body div.bbp-topic-author {
  float: none;
  margin: 0 10px 10px;
  padding-left: 80px;
  position: relative;
  text-align: left;
  width: auto !important;
}
/*# sourceMappingURL=max-640-bbpress.css.map */