.admin-bar p.woocommerce-store-notice,
body.admin-bar #wrapper .fusion-sliding-bar-position-top,
body.layout-boxed-mode.side-header-right .fusion-sliding-bar-position-top {
  top: 46px;
}
body.fusion-blank-page.admin-bar {
  top: 45px;
}
html #wpadminbar {
  z-index: 99999 !important;
  position: fixed !important;
}
/*# sourceMappingURL=max-shbp-18.css.map */