#tribe-events-content-wrapper #tribe_events_filters_wrapper {
  height: auto;
}
#tribe-events-content-wrapper #tribe_events_filters_wrapper #tribe_events_filter_control {
  width: 100%;
}
#tribe-events-content-wrapper #tribe_events_filters_wrapper #tribe_events_filter_control .tribe-reset-icon {
  line-height: normal;
}
#tribe-events-content-wrapper #tribe_events_filters_wrapper #tribe_events_filter_control #tribe_events_filters_reset {
  margin-top: 10px;
}
.tribe-filters-open #tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal {
  background-color: transparent;
}
.tribe-filters-open #tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal .tribe-events-filters-content {
  padding-top: 0;
}
.tribe-filters-open #tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal:before,
.tribe-filters-open #tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal:after {
  background-color: transparent;
}
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal #tribe_events_filters_form {
  width: 100%;
  float: none;
  margin: 15px 0;
}
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal .tribe-events-filters-label {
  margin-bottom: 10px;
}
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal .tribe_events_filters_show_filters {
  height: auto;
  line-height: 1;
  border: none;
}
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal .tribe_events_filters_close_filters {
  margin-top: 0;
}
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal .tribe-events-filters-legend {
  padding: 0;
}
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal .tribe-events-filters-content {
  display: block;
}
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal .tribe_events_filter_item {
  margin: 0;
}
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal .tribe_events_filter_item .tribe-events-filters-group-heading {
  padding: 15px;
}
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal .tribe-events-filter-group ul li {
  padding: 10px 20px;
}
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal .tribe_events_slider_val {
  position: static;
}
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal .tribe-filter-status {
  display: none;
}
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal .tribe-events-filters-mobile-controls {
  margin-left: -10px;
  margin-right: -10px;
}
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-horizontal .tribe-reset-icon {
  line-height: 1;
  padding-top: 2px;
}
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-vertical .tribe_events_filters_show_filters {
  margin: 0;
  background-color: transparent;
  height: auto;
  line-height: 1;
  color: inherit;
}
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-vertical #tribe_events_filters_reset {
  margin-bottom: 0;
}
#tribe-events-content-wrapper #tribe_events_filters_wrapper.tribe-events-filters-vertical .tribe-reset-icon {
  line-height: 1;
}
#tribe-events-footer:after,
#tribe-events-header:after,
#tribe-events-footer:before,
#tribe-events-header:before {
  background-color: transparent !important;
}
/*# sourceMappingURL=max-768-ec.css.map */