body.fusion-body .gform_wrapper .ginput_complex .ginput_right input[type="text"],
body.fusion-body .gform_wrapper .ginput_complex .ginput_right input[type="url"],
body.fusion-body .gform_wrapper .ginput_complex .ginput_right input[type="email"],
body.fusion-body .gform_wrapper .ginput_complex .ginput_right input[type="tel"],
body.fusion-body .gform_wrapper .ginput_complex .ginput_right input[type="number"],
body.fusion-body .gform_wrapper .ginput_complex .ginput_right input[type="password"],
body.fusion-body .gform_wrapper .ginput_complex .ginput_left input[type="text"],
body.fusion-body .gform_wrapper .ginput_complex .ginput_left input[type="url"],
body.fusion-body .gform_wrapper .ginput_complex .ginput_left input[type="email"],
body.fusion-body .gform_wrapper .ginput_complex .ginput_left input[type="tel"],
body.fusion-body .gform_wrapper .ginput_complex .ginput_left input[type="number"],
body.fusion-body .gform_wrapper .ginput_complex .ginput_left input[type="password"],
body.fusion-body .gform_wrapper .ginput_complex .ginput_full input[type="text"],
body.fusion-body .gform_wrapper .ginput_complex .ginput_full input[type="url"],
body.fusion-body .gform_wrapper .ginput_complex .ginput_full input[type="email"],
body.fusion-body .gform_wrapper .ginput_complex .ginput_full input[type="tel"],
body.fusion-body .gform_wrapper .ginput_complex .ginput_full input[type="number"],
body.fusion-body .gform_wrapper .ginput_complex .ginput_full input[type="password"],
body.fusion-body .gform_wrapper .ginput_complex .ginput_full select,
body.fusion-body .gform_wrapper input.gform_button.button,
body.fusion-body .gform_wrapper input[type="submit"],
body.fusion-body .gform_wrapper .gfield_time_hour input,
body.fusion-body .gform_wrapper .gfield_time_minute input,
body.fusion-body .gform_wrapper .gfield_date_month input,
body.fusion-body .gform_wrapper .gfield_date_day input,
body.fusion-body .gform_wrapper .gfield_date_year input,
.gfield_time_ampm .gravity-select-parent,
body.fusion-body .gform_wrapper .ginput_complex input[type="text"],
body.fusion-body .gform_wrapper .ginput_complex input[type="url"],
body.fusion-body .gform_wrapper .ginput_complex input[type="email"],
body.fusion-body .gform_wrapper .ginput_complex input[type="tel"],
body.fusion-body .gform_wrapper .ginput_complex input[type="number"],
body.fusion-body .gform_wrapper .ginput_complex input[type="password"],
body.fusion-body .gform_wrapper .ginput_complex .gravity-select-parent,
body.fusion-body .gravity-select-parent,
body.fusion-body .gform_wrapper .ginput_container:not(.gfield_signature_container),
body.fusion-body .gform_wrapper .ginput_container input.large,
body.fusion-body .gform_wrapper .ginput_container input.medium,
body.fusion-body .gform_wrapper .ginput_container input.small,
body.fusion-body .gform_wrapper .ginput_container select.large,
body.fusion-body .gform_wrapper .ginput_container select.medium,
body.fusion-body .gform_wrapper .ginput_container select.small,
body.fusion-body .gform_wrapper .ginput_container textarea.large,
body.fusion-body .gform_wrapper .ginput_container textarea.medium,
body.fusion-body .gform_wrapper .ginput_container textarea.small,
body.fusion-body .gform_wrapper div.gf_page_steps,
body.fusion-body .gform_wrapper div.gf_page_steps div,
body.fusion-body .gform_wrapper div.ginput_complex {
  width: 100% !important;
}
.gform_wrapper .gform_page_footer input[type="button"],
.gform_wrapper .gform_button,
.gform_wrapper .button {
  box-sizing: border-box;
}
/*# sourceMappingURL=max-640-gravity.css.map */