.fusion-blog-layout-grid-6 .fusion-post-grid,
.fusion-grid-6 .fusion-grid-column,
.fusion-portfolio-six .fusion-portfolio-post {
  width: 100% !important;
}
.fusion-blog-layout-grid-6 .fusion-post-grid.fusion-element-landscape .fusion-masonry-element-container,
.fusion-grid-6 .fusion-grid-column.fusion-element-landscape .fusion-masonry-element-container,
.fusion-portfolio-six .fusion-portfolio-post.fusion-element-landscape .fusion-masonry-element-container {
  padding-top: 65% !important;
}
.fusion-blog-layout-grid-6 .fusion-post-grid.fusion-element-grid .fusion-masonry-element-container,
.fusion-grid-6 .fusion-grid-column.fusion-element-grid .fusion-masonry-element-container,
.fusion-portfolio-six .fusion-portfolio-post.fusion-element-grid .fusion-masonry-element-container {
  padding-top: 100% !important;
}
/*# sourceMappingURL=max-1c.css.map */