.ei-title {
  position: absolute;
  right: 0;
  margin-right: 0;
  width: 100%;
  text-align: center;
  top: 28%;
  padding: 5px 0;
}
.ei-title h2,
.ei-title h3 {
  text-align: center;
}
#wrapper .ei-title h2 {
  font-size: 20px;
  line-height: 24px;
}
#wrapper .ei-title h3 {
  font-size: 15px;
  line-height: 30px;
}
/*# sourceMappingURL=max-sh-cbp-eslider.css.map */