.post-content .wooslider .wooslider-control-thumbs {
  margin-top: -10px;
}
body .wooslider .overlay-full.layout-text-left .slide-excerpt {
  padding: 20px !important;
}
.products-slider .es-nav span {
  transform: scale(0.5) !important;
}
.shop_table .filler-td {
  display: none;
}
.my_account_orders .woocommerce-orders-table__cell-order-date,
.my_account_orders .woocommerce-orders-table__cell-order-status {
  display: none;
}
.my_account_orders .woocommerce-orders-table__cell-order-number time {
  display: block !important;
  font-size: 10px;
  line-height: normal;
}
.woocommerce-MyAccount-downloads .download-expires,
.woocommerce-MyAccount-downloads .download-remaining {
  display: none;
}
.fusion-woo-product-design-clean .fusion-woo-slider .fusion-clean-product-image-wrapper .fusion-product-buttons {
  height: auto;
  margin-top: 0;
}
.fusion-woo-product-design-clean .fusion-woo-slider .fusion-clean-product-image-wrapper .fusion-product-buttons * {
  display: block;
  text-align: center;
  float: none !important;
  max-width: 100%;
  margin-top: 0;
}
.group_table .quantity {
  width: 78px;
}
.group_table td.label {
  font-size: 12px;
}
.group_table .price .woocommerce-Price-amount {
  font-size: 14px;
}
.comment-form-rating p.stars a {
  padding: 0.5em;
  color: transparent;
}
.comment-form-rating p.stars a:after {
  width: 100%;
  left: 0;
  right: 0;
  text-align: center;
}
/*# sourceMappingURL=max-sh-640-woo.css.map */