#bbpress-forums #bbp-single-user-details #bbp-user-avatar {
  width: 80px !important;
}
#bbpress-forums #bbp-single-user-details #bbp-user-avatar img.avatar {
  width: 80px !important;
  height: 80px !important;
}
#bbpress-forums #bbp-single-user-details #bbp-user-navigation {
  margin-left: 110px !important;
}
#bbpress-forums #bbp-single-user-details #bbp-user-navigation .first-col {
  width: 47% !important;
}
#bbpress-forums #bbp-single-user-details #bbp-user-navigation .second-col {
  margin-left: 53% !important;
  width: 47% !important;
}
/*# sourceMappingURL=max-sh-640-bbpress.css.map */