.fusion-body .fusion-page-title-bar {
  max-height: none;
}
.fusion-body .fusion-page-title-bar h1 {
  margin: 0;
}
.fusion-body .fusion-blog-layout-medium .fusion-post-slideshow {
  float: none;
  margin: 0 0 20px;
  width: auto;
  height: auto;
  -ms-flex: 0 1 100%;
      flex: 0 1 100%;
}
.fusion-body .fusion-blog-layout-medium .fusion-post-content {
  -ms-flex: 0 1 100%;
      flex: 0 1 100%;
}
.fusion-body .fusion-blog-layout-large-alternate .fusion-post-content {
  margin: 0;
}
.fusion-blog-layout-large .fusion-meta-info .fusion-alignleft,
.fusion-blog-layout-medium .fusion-meta-info .fusion-alignleft,
.fusion-blog-layout-large .fusion-meta-info .fusion-alignright,
.fusion-blog-layout-medium .fusion-meta-info .fusion-alignright {
  display: block;
  float: none;
  margin: 0;
  width: 100%;
}
.fusion-blog-layout-large-alternate .fusion-date-and-formats {
  margin-bottom: 35px;
}
.fusion-blog-layout-medium-alternate .has-post-thumbnail .fusion-post-slideshow {
  display: inline-block;
  float: none;
  margin-right: 0;
  max-width: 197px;
}
.fusion-blog-layout-grid .fusion-post-grid {
  position: static;
  width: 100%;
}
.flex-direction-nav,
.wooslider-direction-nav,
.wooslider-pauseplay {
  display: none;
}
.share-box ul li {
  margin-bottom: 10px;
  margin-right: 15px;
}
.share-box .social-networks li {
  margin-right: 20px !important;
}
.buttons a {
  margin-right: 5px;
}
.ls-avada .ls-nav-next,
.ls-avada .ls-nav-prev {
  display: none !important;
}
#wrapper .ei-slider {
  width: 100% !important;
  height: 200px !important;
}
#wrapper .share-box h4 {
  display: block;
  float: none;
  line-height: 20px !important;
  margin-top: 0;
  padding: 0;
  margin-bottom: 10px;
}
.page-template-contact-php .fusion-google-map {
  height: 270px !important;
}
.timeline-icon {
  display: none !important;
}
.timeline-layout {
  padding-top: 0 !important;
}
.portfolio-masonry .portfolio-item {
  width: 100% !important;
}
.table-1 table,
.tkt-slctr-tbl-wrap-dv table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.table-1 td,
.tkt-slctr-tbl-wrap-dv td,
.table-1 th,
.tkt-slctr-tbl-wrap-dv th {
  white-space: nowrap;
}
.table-2 table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.table-2 td,
.table-2 th {
  white-space: nowrap;
}
#main,
.footer-area,
.page-title-bar,
body {
  background-attachment: scroll !important;
}
.tfs-slider[data-animation="slide"] {
  height: auto !important;
}
.fusion-sharing-box .fusion-social-networks {
  float: none;
  display: block;
  width: 100%;
  text-align: left;
}
#content {
  width: 100% !important;
  margin-left: 0 !important;
}
.sidebar {
  width: 100% !important;
  float: none !important;
  margin-left: 0 !important;
  clear: both;
}
.fusion-hide-on-mobile {
  display: none;
}
.fusion-blog-layout-timeline {
  padding-top: 0;
}
.fusion-blog-layout-timeline .fusion-post-timeline {
  float: none;
  width: 100%;
}
.fusion-blog-layout-timeline .fusion-timeline-date {
  margin-bottom: 0;
  margin-top: 2px;
}
.fusion-timeline-arrow,
.fusion-timeline-circle,
.fusion-timeline-icon,
.fusion-timeline-line {
  display: none;
}
/*# sourceMappingURL=max-sh-640.css.map */