.fusion-mobile-menu-design-modern .fusion-secondary-header {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.fusion-mobile-menu-design-modern .ubermenu-responsive-toggle,
.fusion-mobile-menu-design-modern .ubermenu-sticky-toggle-wrapper {
  clear: both;
}
.fusion-mobile-menu-design-modern.fusion-header-v7 .fusion-main-menu {
  width: auto;
  display: block;
  float: left;
}
.fusion-mobile-menu-design-modern.fusion-header-v7 .fusion-main-menu > ul .fusion-middle-logo-menu-logo {
  display: block;
}
.fusion-mobile-menu-design-modern.fusion-header-v7 .fusion-sticky-menu {
  display: none;
}
.fusion-mobile-menu-design-modern.fusion-header-v7.mobile-logo-pos-right .fusion-main-menu {
  float: right;
}
.fusion-mobile-menu-design-modern.fusion-header-v7 .fusion-logo {
  padding: 0;
}
.fusion-mobile-menu-design-modern.fusion-header-v1 .fusion-header,
.fusion-mobile-menu-design-modern.fusion-header-v2 .fusion-header,
.fusion-mobile-menu-design-modern.fusion-header-v3 .fusion-header,
.fusion-mobile-menu-design-modern.fusion-header-v4 .fusion-header,
.fusion-mobile-menu-design-modern.fusion-header-v5 .fusion-header,
.fusion-mobile-menu-design-modern.fusion-header-v7 .fusion-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.fusion-mobile-menu-design-modern.fusion-header-v1 .fusion-header .fusion-row,
.fusion-mobile-menu-design-modern.fusion-header-v2 .fusion-header .fusion-row,
.fusion-mobile-menu-design-modern.fusion-header-v3 .fusion-header .fusion-row,
.fusion-mobile-menu-design-modern.fusion-header-v4 .fusion-header .fusion-row,
.fusion-mobile-menu-design-modern.fusion-header-v5 .fusion-header .fusion-row,
.fusion-mobile-menu-design-modern.fusion-header-v7 .fusion-header .fusion-row {
  width: 100%;
}
.fusion-mobile-menu-design-modern.fusion-header-v1 .fusion-logo,
.fusion-mobile-menu-design-modern.fusion-header-v2 .fusion-logo,
.fusion-mobile-menu-design-modern.fusion-header-v3 .fusion-logo,
.fusion-mobile-menu-design-modern.fusion-header-v4 .fusion-logo,
.fusion-mobile-menu-design-modern.fusion-header-v5 .fusion-logo,
.fusion-mobile-menu-design-modern.fusion-header-v7 .fusion-logo {
  margin: 0 !important;
}
.fusion-mobile-menu-design-modern.fusion-header-v1 .modern-mobile-menu-expanded .fusion-logo,
.fusion-mobile-menu-design-modern.fusion-header-v2 .modern-mobile-menu-expanded .fusion-logo,
.fusion-mobile-menu-design-modern.fusion-header-v3 .modern-mobile-menu-expanded .fusion-logo,
.fusion-mobile-menu-design-modern.fusion-header-v4 .modern-mobile-menu-expanded .fusion-logo,
.fusion-mobile-menu-design-modern.fusion-header-v5 .modern-mobile-menu-expanded .fusion-logo,
.fusion-mobile-menu-design-modern.fusion-header-v7 .modern-mobile-menu-expanded .fusion-logo {
  margin-bottom: 20px !important;
}
.fusion-mobile-menu-design-modern.fusion-header-v1 .fusion-mobile-nav-holder,
.fusion-mobile-menu-design-modern.fusion-header-v2 .fusion-mobile-nav-holder,
.fusion-mobile-menu-design-modern.fusion-header-v3 .fusion-mobile-nav-holder,
.fusion-mobile-menu-design-modern.fusion-header-v4 .fusion-mobile-nav-holder,
.fusion-mobile-menu-design-modern.fusion-header-v5 .fusion-mobile-nav-holder,
.fusion-mobile-menu-design-modern.fusion-header-v7 .fusion-mobile-nav-holder {
  padding-top: 20px;
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: calc(-20px - var(--header_padding-bottom));
}
.fusion-mobile-menu-design-modern.fusion-header-v1 .fusion-mobile-nav-holder > ul,
.fusion-mobile-menu-design-modern.fusion-header-v2 .fusion-mobile-nav-holder > ul,
.fusion-mobile-menu-design-modern.fusion-header-v3 .fusion-mobile-nav-holder > ul,
.fusion-mobile-menu-design-modern.fusion-header-v4 .fusion-mobile-nav-holder > ul,
.fusion-mobile-menu-design-modern.fusion-header-v5 .fusion-mobile-nav-holder > ul,
.fusion-mobile-menu-design-modern.fusion-header-v7 .fusion-mobile-nav-holder > ul {
  display: block;
}
.fusion-mobile-menu-design-modern.fusion-header-v1 .fusion-mobile-sticky-nav-holder,
.fusion-mobile-menu-design-modern.fusion-header-v2 .fusion-mobile-sticky-nav-holder,
.fusion-mobile-menu-design-modern.fusion-header-v3 .fusion-mobile-sticky-nav-holder,
.fusion-mobile-menu-design-modern.fusion-header-v4 .fusion-mobile-sticky-nav-holder,
.fusion-mobile-menu-design-modern.fusion-header-v5 .fusion-mobile-sticky-nav-holder,
.fusion-mobile-menu-design-modern.fusion-header-v7 .fusion-mobile-sticky-nav-holder {
  display: none;
}
.fusion-mobile-menu-design-modern.fusion-header-v1 .fusion-mobile-menu-icons,
.fusion-mobile-menu-design-modern.fusion-header-v2 .fusion-mobile-menu-icons,
.fusion-mobile-menu-design-modern.fusion-header-v3 .fusion-mobile-menu-icons,
.fusion-mobile-menu-design-modern.fusion-header-v4 .fusion-mobile-menu-icons,
.fusion-mobile-menu-design-modern.fusion-header-v5 .fusion-mobile-menu-icons,
.fusion-mobile-menu-design-modern.fusion-header-v7 .fusion-mobile-menu-icons {
  display: block;
}
.fusion-mobile-menu-design-modern.fusion-header-v4 .fusion-logo a {
  float: none;
}
.fusion-mobile-menu-design-modern.fusion-header-v4 .fusion-logo .searchform {
  float: none;
  display: none;
}
.fusion-mobile-menu-design-modern.fusion-header-v4 .fusion-header-banner {
  margin-top: 10px;
}
.fusion-mobile-menu-design-modern.fusion-header-v5.fusion-logo-center .fusion-logo {
  float: left;
}
.rtl .fusion-mobile-menu-design-modern.fusion-header-v5.fusion-logo-center .fusion-logo {
  float: right;
}
.rtl .fusion-mobile-menu-design-modern.fusion-header-v5.fusion-logo-center .fusion-mobile-menu-icons {
  float: left;
}
.rtl .fusion-mobile-menu-design-modern.fusion-header-v5.fusion-logo-center .fusion-mobile-menu-icons a {
  float: left;
  margin-left: 0;
  margin-right: 15px;
}
.fusion-mobile-menu-design-modern.fusion-header-v4 .fusion-mobile-nav-holder,
.fusion-mobile-menu-design-modern.fusion-header-v5 .fusion-mobile-nav-holder {
  padding-top: 0;
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: 0;
}
.fusion-mobile-menu-design-modern.fusion-header-v4 .fusion-secondary-main-menu,
.fusion-mobile-menu-design-modern.fusion-header-v5 .fusion-secondary-main-menu {
  position: static;
  border: 0;
}
.fusion-mobile-menu-design-modern.fusion-header-v4 .fusion-secondary-main-menu .fusion-mobile-nav-holder > ul,
.fusion-mobile-menu-design-modern.fusion-header-v5 .fusion-secondary-main-menu .fusion-mobile-nav-holder > ul {
  border: 0;
}
.fusion-mobile-menu-design-modern.fusion-header-v4 .fusion-secondary-main-menu .searchform,
.fusion-mobile-menu-design-modern.fusion-header-v5 .fusion-secondary-main-menu .searchform {
  float: none;
}
.fusion-mobile-menu-design-modern.fusion-header-v4.fusion-logo-right .fusion-logo,
.fusion-mobile-menu-design-modern.fusion-header-v5.fusion-logo-right .fusion-logo {
  float: right;
}
.fusion-mobile-menu-design-modern.fusion-header-v4.fusion-sticky-menu-only .fusion-secondary-main-menu,
.fusion-mobile-menu-design-modern.fusion-header-v5.fusion-sticky-menu-only .fusion-secondary-main-menu {
  position: static;
}
.fusion-header .fusion-row {
  padding-left: 0;
  padding-right: 0;
}
.fusion-header-wrapper .fusion-row {
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;
}
.fusion-header-wrapper .fusion-mobile-menu-design-classic .fusion-contact-info {
  text-align: center;
  line-height: normal;
}
.fusion-header-wrapper .fusion-mobile-menu-design-classic .fusion-secondary-menu {
  display: none;
}
.fusion-header-wrapper .fusion-mobile-menu-design-classic .fusion-social-links-header {
  max-width: 100%;
  margin-top: 5px;
  text-align: center;
  margin-bottom: 5px;
}
.fusion-header-wrapper .fusion-mobile-menu-design-classic .fusion-header-tagline {
  float: none;
  text-align: center;
  margin-top: 10px;
  line-height: 24px;
  margin-left: auto;
  margin-right: auto;
}
.fusion-header-wrapper .fusion-mobile-menu-design-classic .fusion-header-banner {
  float: none;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  margin-top: 20px;
  clear: both;
}
.fusion-footer-copyright-area > .fusion-row,
.fusion-footer-widget-area > .fusion-row {
  padding-left: 0;
  padding-right: 0;
}
.fusion-secondary-header {
  background-color: var(--header_top_bg_color);
}
.fusion-secondary-header .fusion-row {
  display: block;
}
.fusion-secondary-header .fusion-alignleft {
  margin-right: 0;
}
.fusion-secondary-header .fusion-alignright {
  margin-left: 0;
}
body.fusion-body .fusion-secondary-header .fusion-alignright > * {
  float: none;
}
body.fusion-body .fusion-secondary-header .fusion-alignright .fusion-social-links-header .boxed-icons {
  margin-bottom: 5px;
}
.fusion-mobile-menu-design-classic.fusion-header-v1 .fusion-header,
.fusion-mobile-menu-design-classic.fusion-header-v2 .fusion-header,
.fusion-mobile-menu-design-classic.fusion-header-v3 .fusion-header,
.fusion-mobile-menu-design-classic.fusion-header-v7 .fusion-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.fusion-mobile-menu-design-classic.fusion-header-v1 .fusion-logo,
.fusion-mobile-menu-design-classic.fusion-header-v2 .fusion-logo,
.fusion-mobile-menu-design-classic.fusion-header-v3 .fusion-logo,
.fusion-mobile-menu-design-classic.fusion-header-v7 .fusion-logo,
.fusion-mobile-menu-design-classic.fusion-header-v1 .fusion-logo a,
.fusion-mobile-menu-design-classic.fusion-header-v2 .fusion-logo a,
.fusion-mobile-menu-design-classic.fusion-header-v3 .fusion-logo a,
.fusion-mobile-menu-design-classic.fusion-header-v7 .fusion-logo a {
  float: none;
  text-align: center;
  margin: 0 !important;
}
.fusion-mobile-menu-design-classic.fusion-header-v1 .fusion-mobile-nav-holder,
.fusion-mobile-menu-design-classic.fusion-header-v2 .fusion-mobile-nav-holder,
.fusion-mobile-menu-design-classic.fusion-header-v3 .fusion-mobile-nav-holder,
.fusion-mobile-menu-design-classic.fusion-header-v7 .fusion-mobile-nav-holder {
  display: block;
  margin-top: 20px;
}
.fusion-mobile-menu-design-classic.fusion-header-v1 .fusion-main-menu,
.fusion-mobile-menu-design-classic.fusion-header-v2 .fusion-main-menu,
.fusion-mobile-menu-design-classic.fusion-header-v3 .fusion-main-menu {
  display: none;
}
.fusion-mobile-menu-design-classic.fusion-header-v7 .fusion-main-menu {
  display: block;
  max-width: none;
}
.fusion-mobile-menu-design-classic.fusion-header-v7 .fusion-main-menu > ul > li {
  display: none;
}
.fusion-mobile-menu-design-classic.fusion-header-v7 .fusion-main-menu > ul .fusion-middle-logo-menu-logo {
  display: block;
}
.fusion-mobile-menu-design-classic.fusion-header-v7 .fusion-sticky-menu > ul .fusion-middle-logo-menu-logo {
  display: none;
}
.fusion-mobile-menu-design-classic.fusion-header-v7 .fusion-logo {
  padding: 0;
}
.fusion-mobile-menu-design-classic .fusion-secondary-header {
  padding: 10px;
}
.fusion-mobile-menu-design-classic .fusion-secondary-header .fusion-mobile-nav-holder {
  margin-top: 0;
}
.fusion-mobile-menu-design-classic.fusion-header-v4 .fusion-header,
.fusion-mobile-menu-design-classic.fusion-header-v5 .fusion-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.fusion-mobile-menu-design-classic.fusion-header-v4 .fusion-secondary-main-menu,
.fusion-mobile-menu-design-classic.fusion-header-v5 .fusion-secondary-main-menu {
  padding-top: 6px;
  padding-bottom: 6px;
}
.fusion-mobile-menu-design-classic.fusion-header-v4 .fusion-main-menu,
.fusion-mobile-menu-design-classic.fusion-header-v5 .fusion-main-menu {
  display: none;
}
.fusion-mobile-menu-design-classic.fusion-header-v4 .fusion-mobile-nav-holder,
.fusion-mobile-menu-design-classic.fusion-header-v5 .fusion-mobile-nav-holder {
  display: block;
}
.fusion-mobile-menu-design-classic.fusion-header-v4 .fusion-logo,
.fusion-mobile-menu-design-classic.fusion-header-v5 .fusion-logo,
.fusion-mobile-menu-design-classic.fusion-header-v4 .fusion-logo a,
.fusion-mobile-menu-design-classic.fusion-header-v5 .fusion-logo a {
  float: none;
  text-align: center;
  margin: 0 !important;
}
.fusion-mobile-menu-design-classic.fusion-header-v4 .searchform,
.fusion-mobile-menu-design-classic.fusion-header-v5 .searchform {
  display: block;
  float: none;
  width: 100%;
  margin: 13px 0 0;
}
.fusion-mobile-menu-design-classic.fusion-header-v4 .search-table,
.fusion-mobile-menu-design-classic.fusion-header-v5 .search-table {
  width: 100%;
}
.fusion-mobile-menu-design-classic.fusion-header-v4 .fusion-logo a {
  float: none;
}
.fusion-mobile-menu-design-classic.fusion-header-v4 .fusion-header-banner {
  margin-top: 10px;
}
.fusion-mobile-menu-design-classic .fusion-alignleft {
  margin-bottom: 10px;
}
.fusion-mobile-menu-design-classic .fusion-alignleft,
.fusion-mobile-menu-design-classic .fusion-alignright {
  float: none;
  width: 100%;
  line-height: normal;
  display: block;
}
.fusion-mobile-menu-design-classic .fusion-mobile-nav-holder .fusion-secondary-menu-icon:after,
.fusion-mobile-menu-design-classic .fusion-mobile-nav-holder .fusion-secondary-menu-icon:before {
  display: none;
}
.fusion-header-v4 .fusion-logo {
  display: block;
}
.fusion-header-v4.fusion-mobile-menu-design-modern .fusion-logo .fusion-logo-link {
  max-width: 75%;
}
.fusion-header-v4.fusion-mobile-menu-design-modern .fusion-mobile-menu-icons {
  position: absolute;
}
.fusion-header-v4.fusion-mobile-menu-design-flyout .fusion-logo .fusion-logo-link {
  max-width: 75%;
}
.fusion-header-v4.fusion-mobile-menu-design-flyout .fusion-mobile-menu-icons {
  position: absolute;
}
.fusion-is-sticky .fusion-mobile-menu-design-classic.fusion-header-v7 .fusion-main-menu > ul .fusion-middle-logo-menu-logo {
  display: none;
}
.fusion-is-sticky .fusion-mobile-menu-design-classic.fusion-header-v7 .fusion-main-menu-sticky > ul .fusion-middle-logo-menu-logo,
.fusion-is-sticky .fusion-mobile-menu-design-classic.fusion-header-v7 .fusion-sticky-menu > ul .fusion-middle-logo-menu-logo {
  display: block;
}
.fusion-is-sticky .fusion-mobile-menu-design-modern.fusion-header-v7 .fusion-main-menu {
  display: none;
}
.fusion-is-sticky .fusion-mobile-menu-design-modern.fusion-header-v7 .fusion-main-menu-sticky,
.fusion-is-sticky .fusion-mobile-menu-design-modern.fusion-header-v7 .fusion-sticky-menu {
  display: block;
}
.fusion-is-sticky .fusion-mobile-menu-design-modern.fusion-header-v4 .fusion-sticky-header-wrapper,
.fusion-is-sticky .fusion-mobile-menu-design-modern.fusion-header-v5 .fusion-sticky-header-wrapper {
  position: fixed;
  width: 100%;
}
.fusion-is-sticky .fusion-sticky-menu-only.fusion-header-v4.fusion-mobile-menu-design-flyout.fusion-flyout-menu-active .fusion-secondary-main-menu,
.fusion-is-sticky .fusion-sticky-menu-only.fusion-header-v5.fusion-mobile-menu-design-flyout.fusion-flyout-menu-active .fusion-secondary-main-menu {
  z-index: 9999999;
}
.fusion-mobile-menu-design-flyout.fusion-header-v1 .fusion-main-menu,
.fusion-mobile-menu-design-modern.fusion-header-v1 .fusion-main-menu,
.fusion-mobile-menu-design-flyout.fusion-header-v2 .fusion-main-menu,
.fusion-mobile-menu-design-modern.fusion-header-v2 .fusion-main-menu,
.fusion-mobile-menu-design-flyout.fusion-header-v3 .fusion-main-menu,
.fusion-mobile-menu-design-modern.fusion-header-v3 .fusion-main-menu,
.fusion-mobile-menu-design-flyout.fusion-header-v4 .fusion-main-menu,
.fusion-mobile-menu-design-modern.fusion-header-v4 .fusion-main-menu,
.fusion-mobile-menu-design-flyout.fusion-header-v5 .fusion-main-menu,
.fusion-mobile-menu-design-modern.fusion-header-v5 .fusion-main-menu,
.fusion-mobile-menu-design-flyout.fusion-header-v7 .fusion-main-menu > ul > li,
.fusion-mobile-menu-design-modern.fusion-header-v7 .fusion-main-menu > ul > li {
  display: none;
}
.fusion-mobile-menu-design-classic.fusion-header-v1 .fusion-mobile-sticky-nav-holder,
.fusion-mobile-menu-design-flyout.fusion-header-v1 .fusion-mobile-sticky-nav-holder,
.fusion-mobile-menu-design-modern.fusion-header-v1 .fusion-mobile-sticky-nav-holder,
.fusion-mobile-menu-design-classic.fusion-header-v2 .fusion-mobile-sticky-nav-holder,
.fusion-mobile-menu-design-flyout.fusion-header-v2 .fusion-mobile-sticky-nav-holder,
.fusion-mobile-menu-design-modern.fusion-header-v2 .fusion-mobile-sticky-nav-holder,
.fusion-mobile-menu-design-classic.fusion-header-v3 .fusion-mobile-sticky-nav-holder,
.fusion-mobile-menu-design-flyout.fusion-header-v3 .fusion-mobile-sticky-nav-holder,
.fusion-mobile-menu-design-modern.fusion-header-v3 .fusion-mobile-sticky-nav-holder,
.fusion-mobile-menu-design-classic.fusion-header-v4 .fusion-mobile-sticky-nav-holder,
.fusion-mobile-menu-design-flyout.fusion-header-v4 .fusion-mobile-sticky-nav-holder,
.fusion-mobile-menu-design-modern.fusion-header-v4 .fusion-mobile-sticky-nav-holder,
.fusion-mobile-menu-design-classic.fusion-header-v5 .fusion-mobile-sticky-nav-holder,
.fusion-mobile-menu-design-flyout.fusion-header-v5 .fusion-mobile-sticky-nav-holder,
.fusion-mobile-menu-design-modern.fusion-header-v5 .fusion-mobile-sticky-nav-holder,
.fusion-mobile-menu-design-classic.fusion-header-v7 .fusion-mobile-sticky-nav-holder,
.fusion-mobile-menu-design-flyout.fusion-header-v7 .fusion-mobile-sticky-nav-holder,
.fusion-mobile-menu-design-modern.fusion-header-v7 .fusion-mobile-sticky-nav-holder {
  display: none;
}
.fusion-is-sticky .fusion-mobile-menu-design-classic.fusion-header-v1.fusion-sticky-menu-1 .fusion-mobile-nav-holder,
.fusion-is-sticky .fusion-mobile-menu-design-flyout.fusion-header-v1.fusion-sticky-menu-1 .fusion-mobile-nav-holder,
.fusion-is-sticky .fusion-mobile-menu-design-modern.fusion-header-v1.fusion-sticky-menu-1 .fusion-mobile-nav-holder,
.fusion-is-sticky .fusion-mobile-menu-design-classic.fusion-header-v2.fusion-sticky-menu-1 .fusion-mobile-nav-holder,
.fusion-is-sticky .fusion-mobile-menu-design-flyout.fusion-header-v2.fusion-sticky-menu-1 .fusion-mobile-nav-holder,
.fusion-is-sticky .fusion-mobile-menu-design-modern.fusion-header-v2.fusion-sticky-menu-1 .fusion-mobile-nav-holder,
.fusion-is-sticky .fusion-mobile-menu-design-classic.fusion-header-v3.fusion-sticky-menu-1 .fusion-mobile-nav-holder,
.fusion-is-sticky .fusion-mobile-menu-design-flyout.fusion-header-v3.fusion-sticky-menu-1 .fusion-mobile-nav-holder,
.fusion-is-sticky .fusion-mobile-menu-design-modern.fusion-header-v3.fusion-sticky-menu-1 .fusion-mobile-nav-holder,
.fusion-is-sticky .fusion-mobile-menu-design-classic.fusion-header-v4.fusion-sticky-menu-1 .fusion-mobile-nav-holder,
.fusion-is-sticky .fusion-mobile-menu-design-flyout.fusion-header-v4.fusion-sticky-menu-1 .fusion-mobile-nav-holder,
.fusion-is-sticky .fusion-mobile-menu-design-modern.fusion-header-v4.fusion-sticky-menu-1 .fusion-mobile-nav-holder,
.fusion-is-sticky .fusion-mobile-menu-design-classic.fusion-header-v5.fusion-sticky-menu-1 .fusion-mobile-nav-holder,
.fusion-is-sticky .fusion-mobile-menu-design-flyout.fusion-header-v5.fusion-sticky-menu-1 .fusion-mobile-nav-holder,
.fusion-is-sticky .fusion-mobile-menu-design-modern.fusion-header-v5.fusion-sticky-menu-1 .fusion-mobile-nav-holder,
.fusion-is-sticky .fusion-mobile-menu-design-classic.fusion-header-v7.fusion-sticky-menu-1 .fusion-mobile-nav-holder,
.fusion-is-sticky .fusion-mobile-menu-design-flyout.fusion-header-v7.fusion-sticky-menu-1 .fusion-mobile-nav-holder,
.fusion-is-sticky .fusion-mobile-menu-design-modern.fusion-header-v7.fusion-sticky-menu-1 .fusion-mobile-nav-holder {
  display: none;
}
.fusion-is-sticky .fusion-mobile-menu-design-classic.fusion-header-v1.fusion-sticky-menu-1 .fusion-mobile-sticky-nav-holder,
.fusion-is-sticky .fusion-mobile-menu-design-flyout.fusion-header-v1.fusion-sticky-menu-1 .fusion-mobile-sticky-nav-holder,
.fusion-is-sticky .fusion-mobile-menu-design-modern.fusion-header-v1.fusion-sticky-menu-1 .fusion-mobile-sticky-nav-holder,
.fusion-is-sticky .fusion-mobile-menu-design-classic.fusion-header-v2.fusion-sticky-menu-1 .fusion-mobile-sticky-nav-holder,
.fusion-is-sticky .fusion-mobile-menu-design-flyout.fusion-header-v2.fusion-sticky-menu-1 .fusion-mobile-sticky-nav-holder,
.fusion-is-sticky .fusion-mobile-menu-design-modern.fusion-header-v2.fusion-sticky-menu-1 .fusion-mobile-sticky-nav-holder,
.fusion-is-sticky .fusion-mobile-menu-design-classic.fusion-header-v3.fusion-sticky-menu-1 .fusion-mobile-sticky-nav-holder,
.fusion-is-sticky .fusion-mobile-menu-design-flyout.fusion-header-v3.fusion-sticky-menu-1 .fusion-mobile-sticky-nav-holder,
.fusion-is-sticky .fusion-mobile-menu-design-modern.fusion-header-v3.fusion-sticky-menu-1 .fusion-mobile-sticky-nav-holder,
.fusion-is-sticky .fusion-mobile-menu-design-classic.fusion-header-v4.fusion-sticky-menu-1 .fusion-mobile-sticky-nav-holder,
.fusion-is-sticky .fusion-mobile-menu-design-flyout.fusion-header-v4.fusion-sticky-menu-1 .fusion-mobile-sticky-nav-holder,
.fusion-is-sticky .fusion-mobile-menu-design-modern.fusion-header-v4.fusion-sticky-menu-1 .fusion-mobile-sticky-nav-holder,
.fusion-is-sticky .fusion-mobile-menu-design-classic.fusion-header-v5.fusion-sticky-menu-1 .fusion-mobile-sticky-nav-holder,
.fusion-is-sticky .fusion-mobile-menu-design-flyout.fusion-header-v5.fusion-sticky-menu-1 .fusion-mobile-sticky-nav-holder,
.fusion-is-sticky .fusion-mobile-menu-design-modern.fusion-header-v5.fusion-sticky-menu-1 .fusion-mobile-sticky-nav-holder,
.fusion-is-sticky .fusion-mobile-menu-design-classic.fusion-header-v7.fusion-sticky-menu-1 .fusion-mobile-sticky-nav-holder,
.fusion-is-sticky .fusion-mobile-menu-design-flyout.fusion-header-v7.fusion-sticky-menu-1 .fusion-mobile-sticky-nav-holder,
.fusion-is-sticky .fusion-mobile-menu-design-modern.fusion-header-v7.fusion-sticky-menu-1 .fusion-mobile-sticky-nav-holder {
  display: block;
}
#side-header.fusion-mobile-menu-design-flyout .side-header-wrapper,
.fusion-mobile-menu-design-flyout .fusion-header .fusion-row {
  z-index: 9999;
}
.fusion-mobile-menu-design-flyout.fusion-header-v1 .fusion-flyout-mobile-menu-icons,
.fusion-mobile-menu-design-flyout.fusion-header-v2 .fusion-flyout-mobile-menu-icons,
.fusion-mobile-menu-design-flyout.fusion-header-v3 .fusion-flyout-mobile-menu-icons,
.fusion-mobile-menu-design-flyout.fusion-header-v4 .fusion-flyout-mobile-menu-icons,
.fusion-mobile-menu-design-flyout.fusion-header-v5 .fusion-flyout-mobile-menu-icons,
.fusion-mobile-menu-design-flyout.fusion-header-v7 .fusion-flyout-mobile-menu-icons {
  z-index: 99999;
  position: relative;
  display: -ms-flexbox;
  display: flex;
}
.fusion-flyout-mobile-menu.fusion-mobile-nav-holder > ul {
  display: block;
  width: 100%;
  text-align: center;
  border: none;
}
.fusion-flyout-mobile-menu.fusion-mobile-nav-holder .fusion-mobile-nav-item a {
  border: none;
}
.fusion-flyout-mobile-menu.fusion-mobile-nav-holder .fusion-open-submenu,
.fusion-flyout-mobile-menu.fusion-mobile-nav-holder .sub-menu,
.fusion-header-has-flyout-menu .fusion-flyout-menu .fusion-menu .fusion-main-menu-cart,
.fusion-header-v4 .fusion-logo .fusion-header-content-3-wrapper .fusion-secondary-menu-search,
.fusion-mobile-menu-design-flyout.fusion-header-v7 .fusion-flyout-menu .fusion-middle-logo-menu-logo,
.fusion-mobile-menu-design-flyout.fusion-header-v7 .fusion-main-menu.fusion-sticky-menu {
  display: none;
}
.fusion-mobile-menu-design-flyout.fusion-header-v7 .fusion-main-menu {
  display: block;
  float: left;
  width: auto;
}
.fusion-mobile-menu-design-flyout.fusion-header-v7 .fusion-main-menu > ul .fusion-middle-logo-menu-logo {
  display: block;
}
.fusion-mobile-menu-design-flyout.fusion-header-v7.fusion-flyout-active .fusion-main-menu {
  z-index: 99999;
}
.fusion-mobile-menu-design-flyout.fusion-header-v7.fusion-flyout-active .fusion-logo {
  z-index: 99999;
}
.fusion-header-v4.fusion-header-has-flyout-menu .fusion-header > .fusion-row {
  position: relative;
}
.avada-not-responsive .fusion-main-menu > ul > li {
  padding-right: var(--mobile_nav_padding);
}
.avada-responsive .fusion-mobile-menu-design-modern.fusion-header-v7 .fusion-main-menu {
  float: var(--logo_alignment);
}
.avada-responsive.mobile-logo-pos-center .fusion-mobile-menu-design-modern.fusion-header-v7 .fusion-main-menu {
  float: left;
}
.mobile-logo-pos-right .fusion-mobile-menu-design-modern.fusion-header-v7 .fusion-main-menu {
  float: right;
}
/* uberMenu Styles
================================================================================================= */
.fusion-body .fusion-header-wrapper .fusion-main-menu.fusion-ubermenu-mobile {
  display: block;
}
.fusion-mobile-nav-holder li.fusion-mobile-nav-item .wpml-ls-item a::before {
  display: none;
}
.fusion-mobile-nav-holder .wpml-ls-native {
  padding: 0 5px;
}
.avada-mobile-header-color-not-opaque .fusion-header-wrapper {
  position: absolute;
  z-index: 10000;
}
.avada-mobile-header-color-not-opaque .fusion-header-wrapper .fusion-header {
  background-image: none;
}
.avada-mobile-header-color-not-opaque .layout-boxed-mode .fusion-header-wrapper {
  width: 100%;
  max-width: var(--site_width);
}
.avada-mobile-header-color-not-opaque .layout-wide-mode .fusion-header-wrapper {
  left: 0;
  right: 0;
}
body.avada-has-mobile-menu-search:not(.avada-has-main-nav-search-icon) .fusion-header-v6.fusion-header-has-flyout-menu .fusion-flyout-menu-icons .fusion-flyout-search-toggle {
  display: -ms-flexbox;
  display: flex;
}
body:not(.avada-has-mobile-menu-search) .fusion-header-v6.fusion-header-has-flyout-menu .fusion-flyout-menu-icons .fusion-flyout-search-toggle {
  display: none;
}
/*# sourceMappingURL=max-sh-shbp.css.map */