.tribe-events-single ul.tribe-related-events li {
  margin-right: 0;
  width: 100%;
}
.tribe-events-single.ltr ul.tribe-related-events .tribe-related-events-thumbnail {
  float: left;
}
.tribe-events-single.ltr ul.tribe-related-events li .tribe-related-event-info {
  padding-left: 10px;
  padding-right: 0;
}
.single-tribe_events #tribe-events-content .tribe_events .fusion-content-widget-area.fusion-event-meta-columns .fusion-event-meta-wrapper,
.single-tribe_events #tribe-events-content .tribe_events .fusion-content-widget-area.fusion-event-meta-columns .tribe-events-event-meta.primary,
.single-tribe_events #tribe-events-content .tribe_events .fusion-content-widget-area.fusion-event-meta-columns .tribe-events-event-meta.secondary {
  display: block;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
}
.single-tribe_events #tribe-events-content .tribe_events .fusion-content-widget-area.fusion-event-meta-columns .tribe-events-event-meta,
.single-tribe_events #tribe-events-content .tribe_events .fusion-content-widget-area.fusion-event-meta-columns .tribe-events-meta-group {
  padding: 0;
}
.single-tribe_events #tribe-events-content .tribe_events .fusion-content-widget-area.fusion-event-meta-columns .tribe-events-meta-group {
  margin-top: 45px;
}
.single-tribe_events #tribe-events-content .tribe_events .fusion-content-widget-area.fusion-event-meta-columns .tribe-events-meta-group:first-child {
  margin-top: 0;
}
.single-tribe_events #tribe-events-content .tribe_events .fusion-content-widget-area.fusion-event-meta-columns .tribe-events-event-meta.secondary {
  margin-top: 45px;
  padding: 0;
}
.single-tribe_events #tribe-events-content .tribe_events .fusion-content-widget-area.fusion-event-meta-columns.fusion-event-meta-columns-3.fusion-event-meta-venue-map .tribe-events-meta-group {
  width: 100%;
}
.single-tribe_events #tribe-events-content .tribe_events .fusion-content-widget-area.fusion-event-meta-columns.fusion-event-meta-columns-4.fusion-event-meta-venue-apart .tribe-events-venue-map {
  margin-top: 10px;
  padding: 0;
}
#tribe-events-bar #tribe-bar-views .tribe-bar-views-inner .tribe-bar-views-option a,
#tribe-events-bar #tribe-bar-views .tribe-bar-views-inner label {
  padding-left: 15px;
  padding-right: 15px;
}
#tribe-events-bar .tribe-bar-filters .tribe-bar-date-filter,
#tribe-events-bar .tribe-bar-filters .tribe-bar-geoloc-filter,
#tribe-events-bar .tribe-bar-filters .tribe-bar-search-filter,
#tribe-events-bar .tribe-bar-filters .tribe-bar-submit {
  padding: 15px 0;
}
#tribe-events-content #tribe-events-header {
  margin-bottom: 30px;
}
#tribe-events-content #tribe-events-header .tribe-events-sub-nav li {
  margin-top: -40px;
}
.tribe-events-month #tribe-mobile-container {
  margin-top: 60px;
}
.tribe-mobile-day-date,
.tribe-mobile-day-heading {
  margin: 20px 0 0;
  padding: 0.4em 0.7em;
}
.tribe-mobile-day:first-child .tribe-mobile-day-date {
  margin-top: 0;
}
.tribe-events-day .fusion-events-before-title,
.tribe-events-list .fusion-events-before-title,
.tribe-events-month .fusion-events-before-title,
.tribe-events-week .fusion-events-before-title {
  height: 100px;
}
.tribe-events-list .tribe-events-map .fusion-events-before-title {
  height: auto;
}
.tribe-events-list .time-details,
.tribe-events-list .tribe-events-venue-details {
  margin: 0;
}
.tribe-events-list .time-details {
  padding: 0;
}
.tribe-events-loop .tribe-events-event-meta {
  padding: 0;
}
#tribe-events .tribe-events-list .tribe-events-event-meta .author > div {
  display: block;
  border-right: none;
  width: 100%;
}
#tribe-events .tribe-events-list .fusion-tribe-no-featured-image .fusion-tribe-events-headline,
#tribe-events .tribe-events-list .fusion-tribe-primary-info,
#tribe-events .tribe-events-list .fusion-tribe-secondary-info {
  width: 100%;
}
#tribe-events .tribe-events-list .type-tribe_events .tribe-events-event-image {
  display: none;
}
#tribe-events .tribe-events-list .type-tribe_events .fusion-tribe-events-event-image-responsive {
  display: block;
}
.fusion-events-featured-image .fusion-events-single-title-content .tribe-events-schedule,
.fusion-events-featured-image .fusion-events-single-title-content h2 {
  float: none;
}
#tribe-events-footer ~ a.tribe-events-ical.tribe-events-button {
  margin-top: 40px;
  margin-bottom: 0;
  height: auto;
}
table.tribe-events-tickets > tbody tr {
  display: block;
  padding: 0;
  border: none;
}
table.tribe-events-tickets-rsvp .tribe-tickets-table {
  width: 100%;
}
table.tribe-events-tickets .tribe-tickets-attendees-list-optout > td,
table.tribe-events-tickets tr .tickets_description,
table.tribe-events-tickets tr .tickets_name,
table.tribe-events-tickets tr .tickets_price,
table.tribe-events-tickets tr .tribe-ticket.quantity,
table.tribe-events-tickets tr .woocommerce,
table.tribe-events-tickets tr td.add-to-cart,
table.tribe-events-tickets tr td.tribe-tickets-attendees {
  display: inline-block;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid;
}
table.tribe-events-tickets tr td.add-to-cart {
  border-bottom: none;
}
.tribe-block__tickets__registration__event .tribe-block__tickets__registration__tickets__item {
  -ms-flex-pack: normal;
      justify-content: normal;
}
.fusion-body .tribe-events-tickets-rsvp .quantity input {
  padding: 0;
}
/*# sourceMappingURL=max-sh-cbp-ec.css.map */