.ls-container .button,
.rev_slider .button,
.ls-container .fusion-button,
.rev_slider .fusion-button {
  padding: 0 20px;
  line-height: 20px;
  font-size: 10px;
  font-size: 10px !important;
  line-height: 20px !important;
  padding: 0 10px !important;
}
.ls-container .button.button-3d:active,
.rev_slider .button.button-3d:active,
.ls-container .fusion-button.button-3d:active,
.rev_slider .fusion-button.button-3d:active {
  top: 2px;
}
.ls-container .button .fusion-button-text-left,
.rev_slider .button .fusion-button-text-left,
.ls-container .fusion-button .fusion-button-text-left,
.rev_slider .fusion-button .fusion-button-text-left {
  display: inline-block;
  padding-left: 25px;
}
.ls-container .button .fusion-button-text-right,
.rev_slider .button .fusion-button-text-right,
.ls-container .fusion-button .fusion-button-text-right,
.rev_slider .fusion-button .fusion-button-text-right {
  display: inline-block;
  padding-right: 25px;
}
.ls-container .button .button-icon-divider-left,
.rev_slider .button .button-icon-divider-left,
.ls-container .fusion-button .button-icon-divider-left,
.rev_slider .fusion-button .button-icon-divider-left {
  padding: 0 11px;
}
.ls-container .button .button-icon-divider-left.fusion-megamenu-image,
.rev_slider .button .button-icon-divider-left.fusion-megamenu-image,
.ls-container .fusion-button .button-icon-divider-left.fusion-megamenu-image,
.rev_slider .fusion-button .button-icon-divider-left.fusion-megamenu-image {
  padding: 0 5.5px;
}
.ls-container .button .button-icon-divider-right,
.rev_slider .button .button-icon-divider-right,
.ls-container .fusion-button .button-icon-divider-right,
.rev_slider .fusion-button .button-icon-divider-right {
  padding: 0 11px;
}
.ls-container .button .button-icon-divider-right.fusion-megamenu-image,
.rev_slider .button .button-icon-divider-right.fusion-megamenu-image,
.ls-container .fusion-button .button-icon-divider-right.fusion-megamenu-image,
.rev_slider .fusion-button .button-icon-divider-right.fusion-megamenu-image {
  padding: 0 5.5px;
}
.ls-container .button .button-icon-divider-left i,
.rev_slider .button .button-icon-divider-left i,
.ls-container .fusion-button .button-icon-divider-left i,
.rev_slider .fusion-button .button-icon-divider-left i,
.ls-container .button .button-icon-divider-left img,
.rev_slider .button .button-icon-divider-left img,
.ls-container .fusion-button .button-icon-divider-left img,
.rev_slider .fusion-button .button-icon-divider-left img,
.ls-container .button .button-icon-divider-right i,
.rev_slider .button .button-icon-divider-right i,
.ls-container .fusion-button .button-icon-divider-right i,
.rev_slider .fusion-button .button-icon-divider-right i,
.ls-container .button .button-icon-divider-right img,
.rev_slider .button .button-icon-divider-right img,
.ls-container .fusion-button .button-icon-divider-right img,
.rev_slider .fusion-button .button-icon-divider-right img {
  top: 50%;
  margin-top: -5px;
  display: block;
}
.ls-container .button.button-3d:active,
.rev_slider .button.button-3d:active,
.ls-container .fusion-button.button-3d:active,
.rev_slider .fusion-button.button-3d:active {
  top: 2px !important;
}
.ls-container .button span,
.rev_slider .button span,
.ls-container .fusion-button span,
.rev_slider .fusion-button span {
  font-size: 10px !important;
}
/*# sourceMappingURL=max-640-sliders.css.map */