.fusion-fullwidth {
  background-attachment: scroll !important;
}
.fusion-fullwidth .fullwidth-faded {
  background-attachment: scroll !important;
}
.no-mobile-totop .to-top-container {
  display: none;
}
/*# sourceMappingURL=max-shbp-not-responsive.css.map */