.fusion-blog-layout-grid-6 .fusion-post-grid,
.fusion-grid-6 .fusion-grid-column,
.fusion-portfolio-six .fusion-portfolio-post {
  width: 25% !important;
}
.fusion-blog-layout-grid-6 .fusion-post-grid.fusion-element-landscape,
.fusion-grid-6 .fusion-grid-column.fusion-element-landscape,
.fusion-portfolio-six .fusion-portfolio-post.fusion-element-landscape {
  width: 50% !important;
}
.fusion-blog-layout-grid-3 .fusion-post-grid,
.fusion-blog-layout-grid-4 .fusion-post-grid,
.fusion-blog-layout-grid-5 .fusion-post-grid,
.fusion-grid-3 .fusion-grid-column,
.fusion-grid-4 .fusion-grid-column,
.fusion-grid-5 .fusion-grid-column,
.fusion-portfolio-five .fusion-portfolio-post,
.fusion-portfolio-four .fusion-portfolio-post,
.fusion-portfolio-three .fusion-portfolio-post {
  width: 50% !important;
}
.fusion-blog-layout-grid-3 .fusion-post-grid.fusion-element-landscape,
.fusion-blog-layout-grid-4 .fusion-post-grid.fusion-element-landscape,
.fusion-blog-layout-grid-5 .fusion-post-grid.fusion-element-landscape,
.fusion-grid-3 .fusion-grid-column.fusion-element-landscape,
.fusion-grid-4 .fusion-grid-column.fusion-element-landscape,
.fusion-grid-5 .fusion-grid-column.fusion-element-landscape,
.fusion-portfolio-five .fusion-portfolio-post.fusion-element-landscape,
.fusion-portfolio-four .fusion-portfolio-post.fusion-element-landscape,
.fusion-portfolio-three .fusion-portfolio-post.fusion-element-landscape {
  width: 100% !important;
}
/*# sourceMappingURL=min-3c-max-4c.css.map */