@media only screen and (orientation: portrait) {
  .products .product-list-view {
    width: 100% !important;
    min-width: 100% !important;
  }
  #main .cart-empty {
    float: none;
    text-align: center;
    border-top: 1px solid;
    border-bottom: none;
    width: 100%;
    line-height: normal !important;
    height: auto !important;
    margin-bottom: 10px;
    padding-top: 10px;
  }
  #main .return-to-shop {
    float: none;
    border-top: none;
    border-bottom: 1px solid;
    width: 100%;
    text-align: center;
    line-height: normal !important;
    height: auto !important;
    padding-bottom: 10px;
  }
  #main .products li:nth-child(3n+1) {
    clear: both !important;
  }
  .woocommerce .checkout_coupon .promo-code-heading {
    display: block;
    margin-bottom: 10px !important;
    float: none;
    text-align: center;
  }
  .woocommerce .checkout_coupon .coupon-contents {
    display: block;
    float: none;
    margin: 0;
  }
  .woocommerce .checkout_coupon .coupon-input {
    display: block;
    width: auto !important;
    float: none;
    text-align: center;
    margin-right: 0;
    margin-bottom: 10px !important;
  }
  .woocommerce .checkout_coupon .coupon-button {
    display: block;
    margin-right: 0;
    float: none;
    text-align: center;
  }
  .woocommerce #customer_login .login .form-row {
    float: none;
  }
  .woocommerce #customer_login .login .inline,
  .woocommerce #customer_login .login .woocommerce-LostPassword {
    display: block;
    margin-left: 0;
  }
  #wrapper .catalog-ordering > .fusion-grid-list-view,
  .avada-customer-details .addresses .col-1,
  .avada-customer-details .addresses .col-2,
  .avada-myaccount-data .addresses .col-1,
  .avada-myaccount-data .addresses .col-2,
  .catalog-ordering .order {
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .avada-customer-details .addresses .col-1,
  .avada-myaccount-data .addresses .col-1,
  .avada-customer-details .addresses .col-2,
  .avada-myaccount-data .addresses .col-2 {
    margin: 0 !important;
    width: 100%;
  }
  #wrapper .catalog-ordering {
    margin-bottom: 50px;
  }
  #wrapper .orderby-order-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin: 0 auto 10px;
    width: 225px;
    float: none;
  }
  #wrapper .order-dropdown > li:hover > ul {
    display: block;
    position: relative;
    top: 0;
  }
  #wrapper .orderby.order-dropdown {
    width: 176px;
  }
  #wrapper .sort-count.order-dropdown {
    display: block;
    width: 225px;
  }
  #wrapper .sort-count.order-dropdown ul a {
    width: 225px;
  }
  #wrapper .catalog-ordering .order {
    margin: 0;
  }
  #wrapper .product .avada-single-product-gallery-wrapper {
    float: left;
    width: 48%;
  }
  #wrapper .product .images {
    width: 100%;
  }
  #wrapper .product .summary.entry-summary {
    float: left !important;
    margin-left: 4% !important;
    width: 48% !important;
  }
  #wrapper .woocommerce-tabs .tabs {
    width: 26% !important;
    float: left !important;
  }
  #wrapper .woocommerce-tabs .panel {
    float: right !important;
    width: 70% !important;
    margin-left: 4%;
    padding: 4% !important;
  }
  .catalog-ordering .fusion-grid-list-view {
    display: block;
    width: 78px;
  }
  .products-2 li:nth-child(2n+1),
  .products-3 li:nth-child(3n+1),
  .products-4 li:nth-child(4n+1),
  .products-5 li:nth-child(5n+1),
  .products-6 li:nth-child(6n+1) {
    clear: none !important;
  }
  #main .products li:nth-child(3n),
  #main .products li:nth-child(4n),
  .products li {
    width: 32.3% !important;
    float: left !important;
    margin-right: 1% !important;
  }
  .avada-myaccount-data .my_account_orders .woocommerce-orders-table__cell-order-number {
    padding-right: 8px;
  }
  .avada-myaccount-data .my_account_orders .woocommerce-orders-table__cell-order-actions {
    padding-left: 8px;
  }
  .shop_table .product-name {
    width: 35%;
  }
  .shop_table .product-thumbnail {
    float: none;
    padding: 10px 0;
  }
  .shop_table .product-thumbnail .product-info,
  .shop_table .product-thumbnail .product-info p,
  .shop_table .product-thumbnail img {
    float: none;
    width: 100%;
    margin: 0 !important;
    padding: 0;
  }
  #wrapper #customer_login .col-1,
  #wrapper #customer_login .col-2,
  #wrapper .cart_totals,
  #wrapper .shipping-coupon,
  #wrapper .woocommerce form.checkout #customer_details .col-1,
  #wrapper .woocommerce form.checkout #customer_details .col-2,
  #wrapper .woocommerce-content-box,
  #wrapper .woocommerce-side-nav,
  .fusion-body .woocommerce-MyAccount-content,
  .fusion-body .woocommerce-MyAccount-navigation {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
  }
  #customer_login .col-1,
  .coupon {
    margin-bottom: 20px;
  }
  .product-info {
    margin-left: 0;
    margin-top: 10px;
  }
  .product .entry-summary div .price {
    float: none;
  }
  .product .entry-summary .woocommerce-product-rating {
    float: none;
    margin-left: 0;
  }
  .product .images {
    margin-bottom: 30px;
  }
  .product .images #carousel .flex-direction-nav,
  .product .images #slider .flex-direction-nav {
    display: none !important;
  }
  .woocommerce-MyAccount-navigation,
  .woocommerce-side-nav,
  .woocommerce-tabs .tabs {
    margin-bottom: 25px;
  }
  .woocommerce-tabs .panel {
    width: 91% !important;
    padding: 4% !important;
  }
  #reviews li .avatar {
    display: none;
  }
  #reviews li .comment-text {
    width: 90% !important;
    margin-left: 0 !important;
    padding: 5% !important;
  }
  .woocommerce-container .social-share {
    overflow: hidden;
  }
  .woocommerce-container .social-share li {
    display: block;
    float: left;
    margin: 0 auto;
    border-right: 0 !important;
    border-left: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 25%;
  }
  .has-sidebar .woocommerce-container .social-share li {
    width: 50%;
  }
  .avada-myaccount-user {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .avada-myaccount-user .avada-myaccount-user-column {
    width: 100%;
    display: block;
    padding: 5px 0;
    border-right: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .rtl .avada-myaccount-user .avada-myaccount-user-column {
    border-left: 0;
  }
  .avada-myaccount-user .username .not-user {
    display: inline;
  }
  .fusion-body .avada-myaccount-user .username .not-user {
    padding: 0 5px;
  }
  .avada-has-woo-gallery-disabled.product .entry-summary .summary-container,
  .avada-has-woo-gallery-disabled .product .entry-summary .summary-container {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=min-768-max-1024-woo.css.map */