.fusion-blog-layout-grid-6 .fusion-post-grid,
.fusion-grid-6 .fusion-grid-column,
.fusion-portfolio-six .fusion-portfolio-post {
  width: 20% !important;
}
.fusion-blog-layout-grid-6 .fusion-post-grid.fusion-element-landscape,
.fusion-grid-6 .fusion-grid-column.fusion-element-landscape,
.fusion-portfolio-six .fusion-portfolio-post.fusion-element-landscape {
  width: 40% !important;
}
.fusion-blog-layout-grid-4 .fusion-post-grid,
.fusion-blog-layout-grid-5 .fusion-post-grid,
.fusion-grid-4 .fusion-grid-column,
.fusion-grid-5 .fusion-grid-column,
.fusion-portfolio-five .fusion-portfolio-post,
.fusion-portfolio-four .fusion-portfolio-post {
  width: 33.3333333333% !important;
}
.fusion-blog-layout-grid-4 .fusion-post-grid.fusion-element-landscape,
.fusion-blog-layout-grid-5 .fusion-post-grid.fusion-element-landscape,
.fusion-grid-4 .fusion-grid-column.fusion-element-landscape,
.fusion-grid-5 .fusion-grid-column.fusion-element-landscape,
.fusion-portfolio-five .fusion-portfolio-post.fusion-element-landscape,
.fusion-portfolio-four .fusion-portfolio-post.fusion-element-landscape {
  width: 66.6666666666% !important;
}
/*# sourceMappingURL=min-4c-max-5c.css.map */