.fusion-grid-6 .fusion-grid-column,
.fusion-portfolio-six .fusion-portfolio-post,
.grid-layout-6 .fusion-post-grid {
  width: 20% !important;
}
.fusion-grid-6 .fusion-grid-column.fusion-element-landscape,
.fusion-portfolio-six .fusion-portfolio-post.fusion-element-landscape,
.grid-layout-6 .fusion-post-grid.fusion-element-landscape {
  width: 40% !important;
}
.fusion-blog-layout-grid-5 .fusion-post-grid,
.fusion-grid-5 .fusion-grid-column,
.fusion-portfolio-five .fusion-portfolio-post {
  width: 25% !important;
}
.fusion-blog-layout-grid-5 .fusion-post-grid.fusion-element-landscape,
.fusion-grid-5 .fusion-grid-column.fusion-element-landscape,
.fusion-portfolio-five .fusion-portfolio-post.fusion-element-landscape {
  width: 50% !important;
}
/*# sourceMappingURL=min-5c-max-6c.css.map */