.ilightbox-holder.supportTouch div.ilightbox-container {
  overflow: visible;
}
.widget.tweets.fusion-widget-align-right .jtwt .jtwt_tweet {
  padding-left: 0;
  padding-right: 45px;
}
.widget.tweets.fusion-widget-align-right .jtwt .jtwt_tweet:before {
  margin-left: 0;
  right: 0;
}
.widget.tweets.fusion-widget-align-center .jtwt .jtwt_tweet {
  padding: 0;
}
.widget.tweets.fusion-widget-align-center .jtwt .jtwt_tweet:before {
  top: 0;
  position: relative;
  margin: 0;
}
.widget.tribe-events-list-widget.fusion-widget-align-right .tribe-events-list-widget-events {
  -ms-flex-pack: end;
      justify-content: end;
}
.widget.tribe-events-list-widget.fusion-widget-align-center .tribe-events-list-widget-events {
  -ms-flex-pack: center;
      justify-content: center;
}
.fusion-body .fusion-footer-widget-area-center .widget.tweets:not(.fusion-widget-align-left):not(.fusion-widget-align-right) .jtwt .jtwt_tweet {
  padding: 0;
}
.fusion-body .fusion-footer-widget-area-center .widget.tweets:not(.fusion-widget-align-left):not(.fusion-widget-align-right) .jtwt .jtwt_tweet:before {
  top: 0;
  position: relative;
  margin: 0;
}
.no-overflow-y body {
  padding-right: 9px !important;
}
.no-overflow-y .modal {
  overflow-y: hidden;
}
.no-overflow-y .fusion-sliding-bar-position-top,
.no-overflow-y .fusion-sliding-bar-position-bottom {
  right: 9px;
}
.no-desktop-totop .to-top-container {
  display: none;
}
/*# sourceMappingURL=min-sh-cbp.css.map */