.woo-tabs-horizontal .woocommerce-MyAccount-navigation > ul,
.woo-tabs-horizontal .woocommerce-checkout-nav {
  width: 100%;
}
.woo-tabs-horizontal .woocommerce-MyAccount-navigation > ul li,
.woo-tabs-horizontal .woocommerce-checkout-nav li {
  float: left;
}
.rtl .woo-tabs-horizontal .woocommerce-MyAccount-navigation > ul li,
.rtl .woo-tabs-horizontal .woocommerce-checkout-nav li {
  float: right;
}
.woo-tabs-horizontal .woocommerce-MyAccount-navigation > ul li a,
.woo-tabs-horizontal .woocommerce-checkout-nav li a {
  border: 1px solid transparent !important;
  padding: 10px 20px;
  height: auto;
  line-height: normal;
}
.woo-tabs-horizontal .woocommerce-MyAccount-navigation > ul li a:after,
.woo-tabs-horizontal .woocommerce-checkout-nav li a:after {
  display: none;
}
.woo-tabs-horizontal .woocommerce-MyAccount-navigation > ul .is-active,
.woo-tabs-horizontal .woocommerce-checkout-nav .is-active {
  border: 1px solid #dddddd;
  border-bottom: none;
  min-height: 40px;
  margin-bottom: -1px;
}
.woo-tabs-horizontal .woocommerce-MyAccount-navigation > ul .is-active:hover a,
.woo-tabs-horizontal .woocommerce-checkout-nav .is-active:hover a {
  cursor: default;
}
.woocommerce .cart-empty ~ .woocommerce-notices-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-42%);
}
.woocommerce .cart-empty ~ .woocommerce-notices-wrapper .woocommerce-message {
  padding: 0 10px;
  white-space: nowrap;
  height: 55px;
  line-height: 55px;
}
.show_details_button.fusion-has-quick-view {
  display: none !important;
}
/*# sourceMappingURL=min-sh-cbp-woo.css.map */