.fusion-blog-layout-grid-6 .fusion-post-grid,
.fusion-grid-6 .fusion-grid-column,
.fusion-portfolio-six .fusion-portfolio-post {
  width: 33.3333333333% !important;
}
.fusion-blog-layout-grid-6 .fusion-post-grid.fusion-element-landscape,
.fusion-grid-6 .fusion-grid-column.fusion-element-landscape,
.fusion-portfolio-six .fusion-portfolio-post.fusion-element-landscape {
  width: 66.6666666666% !important;
}
.fusion-blog-layout-grid-3 .fusion-post-grid,
.fusion-blog-layout-grid-4 .fusion-post-grid,
.fusion-blog-layout-grid-5 .fusion-post-grid,
.fusion-grid-3 .fusion-grid-column,
.fusion-grid-4 .fusion-grid-column,
.fusion-grid-5 .fusion-grid-column,
.fusion-portfolio-five .fusion-portfolio-post,
.fusion-portfolio-four .fusion-portfolio-post,
.fusion-portfolio-masonry .fusion-portfolio-post,
.fusion-portfolio-three .fusion-portfolio-post {
  width: 50% !important;
}
.fusion-blog-layout-grid-3 .fusion-post-grid.fusion-element-landscape,
.fusion-blog-layout-grid-4 .fusion-post-grid.fusion-element-landscape,
.fusion-blog-layout-grid-5 .fusion-post-grid.fusion-element-landscape,
.fusion-grid-3 .fusion-grid-column.fusion-element-landscape,
.fusion-grid-4 .fusion-grid-column.fusion-element-landscape,
.fusion-grid-5 .fusion-grid-column.fusion-element-landscape,
.fusion-portfolio-five .fusion-portfolio-post.fusion-element-landscape,
.fusion-portfolio-four .fusion-portfolio-post.fusion-element-landscape,
.fusion-portfolio-masonry .fusion-portfolio-post.fusion-element-landscape,
.fusion-portfolio-three .fusion-portfolio-post.fusion-element-landscape {
  width: 100% !important;
}
.fusion-columns-1 .fusion-column:first-child,
.fusion-columns-2 .fusion-column:first-child,
.fusion-columns-3 .fusion-column:first-child,
.fusion-columns-4 .fusion-column:first-child,
.fusion-columns-5 .fusion-column:first-child {
  margin-left: 0;
}
.fusion-column,
.fusion-column:nth-child(2n),
.fusion-column:nth-child(3n),
.fusion-column:nth-child(4n),
.fusion-column:nth-child(5n) {
  margin-right: 0;
}
#wrapper {
  width: auto !important;
}
#wrapper .share-box h4 {
  float: none;
  line-height: 20px !important;
  padding: 0;
}
#wrapper .ei-slider {
  width: 100% !important;
  height: 200px !important;
}
.create-block-format-context {
  display: none;
}
.columns .col {
  float: none;
  width: 100% !important;
  margin: 0;
  box-sizing: border-box;
}
.fullwidth-box {
  background-attachment: scroll !important;
}
.fullwidth-box .fullwidth-faded {
  background-attachment: scroll !important;
}
.review {
  float: none;
  width: 100%;
}
.fusion-social-networks {
  display: block;
  text-align: center;
  padding: 0 0 15px;
}
.fusion-sharing-box .fusion-social-networks {
  padding-bottom: 0;
}
.fusion-social-networks:after {
  content: "";
  display: block;
  clear: both;
}
.fusion-social-networks li {
  float: none;
  display: inline-block;
}
.fusion-social-links-footer {
  width: auto;
}
.fusion-social-links-footer .fusion-social-networks {
  display: inline-block;
  float: none;
}
.fusion-author .fusion-author-ssocial .fusion-author-tagline {
  float: none;
  text-align: center;
  max-width: 100%;
}
.fusion-author .fusion-author-ssocial .fusion-social-networks {
  text-align: center;
}
.fusion-author .fusion-author-ssocial .fusion-social-networks .fusion-social-network-icon:first-child {
  margin-left: 0;
}
.fusion-page-title-wrapper {
  display: block;
}
.fusion-page-title-bar-left .fusion-page-title-captions,
.fusion-page-title-bar-right .fusion-page-title-captions,
.fusion-page-title-bar-left .fusion-page-title-secondary,
.fusion-page-title-bar-right .fusion-page-title-secondary {
  display: block;
  float: none;
  width: 100%;
  line-height: normal;
}
.fusion-page-title-bar-left .fusion-page-title-secondary {
  text-align: left;
}
.fusion-page-title-bar-left .searchform {
  display: block;
  max-width: 100%;
}
.fusion-page-title-bar .fusion-page-title-secondary {
  margin: 2px 0 0;
}
.fusion-page-title-bar-right .fusion-page-title-secondary {
  text-align: right;
}
.fusion-page-title-bar-right .searchform {
  max-width: 100%;
}
.sidebar .social_links .social li {
  width: auto;
  margin-right: 5px;
}
#comment-input {
  margin-bottom: 0;
}
#comment-input input {
  width: 90%;
  float: none !important;
  margin-bottom: 10px;
}
#comment-textarea textarea {
  width: 90%;
}
.pagination {
  margin-top: 40px;
}
.portfolio-one .portfolio-item .image {
  float: none;
  width: auto;
  height: auto;
  margin-bottom: 20px;
}
h5.toggle span.toggle-title {
  width: 80%;
}
.share-box {
  height: auto;
}
.share-box ul {
  float: none;
  overflow: hidden;
  padding: 0 25px 15px;
  margin-top: 0;
}
.share-box .social-networks {
  text-align: left;
}
.project-content .project-description {
  float: none !important;
}
.project-content .fusion-project-description-details {
  margin-bottom: 50px;
}
.project-content .project-description,
.project-content .project-info {
  width: 100% !important;
}
.portfolio-half .flexslider {
  width: 100%;
}
.portfolio-half .project-content {
  width: 100% !important;
}
#style_selector {
  display: none;
}
.faq-tabs,
.portfolio-tabs {
  height: auto;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.faq-tabs li,
.portfolio-tabs li {
  float: left;
  margin-right: 30px;
  border-bottom: 0;
}
.ls-avada .ls-nav-next,
.ls-avada .ls-nav-prev {
  display: none !important;
}
nav#nav,
nav#sticky-nav {
  margin-right: 0;
}
#footer .social-networks {
  width: 100%;
  margin: 0 auto;
  position: relative;
  left: -11px;
}
.tab-holder .tabs {
  height: auto !important;
  width: 100% !important;
}
.shortcode-tabs .tab-hold .tabs li {
  width: 100% !important;
}
body.dark .sidebar .tab-hold .tabs li,
body .shortcode-tabs .tab-hold .tabs li {
  border-right: none !important;
}
body #small-nav {
  visibility: visible !important;
}
.error_page .useful_links {
  width: 100%;
  padding-left: 0;
}
.fusion-google-map {
  width: 100% !important;
}
.fusion-blog-layout-medium-alternate .fusion-post-content {
  -ms-flex: 1 0 100%;
      flex: 1 0 100%;
  width: 100%;
  padding-top: 20px;
}
.popup {
  display: none !important;
}
.gform_wrapper .gfield input[type="text"],
.gform_wrapper .gfield textarea,
.wpcf7-form .wpcf7-text,
.wpcf7-form .wpcf7-quiz,
.wpcf7-form .wpcf7-number,
.wpcf7-form textarea,
.gform_wrapper .ginput_complex .ginput_left,
.gform_wrapper .ginput_complex .ginput_right {
  float: none !important;
  width: 100% !important;
  box-sizing: border-box;
}
#nav-uber #megaMenu {
  width: 100%;
}
#toTop {
  bottom: 30px;
  border-radius: 4px;
  height: 40px;
}
#toTop:before {
  line-height: 38px;
}
#toTop:hover {
  background-color: #333333;
}
.no-mobile-totop .to-top-container {
  display: none;
}
.no-mobile-slidingbar #slidingbar-area {
  display: none;
}
.no-mobile-slidingbar .fusion-flyout-sliding-bar-toggle {
  display: none;
}
.tfs-slider .slide-content-container .btn {
  min-height: 0 !important;
  padding-left: 20px;
  padding-right: 20px !important;
  height: 26px !important;
  line-height: 26px !important;
}
.fusion-soundcloud iframe {
  width: 100%;
}
.fusion-columns-2 .fusion-column,
.fusion-columns-4 .fusion-column,
.fusion-columns-2 .fusion-flip-box-wrapper,
.fusion-columns-4 .fusion-flip-box-wrapper {
  width: 50% !important;
  float: left !important;
}
.fusion-columns-2 .fusion-column:nth-of-type(2n+1),
.fusion-columns-2 .fusion-flip-box-wrapper:nth-of-type(2n+1),
.fusion-columns-4 .fusion-column:nth-of-type(2n+1) {
  clear: both;
}
.fusion-columns-3 .fusion-column,
.fusion-columns-3 .fusion-flip-box-wrapper,
.fusion-columns-5 .col-lg-2,
.fusion-columns-5 .col-md-2,
.fusion-columns-5 .col-sm-2,
.fusion-columns-5 .fusion-column,
.fusion-columns-5 .fusion-flip-box-wrapper,
.fusion-columns-6 .fusion-column,
.fusion-columns-6 .fusion-flip-box-wrapper {
  width: 33.33% !important;
  float: left !important;
}
.fusion-columns-3 .fusion-column:nth-of-type(3n+1),
.fusion-columns-5 .fusion-column:nth-of-type(3n+1),
.fusion-columns-6 .fusion-column:nth-of-type(3n+1),
.fusion-columns-3 .fusion-flip-box-wrapper:nth-of-type(3n+1),
.fusion-columns-5 .fusion-flip-box-wrapper:nth-of-type(3n+1),
.fusion-columns-6 .fusion-flip-box-wrapper:nth-of-type(3n+1) {
  clear: both;
}
.footer-area .fusion-column,
.fusion-sliding-bar-position-bottom .fusion-column,
.fusion-sliding-bar-position-top .fusion-column {
  margin-bottom: 40px;
}
.fusion-layout-column.fusion-five-sixth,
.fusion-layout-column.fusion-four-fifth,
.fusion-layout-column.fusion-one-fifth,
.fusion-layout-column.fusion-one-fourth,
.fusion-layout-column.fusion-one-half,
.fusion-layout-column.fusion-one-sixth,
.fusion-layout-column.fusion-one-third,
.fusion-layout-column.fusion-three-fifth,
.fusion-layout-column.fusion-three-fourth,
.fusion-layout-column.fusion-two-fifth,
.fusion-layout-column.fusion-two-third {
  position: relative;
  margin-bottom: 20px;
  float: left;
  margin-right: 4%;
}
.rtl .fusion-layout-column.fusion-five-sixth,
.rtl .fusion-layout-column.fusion-four-fifth,
.rtl .fusion-layout-column.fusion-one-fifth,
.rtl .fusion-layout-column.fusion-one-fourth,
.rtl .fusion-layout-column.fusion-one-half,
.rtl .fusion-layout-column.fusion-one-sixth,
.rtl .fusion-layout-column.fusion-one-third,
.rtl .fusion-layout-column.fusion-three-fifth,
.rtl .fusion-layout-column.fusion-three-fourth,
.rtl .fusion-layout-column.fusion-two-fifth,
.rtl .fusion-layout-column.fusion-two-third {
  float: right;
  margin-left: 4%;
  margin-right: 0;
}
.fusion-layout-column.fusion-one-sixth {
  width: 13.3333%;
}
.fusion-layout-column.fusion-five-sixth {
  width: 82.6666%;
}
.fusion-layout-column.fusion-one-fifth {
  width: 16.8%;
}
.fusion-layout-column.fusion-two-fifth {
  width: 37.6%;
}
.fusion-layout-column.fusion-three-fifth {
  width: 58.4%;
}
.fusion-layout-column.fusion-four-fifth {
  width: 79.2%;
}
.fusion-layout-column.fusion-one-fourth {
  width: 22%;
}
.fusion-layout-column.fusion-three-fourth {
  width: 74%;
}
.fusion-layout-column.fusion-one-third {
  width: 30.6666%;
}
.fusion-layout-column.fusion-two-third {
  width: 65.3333%;
}
.fusion-layout-column.fusion-one-half {
  width: 48%;
}
.fusion-layout-column.fusion-one-full {
  clear: both;
}
.fusion-layout-column.fusion-spacing-no {
  margin-left: 0;
  margin-right: 0;
}
.fusion-layout-column.fusion-spacing-no.fusion-one-sixth {
  width: 16.6666666667%;
}
.fusion-layout-column.fusion-spacing-no.fusion-five-sixth {
  width: 83.333333333%;
}
.fusion-layout-column.fusion-spacing-no.fusion-one-fifth {
  width: 20%;
}
.fusion-layout-column.fusion-spacing-no.fusion-two-fifth {
  width: 40%;
}
.fusion-layout-column.fusion-spacing-no.fusion-three-fifth {
  width: 60%;
}
.fusion-layout-column.fusion-spacing-no.fusion-four-fifth {
  width: 80%;
}
.fusion-layout-column.fusion-spacing-no.fusion-one-fourth {
  width: 25%;
}
.fusion-layout-column.fusion-spacing-no.fusion-three-fourth {
  width: 75%;
}
.fusion-layout-column.fusion-spacing-no.fusion-one-third {
  width: 33.33333333%;
}
.fusion-layout-column.fusion-spacing-no.fusion-two-third {
  width: 66.66666667%;
}
.fusion-layout-column.fusion-spacing-no.fusion-one-half {
  width: 50%;
}
.fusion-layout-column.fusion-column-last {
  clear: right;
  zoom: 1;
  margin-left: 0;
  margin-right: 0;
}
.rtl .fusion-layout-column.fusion-column-last {
  clear: left;
  margin-left: 0;
}
.fusion-layout-column.fusion-column-last.fusion-one-full {
  clear: both;
}
.avada-footer-fx-bg-parallax .fusion-footer-widget-area {
  background-attachment: initial;
  margin: 0;
}
.avada-footer-fx-bg-parallax #main {
  margin-bottom: 0;
}
.fusion-column.fusion-spacing-no {
  margin-bottom: 0;
  width: 100% !important;
}
.ua-mobile #main,
.ua-mobile .fusion-footer-widget-area,
.ua-mobile .page-title-bar,
.ua-mobile body {
  background-attachment: scroll !important;
}
#footer > .fusion-row,
#header-sticky .fusion-row,
.footer-area > .fusion-row,
.fusion-header .fusion-row,
.fusion-secondary-header .fusion-row {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
#main,
.fullwidth-box,
.fusion-footer-widget-area,
.page-title-bar,
body {
  background-attachment: scroll !important;
}
#customer_login_box .button {
  float: left;
  margin-bottom: 15px;
}
#customer_login_box .remember-box {
  clear: both;
  display: block;
  padding: 0;
  width: 125px;
  float: left;
}
#customer_login_box .lost_password {
  float: left;
}
.avada-responsive.rtl:not(.avada-menu-highlight-style-background) .fusion-header-v1 .fusion-main-menu > ul > li,
.avada-responsive.rtl:not(.avada-menu-highlight-style-background) .fusion-header-v2 .fusion-main-menu > ul > li,
.avada-responsive.rtl:not(.avada-menu-highlight-style-background) .fusion-header-v3 .fusion-main-menu > ul > li,
.avada-responsive.rtl:not(.avada-menu-highlight-style-background) .fusion-header-v4 .fusion-main-menu > ul > li,
.avada-responsive.rtl:not(.avada-menu-highlight-style-background) .fusion-header-v5 .fusion-main-menu > ul > li,
.avada-responsive.rtl:not(.avada-menu-highlight-style-background) .fusion-header-v7 .fusion-main-menu > ul > li {
  padding-left: var(--mobile_nav_padding);
}
.avada-responsive:not(.rtl):not(.avada-menu-highlight-style-background) .fusion-header-v1 .fusion-main-menu > ul > li,
.avada-responsive:not(.rtl):not(.avada-menu-highlight-style-background) .fusion-header-v2 .fusion-main-menu > ul > li,
.avada-responsive:not(.rtl):not(.avada-menu-highlight-style-background) .fusion-header-v3 .fusion-main-menu > ul > li,
.avada-responsive:not(.rtl):not(.avada-menu-highlight-style-background) .fusion-header-v4 .fusion-main-menu > ul > li,
.avada-responsive:not(.rtl):not(.avada-menu-highlight-style-background) .fusion-header-v5 .fusion-main-menu > ul > li,
.avada-responsive:not(.rtl):not(.avada-menu-highlight-style-background) .fusion-header-v7 .fusion-main-menu > ul > li {
  padding-right: var(--mobile_nav_padding);
}
.fusion-body .fusion-page-title-bar {
  padding-top: 5px;
  padding-bottom: 5px;
}
.fusion-body.avada-has-page-title-mobile-height-auto .fusion-page-title-bar {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
}
.fusion-body:not(.avada-has-page-title-mobile-height-auto) .fusion-page-title-bar {
  min-height: calc(var(--page_title_mobile_height) - 10px);
}
.fusion-body:not(.avada-has-page-title-mobile-height-auto) .fusion-page-title-bar {
  height: auto;
}
.fusion-body:not(.avada-has-page-title-mobile-height-auto) .fusion-page-title-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  min-height: calc(var(--page_title_mobile_height) - 10px);
}
.fusion-body:not(.avada-has-page-title-mobile-height-auto) .fusion-page-title-bar-center .fusion-page-title-row {
  width: auto;
}
.fusion-body:not(.avada-has-page-title-mobile-height-auto) .fusion-page-title-captions {
  width: 100%;
}
.avada-has-breadcrumb-mobile-hidden.fusion-body .fusion-page-title-bar .fusion-breadcrumbs {
  display: none;
}
.avada-has-slider-fallback-image #sliders-container {
  display: none;
}
.avada-has-slider-fallback-image #fallback-slide {
  display: block;
}
/*# sourceMappingURL=min-768-max-1024-p.css.map */