.fusion-icon-only-link .menu-title {
  display: none;
}
.fusion-main-menu > ul > li > a.fusion-icon-only-link > .fusion-megamenu-icon {
  padding: 0;
}
body.side-header-right.layout-boxed-mode #side-header {
  position: absolute;
  top: 0;
  right: 0;
}
body.side-header-right.layout-boxed-mode #side-header .side-header-wrapper {
  position: fixed;
  width: var(--side_header_width);
}
.fusion-mobile-menu-search {
  display: none !important;
}
.fusion-header-wrapper .fusion-header .fusion-logo-background:after {
  top: calc((var(--header_padding-top)) * -1);
  border-top: var(--header_padding-top) solid var(--logo_background_color);
  border-bottom: var(--header_padding-bottom) solid var(--logo_background_color);
}
.avada-has-logo-background.avada-responsive.fusion-top-header:not(.fusion-header-layout-v4):not(.fusion-header-layout-v5) .fusion-header .fusion-logo-background {
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  background-color: var(--logo_background_color);
}
.avada-has-logo-background.avada-responsive.fusion-top-header:not(.fusion-header-layout-v4):not(.fusion-header-layout-v5) .fusion-header-wrapper .fusion-header .fusion-logo-background:after {
  content: "";
  pointer-events: none;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}
.avada-has-logo-background.avada-responsive.fusion-top-header:not(.fusion-header-layout-v4):not(.fusion-header-layout-v5):not(.fusion-header-layout-v7) .fusion-header .fusion-logo-background {
  float: var(--logo_alignment);
}
.avada-has-logo-background.avada-responsive.fusion-top-header:not(.fusion-header-layout-v4):not(.fusion-header-layout-v5):not(.fusion-header-layout-v7).avada-has-header-100-width .fusion-logo-left .fusion-header,
.avada-has-logo-background.avada-responsive.fusion-top-header:not(.fusion-header-layout-v4):not(.fusion-header-layout-v5):not(.fusion-header-layout-v7).avada-has-header-100-width .fusion-logo-center .fusion-header {
  padding-left: 0;
}
.avada-has-logo-background.avada-responsive.fusion-top-header:not(.fusion-header-layout-v4):not(.fusion-header-layout-v5):not(.fusion-header-layout-v7).avada-has-header-100-width .fusion-logo-right .fusion-header {
  padding-right: 0;
}
.avada-has-logo-background.avada-responsive.fusion-top-header:not(.fusion-header-layout-v4):not(.fusion-header-layout-v5).mobile-logo-pos-center .fusion-header .fusion-logo-background {
  float: left;
}
.avada-has-logo-background.fusion-header-layout-v6.mobile-logo-pos-right.avada-has-header-100-width .fusion-header {
  -ms-flex-order: 2;
      order: 2;
}
.avada-has-logo-background.fusion-header-layout-v6.mobile-logo-pos-right .fusion-header .fusion-logo-background {
  -ms-flex-order: 2;
      order: 2;
}
.avada-has-logo-background:not(.fusion-top-header) .side-header-content.fusion-logo-center,
.avada-has-logo-background:not(.fusion-top-header) .side-header-content.fusion-logo-left,
.avada-has-logo-background:not(.fusion-top-header) .side-header-content.fusion-logo-right {
  background-color: var(--logo_background_color);
}
html.avada-header-color-not-opaque .fusion-header,
html.avada-header-color-not-opaque .fusion-secondary-header {
  border-top: none;
}
html.avada-header-color-not-opaque .fusion-header-v1 .fusion-header,
html.avada-header-color-not-opaque .fusion-secondary-main-menu {
  border: none;
}
html.avada-header-color-not-opaque .fusion-header-wrapper {
  position: absolute;
  z-index: 10000;
}
html.avada-header-color-not-opaque .fusion-header-wrapper .fusion-header {
  background-image: none;
}
html.avada-header-color-not-opaque .layout-boxed-mode .fusion-header-wrapper {
  width: 100%;
  max-width: var(--site_width);
}
html.avada-header-color-not-opaque .layout-wide-mode .fusion-header-wrapper {
  left: 0;
  right: 0;
}
.avada-has-logo-background.avada-sticky-shrinkage:not(.fusion-header-layout-v4):not(.fusion-header-layout-v5) .fusion-header-wrapper.fusion-is-sticky .fusion-header .fusion-logo-background:after {
  transition: border-width 0.25s ease-in-out;
  border-bottom-width: 0;
}
.avada-has-logo-background.fusion-top-header.fusion-header-layout-v7:not(.avada-menu-highlight-style-background) .fusion-header .fusion-logo-background {
  padding-right: 0;
  margin-right: var(--nav_padding);
}
.avada-has-logo-background.fusion-top-header.fusion-header-layout-v7:not(.avada-menu-highlight-style-background) .fusion-is-sticky .fusion-header .fusion-logo-background {
  padding-right: 0;
  margin-right: var(--header_sticky_nav_padding);
}
/*# sourceMappingURL=min-shbp.css.map */