.fullwidth-box {
  background-attachment: scroll !important;
}
.fullwidth-box .fullwidth-faded {
  background-attachment: scroll !important;
}
.avada-footer-fx-bg-parallax .fusion-footer-widget-area {
  background-attachment: initial;
  margin: 0;
}
.avada-footer-fx-bg-parallax #main {
  margin-bottom: 0;
}
#main,
.fullwidth-box,
.fusion-footer-widget-area,
.page-title-bar,
body {
  background-attachment: scroll !important;
}
.avada-responsive.rtl .fusion-header-v1 .fusion-main-menu > ul > li,
.avada-responsive.rtl .fusion-header-v2 .fusion-main-menu > ul > li,
.avada-responsive.rtl .fusion-header-v3 .fusion-main-menu > ul > li,
.avada-responsive.rtl .fusion-header-v4 .fusion-main-menu > ul > li,
.avada-responsive.rtl .fusion-header-v5 .fusion-main-menu > ul > li,
.avada-responsive.rtl .fusion-header-v7 .fusion-main-menu > ul > li {
  padding-left: var(--mobile_nav_padding);
}
.avada-responsive:not(.rtl) .fusion-header-v1 .fusion-main-menu > ul > li,
.avada-responsive:not(.rtl) .fusion-header-v2 .fusion-main-menu > ul > li,
.avada-responsive:not(.rtl) .fusion-header-v3 .fusion-main-menu > ul > li,
.avada-responsive:not(.rtl) .fusion-header-v4 .fusion-main-menu > ul > li,
.avada-responsive:not(.rtl) .fusion-header-v5 .fusion-main-menu > ul > li,
.avada-responsive:not(.rtl) .fusion-header-v7 .fusion-main-menu > ul > li {
  padding-right: var(--mobile_nav_padding);
}
/*# sourceMappingURL=min-768-max-1024-l.css.map */