.fusion-body .fusion-footer-widget-area-center .bbp_widget_login:not(.fusion-widget-mobile-align-left):not(.fusion-widget-mobile-align-right) .bbp-logged-in img.avatar {
  float: none;
  margin: 0;
}
.bbp_widget_login.fusion-widget-align-center .bbp-logged-in img.avatar {
  float: none;
  margin: 0;
}
/*# sourceMappingURL=min-sh-cbp-bbpress.css.map */